<div *ngIf="cv===null">
    No candidate detail available
</div>

<div class="stdd row" style="margin-left: 25px;" *ngIf="cv!==null && cv!==undefined">

     <input type="checkbox"
          class="form-check-input"
          [checked]="cv!.checked"
          value="cv.id"
          (change)="CVChecked(cv!)"
     >

     <div class="stdd w70" title="click to edit" mouseover="style.cursor = 'pointer'" 
          routerLink="/candidates/edit/{{cv.id}}">{{cv.applicationNo}}</div>
     
     <div class="stdd mx-1 w160" (click)="candidateHistory(cv.id)"  
          title="contact history of the candidate" >{{cv.fullName}}</div> 

     <div class="stdd mx-1 w100">{{cv.city}}</div>
     <div class="stdd mx-1 w200" >{{cv.referredByName}}</div>
     
     <div class="stdd mx-1 w300" style="border:aqua">{{cv!.userProfessions!.flat()}}     
     </div>
     
     <!-- 
          <tx-document-viewer width="800px" class="stdd w100"
          height="800px"
          basePath="https://localhost:5001"
          dock="Fill"
          toolbarDocked=true
          isSelectionActivated=true
          showThumbnailPane=true>
     </tx-document-viewer>
     -->
          <!-- <button class="w30 fa fa-pencil" style="display: inline-block;" type="button" routerLink="/candidate/edit/{{cv.id}}" ></button> -->
          <!-- <button class="stdd fSmall fa fa-eye" type="button" routerLink="/candidate/view/{{cv.id}}" ></button> -->
     <button (click)="editCV(cv.id)" type="button" 
          class="btn" type="button" title="edit the candidate profile">
          <mat-icon>edit</mat-icon>
     </button>

     <button (click)="cvAssessClicked(cv)" type="button" 
          class="btn compress" type="button" title="Assess the CV"><mat-icon>playlist_add_check</mat-icon>
     </button>

     <button (click)="download(cv.id)" type="button" class="btn fa fa-download" type="button" 
          title="download the CV">
     </button>
     
     <button (click)="assignToInterview(cv.id)" type="button" class="btn w10" type="button" 
          title="assign candidates to an open interview category"><mat-icon>forward</mat-icon>
     </button>

     <button (click)="deleteCV(cv.id)" type="button" class="btn" type="button" 
          title="delete this CV along with all its attachments"><mat-icon>delete</mat-icon>
     </button>

     <!-- <app-cv-assess *ngIf="currentId===item.id" [header]="header" [candidateAssessment]="assessment" ></app-cv-assess> -->
</div>

