.stdd {
    display: inline-block;
    vertical-align: top;
}

.lbl {display: inline-block;
    text-align: right;
    width: 100px;
    font-weight: bold;
    font-size: medium;
    margin-left: 5px;
    vertical-align: top;
}

.stddlist {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    font-size: medium;
}
.stddM {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-size: small;
}

.b {font-weight: bold;}
.w15 {width: 15px;}
.w45{width: 45px;}
.w100 {width: 100px;}
.w50 {width: 50px;}
.w70 {width: 70px;}
.w100 {width: 100px;}
.w180 {width: 175px;}
.w200 {width: 200px;}
.w300 {width: 300px;}