<div *ngIf="pagination" class="stdd">

     <pagination
          class="stdd"
          [totalItems]="pagination!.totalItems"
          [itemsPerPage]="pagination!.itemsPerPage"
          (pageChanged)="onPageChanged($event)"
          [maxSize]="10"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;">
     ></pagination>
 
 
 <div class="stdd" *ngIf="cvs">
      <input (keyup.enter)="onSearch()" type="text" title="enter name or app nos, separated by commma" 
           class="stdd form-control w300" style="margin-left: 20px;" #search placeholder="Search">
      <button type="button" (click)="onSearch()" class="stdd btn btn-outline-primary mx-3">Search</button>
      <button type="button" (click)="onReset()" class="stdd btn btn-outline-success mx-3" 
          style="font-size: small;">Reset</button>
      <button type="button" class="stdd btn btn-outline-success"  
           title="Add a new candidate" routerLink="/candidates/register/edit/0">+</button>
 </div>
 
      <div style="margin-left: 75px;">
           <div class="stddm w15"></div>
           <div class="stddM w45">Appl No</div>
           <div class="stddM w180 mx-2">Candidate Name</div>
           <div class="stddM w100 mx-1">City</div>
           <div class="stddM w200 mx-1">Agent</div>
           <div class="stddM w200 mx-1">Professions</div>
      </div>
      
        <!--(msgEvent)="showDocumentViewerEvent($event)" -->    
      <div *ngIf="cvs.length">
           <div class="row" *ngFor="let cv of cvs" >
                <app-profile-item 
                     (downloadEvent)="downloadFileEvent($event)" 
                     (cvAssessEvent)="cvAssessEvent($event)"
                     (cvCheckedEvent)="cvCheckedEvent($event)"
                     (cvEditEvent)="cvEditClicked($event)"
                     [cv]="cv" 
                ></app-profile-item>
           </div>
      </div>
</div>


    