<div *ngIf="pagination !== undefined" class="stdd">
     <h4 class="b" style="display: inline-block;">Listing of Candidates</h4>
     
     <pagination
          class="mx-1" style="display: inline-block;"
          [totalItems]="pagination!.totalItems"
          [itemsPerPage]="pagination!.itemsPerPage"
          (pageChanged)="onPageChanged($event)"
          [maxSize]="15"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;">
     ></pagination>
     <label style="width: 50px;display: inline-block; font-size: medium; word-wrap: break-word; vertical-align: middle;">
          of {{pagination!.totalItems}}</label>
</div>

     <br>
     <div *ngIf="cvs">
          <label class="lbl w160">Name or App Nos to search, separated by commas</label>
          <input type="text" title="enter name or app nos, separated by commma" 
               class="stdd form-control w200" style="margin-left: 20px;" #search placeholder="Search on name or app nos">
          <label class="lbl w100 mx-2">Category Name to search</label>
          <input type="text" title="enter category name to search" 
               class="stdd form-control mx-2 w150" #searchCat placeholder="Search on category">
          <button type="button" (click)="onSearch()" 
               title="Press this button after you enter the search criteria" 
               class="btn"><mat-icon>search</mat-icon></button>
          <button type="button" (click)="onReset()" title="reset the search criteria" 
               class="btn"><mat-icon>refresh</mat-icon></button>
          <button type="button" class="btn" title="Add a new candidate" 
               routerLink="/candidates/register/edit/0"><mat-icon>library_add</mat-icon></button>
          <button type="button" class="btn" title="close this page" routerLink="/">
               <mat-icon>cancel</mat-icon>
          </button>
     </div>
 
      <div style="margin-left: 60px; margin-top: 5px;">
           <div class="stddm w15"></div>
           <div class="stddM w70">Appl No</div>
           <div class="stddM w160 mx-2">Candidate Name</div>
           <div class="stddM w100 mx-1">City</div>
           <div class="stddM w200 mx-1">Agent</div>
           <div class="stddM w300 mx-1">Professions</div>
      </div>
      
      <div *ngIf="!cvs">
          No  compliant CVs available on record
      </div>
        <!--(msgEvent)="showDocumentViewerEvent($event)" -->    
      <div *ngIf="cvs.length">
           <div class="row" *ngFor="let cv of cvs" >
                <app-profile-item 
                     (downloadEvent)="downloadFileEvent($event, cv.fullName)" 
                     (cvAssessEvent)="cvAssessEvent($event)"
                     (cvCheckedEvent)="cvCheckedEvent($event)"
                     (cvEditEvent)="cvEditClicked($event)"
                     (cvDeleteEvent)="cvDeleteClicked($event)"
                     [cv]="cv" 
                ></app-profile-item>
           </div>
      </div>
