<div *ngIf="pagination !== undefined" class="stdd">

     <pagination
          class="stdd"
          [totalItems]="pagination!.totalItems"
          [itemsPerPage]="pagination!.itemsPerPage"
          (pageChanged)="onPageChanged($event)"
          [maxSize]="10"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;">
     ></pagination>
 
     
     <div class="stdd" *ngIf="cvs">
          <input (keyup.enter)="onSearch()" type="text" title="enter name or app nos, separated by commma" 
               class="stdd form-control w300" style="margin-left: 20px;" #search placeholder="Search">
          <button type="button" (click)="onSearch()" title="Press this button after you enter the search criteria" 
               class="btn fa fa-search fa-2x mx-2"></button>
          <button type="button" (click)="onReset()" title="reset the search criteria" 
               class="btn fa fa-refresh fa-2x mx-2"></button>
          <button type="button" class="btn fa fa-plus fa-2x mx-2 " title="Add a new candidate" 
               routerLink="/candidates/register/edit/0"></button>
          <button type="button" class="stdd btn fa fa-window-close fa-2x"  
               title="return to calling program" routerLink="/candidates"></button>
     </div>
 
      <div style="margin-left: 75px;">
           <div class="stddm w15"></div>
           <div class="stddM w45">Appl No</div>
           <div class="stddM w180 mx-2">Candidate Name</div>
           <div class="stddM w100 mx-1">City</div>
           <div class="stddM w200 mx-1">Agent</div>
           <div class="stddM w200 mx-1">Professions</div>
      </div>
      
      <div *ngIf="!cvs">
          No  compliant CVs available on record
      </div>
        <!--(msgEvent)="showDocumentViewerEvent($event)" -->    
      <div *ngIf="cvs.length">
           <div class="row" *ngFor="let cv of cvs" >
                <app-profile-item 
                     (downloadEvent)="downloadFileEvent($event)" 
                     (cvAssessEvent)="cvAssessEvent($event)"
                     (cvCheckedEvent)="cvCheckedEvent($event)"
                     (cvEditEvent)="cvEditClicked($event)"
                     [cv]="cv" 
                ></app-profile-item>
           </div>
      </div>
</div>


    