
<div class="stdd col-3 vAlignTop" style="margin-top: 10px; margin-left: 5px;"  *ngIf="cvBrief">
     <button class="stdd w30 fa fa-question" (click)="openShortlistCandidateHelpModal()"></button>
     <button class="stdd w30 pull-right fa fa-undo" (click)="returnToCalling()" ></button>
     
     <div class="b my-1">Candidate Details</div>
     <div style="padding-left: 5px; border:blue;">
          <span class="b">Application No.: </span> <span class="blue ">{{cvBrief!.applicationNo}}</span>
          <br><span class="b">Name: </span> <span class="blue">{{cvBrief!.fullName}}</span> 
          <br><span class="b">Referred By:</span> <span class="blue">{{cvBrief!.referredByName}}</span>
          <br><span class="b">Categories:</span> <div class="stdd blue fontSmaller" *ngFor="let item of cvBrief.userProfessions">
               {{item.professionName}}, 
          </div>
     </div>

     <br>
     <div class="b fontSmall">Existing Assessments of the candidate:</div>
     <div *ngIf="!existingAssessmentsDto" class="blue">
          No Existing Assessments
     </div>
     <div *ngIf="existingAssessmentsDto">
          <ul class="py-0 my-0" *ngFor="let item of existingAssessmentsDto">
               <li class="stdd my-0 py-0 blue fontSmaller cursorpointer" (click)="displayAssessment(item.candidateAssessmentId)">
                    {{item.categoryRef}} for {{item.customerName.substring(0,10)}} on {{item.assessedOn | date : 'ddMMM'}}
               </li>
          </ul>
     </div>
          
     <div *ngIf="openOrderItems===undefined" class="red"> No Orders currently open</div>
     <div *ngIf="openOrderItems !==undefined" class="mt-2 b">Requirement for which the candidate is to be assessed</div>
     
     <div *ngIf="openOrderItems">
          <ng-select 
               style="border-bottom: blue; font-size: small;"
               [items]="openOrderItems"
               bindLabel="categoryRefAndName"
               bindValue="orderItemId"
               labelForId="orderItemId"
               clearAllText="Clear"
               [(ngModel)]="orderItemSelectedId" 
               (click)="chooseSelectedOrderItem()"
          >
          </ng-select>
     </div>

     <br>
     <!--ng-disabled="!assessmentQDesigned"-->
     <div class="text-danger fontSmaller b" *ngIf="!orderItemSelected">
          Order category Not Selected
     </div>

     <!-- orderItemSelected -->
     <div style="border:inset">
          <div *ngIf="orderItemSelected" class="fontSmall b mt-2">Order Item selected</div>
          <div style="padding-left: 5px; border-color: initial ;" 
               *ngIf="orderItemSelected" >
               <span class="fontSmall stdd">Category: </span> <span class="fontSmall blue">
                    {{orderItemSelected.categoryRefAndName}}
               </span>
               <br><span class="stdd fontSmall">Order dated: </span> 
                    <span class="stdd fontSmall blue mx-2">{{orderItemSelected.orderDate | date}}</span>
               <br><span class="stdd fontSmall">Customer: </span> 
                    <span class="stdd fontSmall blue mx-2">{{orderItemSelected.customerName}}</span>
               <br><span class="stdd fontSmall">Require Internal Review: 
                    {{requireInternalReview!==undefined && requireInternalReview==='Y' ? 'Yes' : 'No'}}</span> 
          </div>

          <div *ngIf="orderItemSelected && !checklist" class="text-danger fontSmall">
               Candidate not checklisted for above category
          </div> 
          <div class="fontSmall my-1" *ngIf="orderItemSelected && checklist" >
               Checklist initiated by :
               <label class="fontSmall blue">{{checklist.userLoggedName}} </label> on 
                    <label class="fontSmall blue"> {{checklist.checkedOn |date}} </label>  
               <br><label class="fontSmall">Checklist Concluded: </label> 
                    <span class="fontSmall blue" [ngClass]="checklist.checklistedOk ? 'green' : 'red' ">
                         {{checklist.checklistedOk ? ' Yes' : ' No'}}
                    </span>
                    
          </div> 
     </div>
     
     <br>
     <!--require InternalReview -->
     <div *ngIf="requireInternalReview && !qDesigned" class="fontSmall text-danger">
          Assessment Questions for the Order Category selected not designed.  In the Assessment form, you can press the + button to the right to create custom assessment questions, or add standard questions to the order category"
     </div>

     <!-- <button type="button" class="fontSmall b w150 btn btn-success" 
          style="text-align: center;"
          title="talk to the candidate for consent to requirements" 
          (click)="createNewChecklist()"
          [disabled]="checklist" 
          title="get checklist data for the candidate"
     >
          Create New Checklist
     </button>
-->

     <!-- checklistModal -->
     <br>
     <button type="button" class="fontSmall b my-1 w150 btn btn-success" 
          style="text-align: center;"
          title="talk to the candidate for consent to requirements" 
          (click)="openChecklistModal()"
          title="show checklist for the candidate"
     >
          Show Checklist
     </button>
     
</div>

<div class="stdd col-8" style="vertical-align: top; margin-left: 5px; border: brown; ">
    <div class="fontSmall b stdd my-5" style="vertical-align: top;" >

          <div style="vertical-align: top;">
               <div class="stdd vAlignTop">

                    <div class="stdd col-6">
                         <span class="stdd w200">Application No</span>
                         <span class="stdd blue">{{cvBrief?.applicationNo}}</span>
                    </div>
                    
                    <div class="stdd col-6">
                         <span class="stdd w200">Candidate Name</span>
                         <span class="stdd blue">{{cvBrief?.fullName}}</span>
                    </div>
                         
                    <div *ngIf="cvAssessment" >
                         <div class="col-6 stdd">
                              <span class="stdd w200">Customer: </span> <span class="stdd blue">{{cvAssessment.customerName}}</span>
                         </div>
                         <div class="col-6 stdd">
                              <span class="stdd w200">Category: </span> <span class="blue">{{cvAssessment.categoryRefAndName}}</span>
                         </div>
                         <div class="col-6 stdd">
                              <span class="stdd w200">Order dated: </span> <span class="stdd blue">{{cvAssessment.orderDate | date}}</span>
                         </div>
                         <div class="col-6 stdd">
                              <span class="stdd w200">Checklisted: </span> <span class="stdd blue">{{!checklist ? 'Yes': 'No'}}</span>
                         </div>
                         <div class="col-6 stdd">
                              <span class="stdd w200">Requires Internal Review: </span> <span class="stdd blue ">{{requireInternalReview === "Y" ? 'Yes':'No'}}</span>
                         </div>
                         <div class="col-6 stdd">
                              <span class="stdd w200">Assessment Q designed: </span> <span class="stdd blue">{{qDesigned ? 'Yes':'No'}}</span>
                              <!-- <span class="stdd">{{cvAssessment?.candidateAssessmentItems===null}}</span> -->
                         </div>
      
                         <div class="col-6 stdd">
                              <div *ngIf="requireInternalReview" class="stdd">Assessed by: 
                                   <span class="stdd blue">{{cvAssessment['assessedByName']}}</span>
                              </div>
                         </div>
                         
                         <div class="col-6 stdd">
                              <span class="stdd w200">On: </span> <span class="stdd blue">{{cvAssessment['assessedOn'] | date}}</span>
                         </div>
                         <div class="col-6 stdd">
                              <span class="stdd w200">Assessment Result: </span> <span class="stdd blue">{{cvAssessment['assessResult']}}</span>
                         </div>
                         <div class="stdd col-6 pull-right">
                              <button type="button" class="btn btn btn-success fa fa-save" style="margin-left: 300px;" 
                                   [disabled]="!form.dirty && cvAssessment.candidateAssessmentItems" 
                                   title="Save the assessment form" 
                                   (click)="updateAssessment()" 
                              ></button>
                              <button 
                                   type="button" class="btn btn-primary fa fa-trash pull-right" 
                                   title="delete complete Assessment Object" 
                                   (click)="deleteAssessment()" 
                              > </button>
                         </div>
                         
                    </div>
               </div>
     
               <hr class="dblLine"> 
               <div *ngIf="!requireInternalReview" class="b blue">
                    No internal review required
               </div>
               <div *ngIf="cvAssessment" style="vertical-align: top; margin-top: 5PX;">
                    <div *ngIf="requireInternalReview">
                         <form [formGroup]="form" >
                              <div class="stddT w50">Q No.</div>
                              <div class="stddT w50 ML20">Asses-<br>sed</div>
                              <div class="stddT w50 ML5">Is Man-<br>datory</div>
                              <div class="stddT w400">Question</div>
                              <div class="stddT w50">Max<br>Points</div>
                              <div class="stddT w50">Points</div>
                              <div class="stddT w200 ">Remarks</div>
                              <button class="stdd btn fa fa-plus blue mx-1" title="Add an assessment item for the candidate" 
                                   (click)="addCandidateAssessmentItem()" ></button>
                              
                              <hr class="mt-0 mb-0">
                              <div formArrayName="candidateAssessmentItems" class="my-1" *ngIf="cvAssessment.candidateAssessmentItems">
                                   <div *ngFor="let item of candidateAssessmentItems.controls; let i=index">
                                        <div [formGroupName]="i" class="my-1">
                                             <input type="text" class="stddT ML20 w50" formControlName="questionNo" >
                                             <input type="checkbox" class="stddT ML5 w50" formControlName="assessed" >
                                             <input type="checkbox" class="stddT ML5 w50" formControlName="isMandatory">  
                                             <input type="text" class="stddT w400" title="question" formControlName="question">
                                             <input type="text" class="stddT w50" title="maxPoints" formControlName="maxPoints" (click)="maxMarksTotal()"> 
                                             <input type="number" class="stddT w50" style="text-align: right;" 
                                                  title="points" formControlName="points" (change)="pointsGainedTotal(i)">  
                                             <input type="text" class="stddT w200" title="remarks" formControlName="remarks">
                                        
                                             <button class="stdd red fa fa-trash mx-2" (click)="removeCandidateAssessmentItem(i)" ></button>
                                        </div>
                                   </div>
                              </div>
                              <div class="stdd b w50 mb-5 mt-2" style="margin-left: 500px;">totals: </div>
                              <div class="stdd b w50 hAlignRight" >{{totalPoints}}</div>
                              <div class="stdd b w50 mx-2 hAlignRight">{{totalGained}}</div>
                              <div class="stdd b w50 hAlignRight">={{percentage}} %</div>
                         </form>
                    </div>
               </div>
          </div>
</div>

    
</div>

<div style="font-size: smaller;">
     {{form.value | json}}
</div>

 <div class="row" *ngIf="validationErrors.length > 0">
     <ul class="text-danger">
          <li *ngFor="let error of validationErrors">
               {{error}}
          </li>
     </ul>
</div>
