<div class="modal-header my-0">
    <h6>Edit Call Record</h6>
    <button class="btn btn-success w35 fa fa-save" 
        style="margin-left: 400px;" (click)="updateCallRecord()" ></button>
    <button class="btn fa fa-window-close fa-2x pull-right" (click)="close()" ></button>
</div>

<div class="modal-body my-0">
    <div *ngIf="callRecord">
        <form [formGroup]="form" >
            <label class="lbl w150">Name of the Person:</label> 
            <div class="stdd w150" >{{callRecord.personName}}</div>
        
            <label class="lbl w125 mL15">CategoryRef:</label> 
                <div class="stdd w150">{{callRecord.categoryRef}}</div>
            <br><label class="lbl w150">Subject:</label> 
                <div class="stdd w150">{{callRecord.subject}}</div>
            <label class="lbl w125 mL15">Status:</label> 
            <div class="stdd  w100">{{callRecord.status}}</div>

            <hr class="my-1">
            
            <label class="lbl w80">Date</label>
            <label class="lbl w30">In/<br>Out</label>
            <label class="lbl w125">Result</label>
            <label class="lbl w80">Phone</label>
            <label class="lbl w125">Gist of discussions</label>
            <label class="lbl w125">Next action</label>
            <label class="lbl w100">On</label>
            <button class="btn w25 fa fa-plus" (click)="addCallRecordItem()" ></button>
            <hr class="my-0">

            <div formArrayName="callRecordItems" >
                <div *ngFor="let item of callRecordItems.controls; let i=index">
                    <div [formGroupName]="i">
                        
                        <input class="stdd w80" type="text" placeholder="Date" 
                            formControlName="dateOfContact" bsDatepicker 
                            [bsValue]="bsValueDate" 
                            [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }">
                        
                        <input type="text" class="stdd fSmaller w30" formControlName="incomingOutgoing" >
                      
                        <ng-select
                            class="select w125"
                            style="border-color: black;"
                            [items]="contactResults"
                            bindLabel="status"
                            bindValue="status"
                            labelForId="status"
                            formControlName="contactResult"
                        ></ng-select>

                        <input type="text" formControlName="phoneNo" class="stdd fSmaller w80" >
                        
                        <textarea formControlName="gistOfDiscussions" cols="15" rows="2" 
                            class="stdd  fSmaller"></textarea>
                        

                        <ng-select
                            class="select w125"
                            style="border-color: black;"
                            [items]="contactResults"
                            bindLabel="status"
                            bindValue="status"
                            labelForId="status"
                            formControlName="nextAction"
                        ></ng-select>

                        <input class="stdd w75" type="text" placeholder="Date" 
                            formControlName="nextActionOn" bsDatepicker 
                            [bsValue]="bsValueDate" 
                            [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }">
                        
                        <button class="btn w25 fa fa-trash fa-sm red" (click)="removeDepItem(i)" ></button>
                    </div>
                </div>
            </div>
                  
        </form>
    </div>
</div>

<div class="modal-footer"></div>