.stdd {
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
    margin-right:1px;
    vertical-align: top;
    font-size: smaller;
}

.select{
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
    margin-right:1px;
    vertical-align: top;
    font-size: smaller;
    font-weight: bold;
}

.stddY0 {
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-right:1px;
    vertical-align: top;
}

.lbl {
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
    margin-right:1px;
    font-weight: bold;
    vertical-align: top;
    font-size: smaller;
}

.mL15 {margin-left: 15px !important;}
.mL40 {margin-left: 40px !important;}
.mL110 {margin-left:110px !important;}
.mL460 {margin-left: 460px !important;}

.fSmallest {font-size: x-small; font-weight: bold;}
.fSmaller {font-size: smaller;}
.b {font-weight: bold;}
.red {color: red;}
.alignR {text-align: right;}

.w25 {width: 25px;}
.w30 {width: 30px;}
.w50 {width: 50px;}
.w75 {width: 75px;}
.w80 {width: 80px;}
.w100 {width: 100px;}
.w125 {width: 125px;}
.w150 {width: 150px;}
.w175 {width: 175px;}
.w250 {width: 250px;}
.w600 {width: 600px;}

.cursorPointer{cursor:pointer; color: darkblue;}

::ng-deep .ng-select .ng-select-container , ::ng-deep .ng-select.ng-select-single .ng-select-container{
	min-height: 25px;
	font-size: 0.8em;
	font-weight: normal;
    width: auto !important;
  }


