<div class="container d-flex justify-contents-between align-items-center mt-5">

    <div title="Candidates reviewed and approved for sending to clients" class="nav-item menuStdd">
        <a class="nav-item menuStdd" (click)="OpenAvailableCandidatesComponent()"
            routerLinkActive="active" >Candidates available to refer
        </a>
    </div>
    <div title="CVs referred to clients" class="nav-item menuStdd">
        <a routerLink="/candidates/cvsreferred"class="nav-item menuStdd"
            routerLinkActive="active" >CVs Referred to Clients</a>
    </div>

    <div title="List of candidates" class="nav-item menuStdd">
        <a (click)="OpenCandidatesListingComponent()" class="nav-item menuStdd"
            routerLinkActive="active" >List of Candidates</a>
    </div>
    <div title="Call Record History" class="nav-item menuStdd">
        <a (click)="OpenCallRecordMenu()" class="nav-item menuStdd"
            routerLinkActive="active" >Call Record History</a>
    </div>
    <div title="displays active prospective candidates" class="nav-item menuStdd">
        <a (click)="OpenActiveProspectiveList()" class="nav-item menuStdd"
            routerLinkActive="active" >Active Prospective Candidates List</a>
    </div>
   
</div>

