<div class="container d-flex justify-contents-between align-items-center mt-5">

    <div title="Candidates reviewed and approved for sending to clients" class="nav-item menuStdd">
        <a class="nav-item menuStdd" (click)="OpenAvailableCandidatesComponent()"
            routerLinkActive="active" >Candidates available to refer
        </a>
    </div>
    <div title="CVs referred to clients" class="nav-item menuStdd">
        <a routerLink="/candidates/cvsreferred"class="nav-item menuStdd"
            routerLinkActive="active" >CVs Referred to Clients</a>
    </div>

    <div title="List of candidates" class="nav-item menuStdd">
        <a (click)="OpenCandidatesListingComponent()" class="nav-item menuStdd"
            routerLinkActive="active" >List of Candidates</a>
    </div>
    <div title="Call Record History" class="nav-item menuStdd">
        <a (click)="OpenCallRecordMenu()" class="nav-item menuStdd"
            routerLinkActive="active" >Call Record History</a>
    </div>
    <div title="displays active prospective candidates" class="nav-item menuStdd">
        <a (click)="OpenActiveProspectiveList()" class="nav-item menuStdd"
            routerLinkActive="active" >Active Prospective Candidates List</a>
    </div>
   
</div>

<div *ngIf="uploadExcel" class="my-10" >
    
    <div style="word-wrap: normal; width: 800px;">
        <li>This option will upload your Excel File, read the data and insert into the database.</li>
        <li>This option needs following requirements to be met:</li>
        <li>The Worksheet name must be 'Sheet1'</li>
        <li>The file must be an Excel Workbook, with XLSX extension.  Column Titles should be in row 5</li>
        <li>Data should begin from row 6.\nIn addition.</li>
        <li>Row 2 or 3 should contain the title 'OrderItemId' and its value in next column</li>
    </div>
    
    <br><br>
    <input class="stdd d-flex align-items-center" type="file" id="file" 
        (change)="onFileInputChange($event)" >

    <button class="stdd btn fa fa-window-close" style="margin-left: 100px;" (click)="importProspectiveExcel()" ></button>
</div>
