<div *ngIf="selection" style="margin-left: 5px;">
    <!-- <input type="checkbox" style="margin-left: 10px;border-color: black;"
            class="form-check-input w20 hAlignCenter"
            [(ngModel)]="selection.checked"
            (click)="selectedClicked()" >
-->
    <div class="stdd w50">{{selection.applicationNo}}</div>
    <div class="stdd w150 cursorPointer">{{selection.candidateName}}</div>
    <div class="stdd w200">{{selection.customerName}}</div>
    <div class="stdd w200">{{selection.categoryRef}}</div>
    <div class="stdd w150">{{selection.selectionStatus}}</div>
    <div class="stdd w100">{{selection.selectedOn | date: 'dd-MMM-yy'}}</div>
    <div class="stdd w100">{{selection.referredOn | date: 'dd-MMM-yy'}}</div>

    <div class="stdd w50 cursorPointer yellow" *ngIf="selection.employmentId === 0" (click)="displayEmployment()"
        title="Employment data not generated for this candidate. Click to generate new">No</div>
    <div class="stdd w50 cursorPointer" *ngIf="selection.employmentId > 0"  (click)="displayEmployment()"
        title="Click to view the employment details of this candidate">Yes</div>
    <button class="btn" title="edit selection detais of this candidate"
        (click)="editSelection()"><mat-icon>edit</mat-icon></button>
    <button class="btn red" title="delete this selection data"
        (click)="deleteSelection()"><mat-icon>delete</mat-icon></button>
</div>

