.stdd, .btn {
    display: inline-block;
    font-size: small;
    margin: 0 2px 0 2px;
    color:aliceblue;
}

.b {font-weight: bold;}

.w75 {width: 75px;}
.w100 {width: 100px;}
.w110 {width: 110px;}
.w125 {width: 125px;}
.w150 {width: 150px;}
.w250 {width: 250px;}
.w300 {width: 300px;}
.w350 {width: 350px;}

.mL355{margin-left: 355px;}

.red {color: red;}
.green {color: green;}
.blue {color: darkblue;}