<div *ngIf="!prospective">
    No active prospetive candidates on record matching the conditions
</div>

<div *ngIf="prospective">
    <div class="stdd" style="width: max-content;">
        <div class="stdd" *ngIf="!isReport">
            <input type="checkbox" style="margin-left: 10px;"
                class="checkbox form-check-input"
                [(ngModel)]="prospective.checked"
                (click)="selectedClicked()" >
        </div>

        <div class="stdd w125" style="margin-left: 25px;">{{prospective.candidateName}}</div>
        <div class="stdd w150">{{prospective.categoryRef}}</div>
        <div class="stdd w100">{{prospective.phoneNo}}</div>
        <!-- <div class="stdd w150">{{prospective.email}}</div>
        <div class="stdd w100">{{prospective.source}}</div>
        <div class="stdd w75">{{prospective.personId.substring(0,15)}}</div> -->
        <div class="stdd w75">{{prospective.nationality}}</div>
        <div class="stdd w75">{{prospective.dateRegistered | date : 'dd-MMM-yy'}}</div>
        
        <div class="stdd w100">{{prospective.status ?? "undefined"}}</div>
        
        <div class="stdd" *ngIf="!isReport">
            <!-- <div class="stdd w100">{{prospective.statusDate | timeago}}</div> -->
        
            <input type="checkbox" [(ngModel)]="prospective.bySMS"
                class="form-check-input checkbox">
            <input type="checkbox" [(ngModel)]="prospective.byMail"
                class="form-check-input checkbox">
            <input type="checkbox" [(ngModel)]="prospective.byPhone"
                class="form-check-input checkbox">

            <button class="stdd w20 fa fa-pencil" (click)="editEventClicked()" ></button>
            <button class="stdd w20 fa fa-arrow-right" (click)="convertToCandidateClicked()" 
                title="converts this prospective candidate to a candidate, and removes it from the prospectives list"    ></button>
            <button class="stdd w20 fa fa-trash red" (click)="deleteEventClicked()" ></button>
        
            <app-register-call-records
                [id]="prospective.id"
                [status]="prospective.status!"
                [categoryRef]="prospective.categoryRef"
                [personId]="prospective.personId"
                [personType]= "'Prospective'"
                (callStatusEvent)="callStatusChanged($event)"
            ></app-register-call-records>
            <!-- (eventClickedEvent)="modeAdviseChanged($event)" -->
        </div>

    </div>
</div>

