<div class="modal-header my-0" *ngIf="emp" >
    <h6>Employment details</h6>
    
    <button class="w35 btn btn-success fa fa-save " style="margin-left: 200px;"
        title="edit emp data" (click)="updateEmployment()" ></button>
    <button class="btn fa fa-close pull-right" title="Close" (click)="close()" ></button>
</div>

<div class="modal-body my-0" *ngIf="emp">
    <form [formGroup]="form">
        <label for="applicationNo" class="stdd w150 b">Application No:</label> 
            <div class="stdd w200" >{{candidateName}}</div>
        <br>
        <label for="customerName" class="stdd w150 b">Customer Name</label> 
            <div class="stdd w200">{{companyName}}</div>
        <br><label for="customerName" class="stdd w150 b">Category Ref</label> 
            <div class="stdd w200">{{categoryRef}}</div>
                

        <br><label class="stdd w150 b" >Offer Acceptance</label>
        <div class="stdd w175">
            <ng-select 
                    style="border: color(from color srgb r g b); font-size: smaller;"
                    [items]="statuses"
                    bindLabel="status"
                    bindValue="status"
                    labelForId="status"
                    clearAllText="Clear"
                    formControlName="offerAccepted"
            ></ng-select>
        </div>

        <br><label class="stdd b w150">Accept/Decline `On</label>
        <div style="display:inline-block; width: 110px;">
            <input class="stdd w110" type="text" placeholder="Offer accepted On" 
                formControlName="offerAcceptanceConcludedOn" bsDatepicker 
                [bsValue]="bsValueDate" [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }">
        </div>


        <hr style="border: double; margin-top:2px; margin-bottom: 2px;">
        <label class="stdd w150 b">Currency & Salary</label> 
            <input type="text" class="stdd w50 ml-10" title="salary currency" 
                formControlName="salaryCurrency">
            <input type="number" class="stdd w75" title="salary" 
                formControlName="salary">
        <hr>
        <label class="stdd w150 b">Perks</label> 
        <label class="stdd w100 b">Allowance</label> 
        <label class="stdd w100 b">Provided Free</label> 
        <label class="stdd w100 b">Not Provided</label> 
        
        <br>
        <label for="housingAllowance" class="stdd w150" >Housing</label>
        <input type="number" class="stdd w75"  
            title="housing allowance" formControlName="housingAllowance">
        <input type="checkbox" style="margin-left: 50px;"
            class="form-check-input w20 hAlignCenter"
            formControlName="housingProvidedFree"
        >
        <input type="checkbox" class="form-check-input w20 hAlignCenter"
            formControlName="housingNotProvided" style="margin-left: 75px;"
        >
        
        <br>
        <label class="stdd w150" >Food</label>
        <input type="number" class="stdd w75" 
            title="Food Allowance" formControlName="foodAllowance">
        <input type="checkbox" style="margin-left: 50px;"
            class="form-check-input w20 hAlignCenter"
            formControlName="foodProvidedFree"
        >
        <input type="checkbox" class="form-check-input w20 hAlignCenter"
            formControlName="foodNotProvided" style="margin-left: 75px;"
        >
    
        <br><label for="Transportation" class="stdd w150" >Transportation</label>
        <input type="number" class="stdd w75"  
            title="Transportation allowance" formControlName="transportAllowance">
        <input type="checkbox" class="form-check-input w20 hAlignCenter" 
            formControlName="transportProvidedFree" style="margin-left: 50px;"
        >
        <input type="checkbox" class="form-check-input w20 hAlignCenter"
            formControlName="transportNotProvided" style="margin-left: 75px;"
        >
        
        <br><label for="otherAllowance" class="stdd w150" >Other Allowance</label>
        <input type="number" class="stdd w75" 
            title="Other allowance" formControlName="otherAllowance">
    
        
    </form>
</div>

<div class="modal-footer my-0">

</div>
<!--
<div style="font-size: smaller;">
    {{form.value | json}}
</div>
-->