<form [formGroup]="form" >
    <div class="stddT w30">Id</div>
    <div class="stddT w30 ML20">Chklst<br>id</div>
    <div class="stddT w30 ML5">Sr.<br>No.</div>
    <div class="stddT w400">Parameter</div>
    <div class="stddT w200">Max<br>Exceptions</div>
    <div class="stddT w30">Mandatory<br>True</div>
    <button class="stdd btn fa fa-plus blue mx-1" title="Add an assessment item for the candidate" 
         (click)="addChecklistItem()" ></button>
    
    <hr class="mt-0 mb-0">
    <div formArrayName="checklistHRItems" class="my-1">
         <div *ngFor="let item of checklistHRItems.controls; let i=index">
              <div [formGroupName]="i" class="my-1">
                <input type="text" class="stddT ML20 w30" readonly formControlName="id" >   
                <input type="text" class="stddT ML20 w30" formControlName="checklistHRId" >
                <input type="number" class="stddT w30" style="text-align: right;" title="Sr. No." formControlName="srNo">  
                <input type="text" class="stddT w400" title="Parameter" formControlName="parameter">
                <input type="text" class="stddT w200" formControlName="exceptions" >
                <input type="checkbox" class="stddT ML5 w30" formControlName="mandatoryTrue">  
                
                   
                   <input type="text" class="stddT w200" title="remarks" formControlName="remarks">
              
                   <button class="stdd red fa fa-trash mx-2" (click)="removeChecklistItem(i)" ></button>
              </div>
         </div>
    </div>
    
</form>