.lbl {
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: bold;
    vertical-align: top;
    word-wrap: normal;
}

.stdd {
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    vertical-align: top;
    margin-top:0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    word-wrap: normal;
}

.fSmall{font-size: small;}
.fSmaller{font-size: smaller;}

.b {font-weight: bold;}
.red {color: red;}

.mL185 {margin-left: 185px;}
.mL600 {margin-left: 600px!important;}
.mL50 {margin-left: 50px!important;}

.radio {
    width: 30px;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.prompt {
    font-size:x-small;
    margin-left:1px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.w25 {width: 25px;}
.w35 {width: 35px;}
.w50 {width: 50px;}
.w75 {width: 75px;}
.w80 {width: 80px;}
.w150 {width: 150px;}
.w200 {width: 200px;}
.w250 {width: 250px;}
.w370 {width: 370px;}