.mL100 {margin-left: 100px;}
.mL10{margin-left: 10px;}

.w35{width: 35px;}
.w50 {width: 50px;}
.w80 {width: 80px;}
.w100 {width: 100px;}
.w110 {width: 110px;}
.w125 {width: 125px;}
.w150 {width: 150px;}
.w250 {width: 250px;}
.w300 {width: 300px;}

.stdd {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    font-size: small;
}

.checkbox{
    margin-left: 10px;
    border-color: black;
    text-align: center;
    width: 35px;
}

.b {font-weight: bold;}
.fSmall {font-size: small;}
.fSmaler {font-size: smaller;}

.green{color: green;}

