<form class="mt-5" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="review">
    <label class="stdd w150 b">Customer Name</label> 
    <div class="stdd w250 mx-2 blue">{{review.customerName}}</div>
    <label class="stdd w100 b">Order No</label> 
    <div class="stdd w50 mx-2 blue">{{review.orderNo}}</div>
    <label class="stdd w125 b">Order Dated</label> 
    <div class="stdd w125 mx-2">{{review.orderDate | date: 'dd-MMM-yy'}}</div>

    <button class="btn fa-success fa fa-save fa-2x green" title="Save this Contract Review" type="submit"></button>
    <button class="btn fa-primary fa fa-undo fa-2x" title="Close this form" type="button" (click)="close()"></button>
    <button class="btn fa-primary fa fa-trash red pull-right" title="Delete this Contract Review" type="button" (click)="DeleteReview()"></button>

    <hr style="border: double; color: darkblue; margin: 0px; padding: 0px;">
    
    <label class="stdd b w150">Category</label>
    <label class="stdd b w50">Qnty</label>
    <label class="stdd b w80">Source From</label>
    <label class="stdd b w50">Require<br>Assess</label>
    <label class="stdd b w50">Charges</label>
    <label class="stdd b w80">Review Status</label>
   
    <div formArrayName="contractReviewItems">
        <div *ngFor="let item of contractReviewItems.controls; let i=index;">
            <div [formGroupName]="i">
                <input type="text" class="stdd w150" formControlName="professionName">
                <input type="text" class="stdd w50" formControlName="quantity">
                <input type="text" class="stdd w80" formControlName="sourceFrom">
                <input type="text" class="stdd w50" formControlName="requireAssess">
                <input type="text" class="stdd w50" formControlName="charges">
                <ng-select 
                    style="display: inline-block;  font-size: small; width: 300px;"
                    [items]="reviewStatuses"
                    bindLabel="Status"
                    bindValue="Status"
                    labelForId="Status"
                    clearAllText="Clear"
                    formControlName="reviewItemStatus"
                ></ng-select>

                <div formArrayName="contractReviewItemQs">
                    <label class="stdd mL100 w35 b">Sr#</label>
                    <label class="stdd w35 b">Manda<br>tory</label>
                    <label class="stdd w250 b">Parameter</label>
                    <label class="stdd w35 b">Response</label>
                    <label class="stdd w150 b">Remarks</label>

                    <div *ngFor="let q of contractReviewItemQs(i).controls; let j=index">
                        <div [formGroupName]="j" style="margin-left:100px;">
                            <div class="stdd w35">
                                <app-text-input [label]="'Sr#'" formControlName="srNo" ></app-text-input>
                           </div>
                           <input type="checkbox" class="form-check-input checkbox" formControlName="isMandatoryTrue" >
                           <textarea rows="2" cols="80" class="stdd" formControlName="reviewParameter" ></textarea>
                           <input type="checkbox" class="form-check-input checkbox" formControlName="response">
                           <textarea cols="50" rows="2" class="stdd" formControlName="remarks"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>