.w50 {width: 50px;}
.w100 {width: 100px;}
.w150 {width: 150px;}
.w200 {width: 200px;}
.w250 {width: 250px;}

.lbl {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    font-size: small;
    vertical-align: top;
    word-wrap: break-word;
    font-weight: bold;
}


.stdd {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    font-size: small;
    vertical-align: top;
    word-wrap: break-word;
}