.stdd {
    display: inline-block;
    margin: 0 2px 0 2px;
    white-space: normal;
    vertical-align: top;
    font-size: small;
}

.lbl {
    display: inline-block;
    margin: 0 2px 0 2px;
    white-space: normal;
    vertical-align:middle;
    font-size: small;
    font-weight: bold;
}
.b {font-weight: bold;}

.w90 {width: 90px;}
.w100 {width: 100px;}
.w150 {width: 150px;}
.w300 {width: 300px;}