<h4 style="display: inline-block; width: 150px; margin-left: 50px; vertical-align: top; word-wrap: break-word;" >{{title}}</h4>
<div *ngIf="deploys && pagination" 
    style="display: inline-block; margin-left: 15px; vertical-align: top;" >
    <pagination
        style="display: inline-block;"
         [totalItems]="pagination!.totalItems"
         [itemsPerPage]="pagination!.itemsPerPage"
         (pageChanged)="onPageChanged($event)"
         [maxSize]="10"
         previousText="&lsaquo;"
         nextText="&rsaquo;"
         firstText="&laquo;"
         lastText="&raquo;">
    ></pagination>
</div>

    <label style="display: inline-block; vertical-align: top; font-size: small; font-size: bold; margin-left: 5px;">Search Option:</label>
    <ng-select 
        style="display: inline-block; vertical-align: top; width: 150px; font-size: small;margin-left: 20px; vertical-align: top;"
        [items]="searchOptions"
        bindLabel="name"
        bindValue="value"
        labelForId="value"
        clearAllText="Clear"
        (selected)="onOptionSelected($event)"
        [(ngModel)]="optionSelected"
        (clear)="optionCleared()"
        title="select a search option - then, enter the search value in the search box"
        placeholder="Select a Status"
    ></ng-select>

    <input (keyup.enter)="onSearch()" type="text" title="enter a value against the search option selected"
        class="stdd form-control w100" #search placeholder="Search Value" style="margin-left: 25px !important;">

    <label style="font-size: smaller; display: inline-block; font-weight: bold; margin-left: 10px; vertical-align: top;">Status</label>
    <input type="radio" id="deployStatus" [(ngModel)]="deployStatus" value="concluded" checked="true"
            style="margin-left: 10px;border-color: black; display: inline-block; vertical-align: top;"
            class="form-check-input w20 hAlignCenter" ><span style="vertical-align: top; font-size: x-small;">Concluded</span>

    <input type="radio" id="deployStatus" [(ngModel)]="deployStatus" value="all"
        style="margin-left: 10px;border-color: black; display: inline-block; vertical-align: top;"
        class="form-check-input w20 hAlignCenter" ><span style="vertical-align: top; font-size: x-small;">All</span>

    <button (click)="onSearch()"  style="color: aliceblue; vertical-align: top;" 
        class="btn mx-3 w20 fa fa-search fa-2x"></button>
   
    <br><label style="display: inline-block; margin-left: 10px; font-size: small; font-weight: bold; vertical-align: top;" 
        title="select a status to add new transaction for the candidates selected"
        >add new transaction</label>
    <ng-select 
        style="display: inline-block; border-style: solid; width: 200px; font-size: small;margin-left: 10px; vertical-align: top;"
        [items]="statusNameAndSeq"
        bindLabel="name"
        bindValue="id"
        labelForId="id"
        clearAllText="Clear"
        (selected)="selected($event)"
        [(ngModel)]="sequenceSelected"
        title="select a status for adding new deployment transactions"
        placeholder="Select a Status"
    ></ng-select>

    <button class="btn w20 fa fa-check fa-2x mx-1" style="color: aliceblue; display: inline-block;" 
        (click)="applyTransactions()" title="Press to insert transactions for the items selected" ></button>
 
    <button (click)="onReset()"  style="color: aliceblue; margin-left: 250px;" 
        class="btn w20 fa fa-refresh fa-2x"></button>

    <button class="btn w20 mx-1"  style="color: aliceblue;" 
        title="List of deployment status" routerLink="/deployment/deployStatus" ><mat-icon>receipt</mat-icon> </button>
    <button class="btn w20 fa fa-window-close fa-2x mx-2"  style="color: aliceblue; display: inline-block;" 
        title="return to Main Menu" routerLink="/" ></button>
    
<div class="my-2" style="margin-left: 50px;">
    <label class="stdd w50">Sel</label>
    <label class="stdd w50">App#</label>
    <label class="stdd w150">Candidate Name</label>
    <label class="stdd w150">Customer Name</label>
    <label class="stdd w50">Order#</label>
    <label class="stdd w150">Category</label>
    <label class="stdd w75">Referred On</label>
    <label class="stdd w75">Selected On</label>
    <label class="stdd w125">Current Dep Status</label>
    <label class="stdd w125">Next Dep Status</label>
    <label class="stdd w75">Estimated Dt</label>
</div>

<div *ngIf="!deploys">
    No pending deployment transactions on record
</div>
    
<div *ngFor="let dep of deploys">
    <app-deploy-line
        [dep]="dep"
        (editDepEvent)="editDeploymentModal($event, dep)"
        (deleteDepEvent)="deleteDeployment($event)"
        (selectedEvent)="selectionChanged($event)"
        (showTicket)="displayCandidateTicket($event)"
        (candidateFlightDeleteEvent)="candidateFlightDelete($event)"
        (candidteFlightEditEvent)="candidateFlightEdit($event)"
        (editAttachmentEvent)="editAttachmentModal($event, dep)"
        >   
    </app-deploy-line>

</div>
