    <pagination
        *ngIf="deploys && pagination"
            style="margin-left: 5px;"
            style="display: inline-block;"
            [totalItems]="pagination!.totalItems"
            [itemsPerPage]="pagination!.itemsPerPage"
            (pageChanged)="onPageChanged($event)"
            [maxSize]="20"
            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&laquo;"
            lastText="&raquo;">
    ></pagination>
    <label style="width: 50px;display: inline-block; font-size: large; word-wrap: break-word; vertical-align: middle;">
        of {{pagination?.totalItems}}</label>

    <label style="display: inline-block; vertical-align: top; font-size: small; 
        font-size: bold; margin-left: 5px;">Search:</label>
    <ng-select 
        style="display: inline-block; vertical-align: top; width: 150px; font-size: small;margin-left: 20px; vertical-align: top;"
        [items]="searchOptions"
        bindLabel="name"
        bindValue="value"
        labelForId="value"
        clearAllText="Clear"
        (selected)="onOptionSelected($event)"
        [(ngModel)]="optionSelected"
        (clear)="optionCleared()"
        title="select a search option - then, enter the search value in the search box"
        placeholder="Select a Status"
    ></ng-select>

    <input (keyup.enter)="onSearch()" type="text" title="enter a value against the search option selected"
        class="stdd form-control w100" #search placeholder="Search Value" style="margin-left: 25px !important;">

    <label style="font-size: small; display: inline-block; font-weight: bold; margin-left: 10px; vertical-align: top;">Status</label>
    
    <input type="radio" id="deployStatus" [(ngModel)]="deployStatus" value="concluded" checked="true"
            style="margin-left: 10px;border-color: black; display: inline-block; vertical-align: top;"
            class="form-check-input w20 hAlignCenter" ><span style="vertical-align: top; font-size: small;">Concluded</span>

    <input type="radio" id="deployStatus" [(ngModel)]="deployStatus" value="all"
        style="margin-left: 10px;border-color: black; display: inline-block; vertical-align: top;"
        class="form-check-input w20 hAlignCenter" ><span style="vertical-align: top; font-size: small;">All</span>

    <button type="button" (click)="onSearch()" class="btn"><mat-icon>search</mat-icon> </button>
   
    <br><label class="stdd b" style="margin-left: 30px !important;" 
        title="select a status to add new transaction for the candidates selected"
        >add new transaction</label>

    <ng-select 
        style="display: inline-block; border-style: solid; width: 200px; font-size: small;margin-left: 10px; vertical-align: top;"
        [items]="statusNameAndSeq"
        bindLabel="name"
        bindValue="id"
        labelForId="id"
        clearAllText="Clear"
        (selected)="selected($event)"
        [(ngModel)]="sequenceSelected"
        title="select a status for adding new deployment transactions"
        placeholder="Select a Status"
    ></ng-select>

    <input class="stdd w110 mx-2" type="text" placeholder="Order Date" [(ngModel)]="transDate"
    bsDatepicker [bsValue]="bsValueDate" [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }">
    
    <button class="btn" (click)="applyTransactions()" type="button" 
        title="Press to insert transactions for the items selected" ><mat-icon>check</mat-icon>
    </button>

    <button type="button" class="btn" (click)="filterData()" [disabled]="sequenceSelected===''"
        title="Filter the deployment records based on deployment status selected"><mat-icon>filter_list</mat-icon></button>
    <button (click)="onReset()"  style="margin-left: 25px;" title="reset the data"
        class="btn w20 fa fa-refresh fa-2x"></button>

    <button class="btn" type="button"  title="List of deployment status" routerLink="/deployment/deployStatus" >
        <mat-icon>receipt</mat-icon></button>
    <button class="btn" title="return to Main Menu" routerLink="/" ><mat-icon>cancel</mat-icon></button>
    <button class="btn" type="button" (click)="houseKeeping()"
        title="carries out housekeeping - corrects current status value in Deps to coincide with DepItems" 
        routerLink="/" ><mat-icon>settings_applications</mat-icon></button>
    <h4 class="stretched" >{{title}}</h4>
    
<div class="my-2" style="margin-left: 10px;">
    <label class="stdd w30">Sel</label>
    <label class="stdd w50" style="margin-left: 15px;" >App#</label>
    <label class="stdd w150 stretched">Candidate Name</label>
    <label class="stdd w150 stretched">Customer Name</label>
    <label class="stdd w50">Order#</label>
    <label class="stdd w150">Category</label>
    <label class="stdd w75">Referred On</label>
    <label class="stdd w75">Selected On</label>
    <label class="stdd w100 stretched">Current Dep Status</label>
    <label class="stdd w125">Next Dep Status</label>
    <label class="stdd w75 stretched">Visa No</label>
    <!-- <label class="stdd w75">Estimated Dt</label> -->
</div>

<div *ngIf="!deploys">
    No pending deployment transactions on record
</div>
    
<div *ngFor="let dep of deploys">
    <app-deploy-line
        [dep]="dep"
        (editDepEvent)="editDeploymentModal($event, dep)"
        (selectedEvent)="selectionChanged($event)"
        (showTicket)="showTicketClicked($event)"
        (candidateFlightDeleteEvent)="candidateFlightDelete($event)"
        (candidteFlightEditEvent)="candidateFlightEdit($event)"
        (editAttachmentEvent)="editAttachmentModal($event, dep)"
        (displayVisaEvent)="displayVisaTransaction($event)"
        >   
    </app-deploy-line>
<!--(deleteDepEvent)="deleteDeployment($event)"-->
</div>
<!--(showTicket)="displayCandidateTicket($event)"-->
