.stdd {
	display: inline-block;
	margin-top: 1px;
	margin-left: 1px;
	margin-right: 1px;
	vertical-align: top;
	font-size: small;
	word-break: normal;
	font-weight: bold;
 }

 .w30 {width: 30px;}
 .w50 {width: 50px;}
 .w75{width: 75px;}
 .w100 {width: 100px;}
 .w110 {width: 110px;}
 .w150 {width: 150px;}
 .w175{width: 175px;}
.w200 {width: 200px;}
.w250 {width: 250px;}

.b {font-weight: bold;}
.green {color: darkgreen;}
  ::ng-deep .ng-select .ng-select-container , ::ng-deep .ng-select.ng-select-single .ng-select-container{
	min-height: 25px;
	font-size: 0.8em;
	font-weight: normal;
  }