.stdd {
    margin: 1px;
    padding: 1px;
    display: inline-block !important;
    font-size: small;
}

.alignR {
    text-align: right;
}

.b {font-weight: bold;}

.w50 {width: 50px;}
.w70 {width: 70px;}
.w100 {width: 100px;}
.w150 {width: 150px;}
.w200 {width: 200px;}
.w300 {width: 300px;}
.b { font-weight: bold;}

.red { color: red;}
.blue {color: blue;}

.vAlignMiddle {
    vertical-align: middle;
}

.fontSmall {
    font-size: small;
}

.borderAqua {
    border: aqua;
}