<div *ngIf="emp" style="margin-left: 50px;">
    <div class="stdd w50">{{emp.gender}}</div>
    <div class="stdd w150">{{emp.firstName}}</div>
    <div class="stdd w100">{{emp.familyName}}</div>
    <div class="stdd w100">{{emp.knownAs}}</div>
    <div class="stdd w100">{{emp.department}}</div>
    <div class="stdd w150">{{emp.position}}</div>
    <div class="stdd w100">{{emp.status}}</div>
    <button class="btn fa fa-pencil" (click)="editClicked()" 
        title="edit this employee" style="color:aliceblue;"></button>
    <!--<button class="btn fa fa-upload" (click)="uploadClicked()" ></button> -->
    <button class="btn fa fa-trash red" title="delete this employee" (click)="deleteClicked()" ></button>

</div>