.w50 {width: 50px;}
.w100 {width: 100px;}
.w150 {width: 150px;}


.stdd {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    font-size: small;
    vertical-align: top;
    word-wrap: break-word;
}

.red {color: red}

.btn {color:aliceblue; margin: 0 2px 0 2px; font-size: small;}