<div *ngIf="emp" style="margin-left: 50px;">
    <div class="stdd w50">{{emp.gender}}</div>
    <div class="stdd w150">{{emp.firstName}}</div>
    <div class="stdd w100">{{emp.familyName}}</div>
    <div class="stdd w100">{{emp.knownAs}}</div>
    <div class="stdd w100">{{emp.department}}</div>
    <div class="stdd w150">{{emp.position}}</div>
    <div class="stdd w100">{{emp.status}}</div>
    <button class="btn" (click)="editClicked()" 
        title="edit this employee"><mat-icon>edit</mat-icon></button>
    <!--<button class="btn fa fa-upload" (click)="uploadClicked()" ></button> -->
    <button class="btn red" title="delete this employee" (click)="deleteClicked()" ><mat-icon>delete</mat-icon></button>

</div>