.lbl {
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    vertical-align: middle;
    margin: 0 2px 0 2px;
}

.stdd {
    display: inline-block;
    font-size: smaller;
    margin: 0 2px 0 2px;
    vertical-align: top;
}

.w15 {width: 15px;}
.w80 {width: 80px;}
.w100 {width: 100px;}
.w125 {width: 125px;}
.w150 {width: 150px;}
.w300 {width: 300px;}

.green {color: darkgreen;}