<div class="modal-header my-0">
    <h4>Flight details</h4>
    <button class="w35 btn btn-success fa fa-check" (click)="registerDate()" style="margin-left: 200px;"
    title="edit emp data" ></button>
    <button class="btn fa fa-close pull-right" title="Close" (click)="close()" ></button>
</div>

<div *ngIf="flightData" class="modal-body my-0">
    <label class="lbl w125">Airline</label>
    <input class="stdd w125" type="text" placeholder="Airline Name" [(ngModel)]="flightData.airlineName" >
    <label class="lbl w100 mx-2">Flight No</label>
    <input class="stdd w150" type="text" placeholder="Flight No" [(ngModel)]="flightData.flightNo" >
    
    <br><label class="lbl w125">Airport of Boarding</label>
    <input class="stdd w125" type="text" placeholder="Boarding Airport" [(ngModel)]="flightData.airportOfBoarding">
    <label class="lbl w100 mx-2">ETD Boarding</label>
    <input class="stdd w150" type="datetime" placeholder="ETD Boarding" 
        [(ngModel)]="flightData.eTD_BoardingString"  >
        <!-- (ngModelChange)="flightData.eTD_Boarding!=dateChanged($event)" > -->
    
    <br><label class="lbl w125">Destination Airport</label>
    <input class="stdd w125" type="text" placeholder="Destination Airport" 
        [(ngModel)]="flightData.airportOfDestination">
    
    <label class="lbl w100 mx-2">ETA Destination</label>
    <input class="stdd w150" type="datetime" placeholder="ETA Destination" 
        [(ngModel)]="flightData.eTA_DestinationString" >
        <!-- (ngModelChange)="flightData.eTA_DestinationString!=dateChanged($event)" > -->
    <br>
    <label class="lbl w125">Via Airport</label>
    <input class="stdd w125" type="text" placeholder="Via Airport" [(ngModel)]="flightData.airportVia">
    <label class="lbl w100 mx-2">Flight No Via</label>
    <input class="stdd w125" type="text" placeholder="FlightNo Via" [(ngModel)]="flightData.flightNoVia">
    <br><label class="lbl w125">ETA at Via Airport</label>
    <input class="stdd w150" type="datetime" placeholder="ETA Via Airport" [(ngModel)]="flightData.eTA_ViaString">
    <label class="lbl w125">ETD from Via Airport</label>
    <input class="stdd w125" type="datetime" placeholder="ETD Via Airport" [(ngModel)]="flightData.eTD_ViaString">
</div>

<div class="modal-footer my-0">

</div>

<div style="font-size: x-small;" >
    
</div>

