<div *ngIf="hist !== null && hist !== undefined">
    <div class="stdd w75"></div>
    <div class="stdd w175">{{hist.personName}}</div>
    <div class="stdd w150">{{hist.categoryRef}}</div>
    <div class="stdd w100">{{hist.source}}</div>
    <div class="stdd w175">{{hist.email}}</div>
    <div class="stdd w100">{{hist.phoneNo}}</div>
    <div class="stdd w100">{{hist.status}}</div>

    <button class="btn btn fa fa-pencil" title="click to add/edit transations" (click)="editClicked()" ></button>
    <button class="btn btn fa fa-phone" title="register conversation by phone" (click)="callByPhone()" ></button>
    <button class="btn btn fa fa-envelope" title="advise conversation to the person by email" (click)="sendEmail()" ></button>
    <button class="btn btn fa fa-trash red" title="click to delete this record along with all its related child records" (click)="deleteClicked()" ></button>
</div>