.stdd {
    display:inline-block;
    vertical-align: top;
    font-size: smaller;
    margin: 0 2px 0 2px;
    word-wrap: normal;
}

.w100{width: 100px;}
.w150 {width: 150px;}
.w175 {width: 175px;}

.red {color: red;}

.btn {color:aliceblue}