
<div style="margin-left: 25px;">
    <h3 class="stdd">Users with roles</h3>
    <button class="stdd btn btn-primary fa fa-undo"  style="margin-left: 550px;" 
        routerLink="/administration">
    </button>
    <br>
    <label class="stdd w200 b">Username</label>
    <label class="stdd w400 b">Roles</label>
    <label class="stdd w50 b"></label>
    <hr>
    <div *ngFor="let user of users">
        <div class="stdd w200">{{user.userName}}</div>
        <div class="stdd w400">
            {{user.roles.flat()}}
        </div>
        <div class="stdd w50">
            <button (click)="openRolesModal(user)" class="btn btn-info fa fa-pencil fa-sm"></button>
        </div>
    </div>
</div>
