.tbody .td .tr .button{
    margin: 0px;
    padding: 0px;
    font-size: smaller;
}

.stdd {
    display: inline-block;
    font-size: medium;
    word-wrap: break-word;
    vertical-align: top;
}

.w200 {width: 200px;}
.w400 {width: 400px;}
.w50 {width: 50px;}

.b {font-weight: bold;}

.btn {color:aliceblue}