
<div class="container d-flex justify-contents-between align-items-center mt-5">
   
    <button class="stdd" routerLink="/candidates/candidatelist" title="List of Candidates">List of Candidates</button>
    <button class="stdd" routerLink="/candidates/register/edit/:id" title="Edit a candidate">Edit Candidate</button>
    <button class="stdd" routerLink="/candidates/candidatehistory" title="Candidate history">Candidate History</button>
    <button class="stdd" routerLink="/candidates/candidatehistory" title="Candidate history">Candidate History</button>

</div>