
<div class="container d-flex justify-contents-between align-items-center mt-5">
   
    <button class="stdd" routerLink="/admin/cvforward" title="forward shortlited CVs to customers">Submit CVs to clients</button>
    <button class="stdd" routerLink="/admin/orders" title="Order Index">Orders Listing</button>
    <button class="stdd" routerLink="/admin/selections" title="register selections or rejections by clients">Selections</button>
    <button class="stdd" routerLink="/admin/employments" title="edit employment details of selected candidates">Employments</button>
    <button class="stdd" routerLink="/admin/messages" title="messages">Messages</button>
    <button class="stdd" routerLink="/admin/userswithroles/Employee" title="edit roles of users">Employee Roles</button>
    <button class="stdd" routerLink= "/admin/userswithroles" title="edit roles of users">Identity Users with Roles</button>
    <button class="stdd" routerLink="/admin/roles" title="display list of Roles">List of Roles</button>
    <button class="stdd" title="Categories" routerLink="/admin/categories">Categories</button>
    <button class="stdd" title="Qualifications" routerLink="/admin/qualifications">Qualifications</button>
    <button class="stdd" title="Industry Types" routerLink="/admin/IndustryTypes">Industry Types</button>
    <button class="stdd" title="Customers, Associates and Vendors" routerLink="/customers">Clients, Associates, Vendors</button>
    <button class="stdd fa fa-undo" title="go back to home" (click)="close()"></button>

</div>