<form [formGroup]="form" (ngSubmit)="form.valid && update()" 
    autocomplete="off" *ngIf="orderAssessmentItem">

    <h4 style="font-weight: bold;">Order Assessment - design questions for Order Item Category</h4>
 
        <label class="lbl b 100">Order No.:</label>
        <app-text-input [label]="'Order No'" formControlName="orderNo" class="stdd w75" > </app-text-input>
        <div class="stdd w100">{{orderAssessmentItem.orderNo}} </div>

        <label class="lbl w100">Customer Name</label>
        <div class="stdd w250">{{orderAssessmentItem.customerName}}</div>
    
        <label class="lbl w100">Category</label>
        <div class="stdd w250">{{orderAssessmentItem.professionName}}</div>
        <br>
        
        <label class="lbl w100">Designed By</label>
        <app-text-input [label]="'Designed By'" formControlName="designedBy" class="stdd w100" > </app-text-input>
        
        <label class="lbl w50 hAlignR">On</label>
        <input type="text" class="stdd w100" placeholder="designed On" formControlName="dateDesigned"
            bsDatepicker [bsValue]="bsValueDate"[bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }">
        
        <label class="lbl w100">Approved By</label>
        <input type="text" class="stdd w75" formControlName="approvedBy" (dblclick)="updateApprovedBy()" >
        
        <button class="btn mx-2 fa fa-download" title="imports standard assessment questions" 
            (click)="populateStddAssessmentQuestions()"></button>
            
        <button class="btn fa fa-download" title="imports custom assessment questions matching the profession" 
            (click)="populateCustomAssessmentQuestions(professionId)"></button>
    
        <button class="btn fa fa-save fa-2x" title="Save this data" 
            (click)="update()"></button>
    
        <button class="btn fa fa-window-close fa-2x" title="close this form and return to the calling program" 
            (click)="cancel()"></button>
    
        <div formArrayName="orderAssessmentItemQs" >
    
            <label class="lbl w50">Qstn No</label>
            <label class="lbl w250">Subject</label>
            <label class="lbl w400">Question</label>
            <label class="lbl w75">Points</label>
            <label class="lbl w75">Mandatory</label>
            <button class="stdd btn btn-priamry fa fa-plus fa-lg" style="margin-left: 15px;"
                type="button" (click)="addNewOrderAssessmentItemQ()">
            </button>
    
            <div *ngFor="let item of orderAssessmentItemQs.controls; let i=index">
                <div [formGroupName]="i">
                    <div class="stdd w50">
                        <app-text-input [label]="'Question No'" formControlName="questionNo"></app-text-input>
                    </div>
                    <div class="stdd w250">
                        <app-text-input [label]="'Subject'" formControlName="subject"></app-text-input>
                    </div>
                    <app-text-input class="stdd w400" [label]="'question'" formControlName="question"></app-text-input>
                    <app-text-input [type]="'number'" (change)="calcualteTotals()" class="stdd w75" [label]="'Points'" formControlName="maxPoints"></app-text-input>
                    <!--<input class="stdd w50" formControlName="maxPoints" (change)="calcualteTotals()">-->
                    <input class="stdd mx-4" type="checkbox" formControlName="isMandatory">
                    <button class="mx-4 btn fa fa-trash red" (click)="removeOrderAssessmentItemQ(i)" ></button>
                
                </div>
            </div>
            <div style="margin-left: 700px;">Total: {{totalMarks}}</div>
        </div>
    

    </form>
<div style="font-size: smaller;">
    {{form.value|json}}
</div>