.stdd {
    display: inline-block;
    margin-left: 2px;
    margin-right: 1px;
    font-size: small;
    word-wrap: normal !important;
    vertical-align: top;
}

.w35 {width: 35px;}
.w50 {width: 50px;}
.w75 {width: 75px;}
.w100 {width: 100px;}
.w125 {width: 125px;}
.w150 {width: 150px;}