<div *ngIf="!fwd">
    No order forward data available for selected Order
</div>

<div *ngIf="fwd">
    <div style="display: inline-block; width: max-content;">
        <div class="stdd w50" >{{fwd.orderNo}}</div>
        <div class="stdd w100" >{{fwd.orderDate | date: 'dd-MMM-yy'}}</div>
        <div class="stdd w200">{{fwd.customerName}}</div>
        <div class="stdd w200">{{fwd.professionName}}</div>
        <div class="stdd w250">{{fwd.charges}}</div>
        <button class="btn btn-sm fa fa-trash red" style="margin-left: 50px;" title="delete order forwarded to agent"
            (click)="deleteOrder(fwd.id)"></button>
        <button (click)="hideCategory=!hideCategory" 
            style="display: inline-block; font-size: large; font-weight: bold;"  >{{hideCategory ? '-':'+'}}</button>
            <br>
            <div *ngIf="hideCategory" style="margin-left: 75px;">
                <div class="row" >
                    <label class="stddM w100">Date Forwarded</label>
                    <label class="stddM w250">Associate</label>
                    <label class="stddM w250">Associate Name</label>
                    <label class="stddM w200">Email Forwarded to</label>
                    <label class="stddM w100">Phone No</label>
                    <label class="stddM w100">Total Count: {{fwd.orderForwardCategoryOfficials.length}}</label>
                </div>
                <div *ngFor="let item of fwd.orderForwardCategoryOfficials">
                    <div class="stddM w100">{{item.dateForwarded | date:'dd-MMM-yy'}}</div>
                    <div class="stddM w250">{{item.agentName}}</div>
                    <div class="stddM w250">{{item.officialName}}</div>
                    <div class="stddM w200">{{item.emailIdForwardedTo}}</div>
                    <div class="stddM w100">{{item.phoneNoForwardedTo}}</div>
                    <button class="btn btn-sm fa fa-trash red" style="margin-left: 17px;"
                        title="delete official" (click)="deleteOff(item.id)"></button>
                </div>
            </div>
        </div>
    </div>
            