<div *ngIf="!fwd">
    No order forward data available for selected Order
</div>

<div *ngIf="fwd">
    <div style="display: inline-block; width: max-content;">
        <div class="stdd w50 mx-2" >{{fwd.orderNo}}</div>
        <div class="stdd w100 mx-2" >{{fwd.orderDate | date: 'dd-MMM-yy'}}</div>
        <div class="stdd w250 mx-2">{{fwd.customerName}}</div>
        <button class="btn btn-sm fa fa-trash red" style="margin-left: 250px;" (click)="deleteOrder(fwd.id)"></button>

        <div *ngFor="let item of fwd.orderForwardCategories">
            <div style="margin-left: 75px;">
                <div class="stddS w250">Category: {{item.professionName}}</div>
                <div class="stddS w125">Charges: {{item.charges}}</div>
                <button class="btn btn-sm fa fa-trash red" style="margin-left: 350px;" (click)="deleteCat(item.id)" ></button>
                <hr class="my-0">
                <label class="stddM w100" style="margin-left: 50px;">Date</label>
                <label class="stddM w250">Associate</label>
                <label class="stddM w200">Email Forwarded to</label>
                <label class="stddM w100">Phone No</label>
                <div *ngFor="let off of item.orderForwardCategoryOfficials" style="margin-left: 50px;">
                    <div class="stddM w100">{{off.dateForwarded | date:'dd-MMM-yy'}}</div>
                    <div class="stddM w250">{{off.agentName}}</div>
                    <div class="stddM w200">{{off.emailIdForwardedTo}}</div>
                    <div class="stddM w100">{{off.phoneNoForwardedTo}}</div>
                    <button class="btn btn-sm fa fa-trash" style="margin-left: 17px;" (click)="deleteOff(off.id)"></button>
                </div>
            </div>
        </div>
    </div>
</div>