.lbl {
    display: inline-block;
    margin-right: 2px;
    margin-left: 2px;
    font-size: small;
    font-weight: bold;
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 0px;
}

.stdd {
    display: inline-block;
    margin-right: 2px;
    margin-left: 2px;
    font-size: small;
    margin-top: 0px;
    margin-bottom: 0px;
}

.b {font-weight: bold;}
.red {color: red;}

.stdd1px {
    display: inline-block;
    margin-right: 1px;
    margin-left: 1px;
    font-size: smaller;
    margin-top: 0px;
    margin-bottom: 0px;
}

.w25 {width: 25px;}
.w35 {width: 35px;}
.w50 {width: 50px;}
.w60 {width: 60px;}
.w70 {width: 70px;}
.w75 {width: 75px;}
.w80 {width: 80px;}
.w100{width: 100px;}
.w125 {width: 125px;}
.w150 {width: 150px;}
.w175 {width: 175px;}
.w250 {width: 250px;}
.w300 {width: 300px;}
.w400 {width: 400px;}

.fSmall {font-size: small;}
.fSmaller {
    font-size: smaller;
}

.btn {color:aliceblue}

.inputCheck {
    margin-right: 5px;
    width: 40px;
    margin-left: 10px;
    border: 2px;
    border-color: #000000;
}

input[type="radio"] {
	appearance: none;
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin-right: 5px;
	background-color: rgb(195, 177, 177);
	position: relative;
    vertical-align: middle;
}

input[type="radio"]:checked::before {
	content: "";
	display: block;
	width: 9px;
	height: 9px;
	background-color: #4a0fec;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: appear 0.8s;
}
