<div class="modal-header" >
    <h6 style="display: inline-block;">Add a new Transaction for Call Record Item</h6>
    <button class="lbl w35 btn btn-success fa fa-check" (click)="updateClicked()" style="margin-left: 400px !important;"
        title="update the Call Record" ></button>
    <button class="lbl btn fa fa-close pull-right" title="Close" (click)="bsModalRef.hide()" ></button>
</div>

<div class="modal-body" *ngIf="callRecord !== undefined">

    <label class="lbl mL2mR2 w125">Person Name</label>
    <label class="lbl mL2mR2 w125">{{callRecord.personName}}</label>

   
    <br><label class="lbl mL2mR2 w125">Regd On</label>
    <label class="stdd mL2mR2 w125">{{dateRegistered | date:'dd-MMM-yy'}}</label>
    <label class="lbl  mL10mR2 w150">Status</label>
    <ng-select
        class="stdd w200"
        style="height: fit-content; border-color: black;"
        [items]="contactResults"
        bindLabel="status"
        bindValue="status"
        labelForId="status"
        [(ngModel)]="callRecord.callRecordItems[0].contactResult"
    ></ng-select>
    
    <br><label mL2mR2 class="lbl w125">Phone No</label>
    <input type="text" class="stdd mL2mR2 w125" [(ngModel)]="callRecord.callRecordItems[0].phoneNo" >

    <label class="lbl mL10mR2 w150">Email</label>
    <input type="text" class="stdd w200" [(ngModel)]="callRecord.callRecordItems[0].email" >

    <br><label class="lbl w125">Contact On</label>
    <input class="stdd w125" type="text" placeholder="Contacted On" 
        [(ngModel)]="callRecord.callRecordItems[0].dateOfContact" name="dateOfContact"
        bsDatepicker 
        [bsValue]="bsValueDate" 
        [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }">
    
    <label class="lbl mL10mR2 w150">Incoming/Outgoing</label>
    <input class="stdd w35" style="vertical-align: middle !important;" type="radio" name="inout" id="inout" 
        [(ngModel)]="callRecord.callRecordItems[0].incomingOutgoing" value="in"> In
    <input class="stdd w35" style="vertical-align: middle !important;" type="radio" name="inout" id="inout" 
        [(ngModel)]="callRecord.callRecordItems[0].incomingOutgoing" value="out">Out
    <input class="stdd w35" style="vertical-align: middle !important;" type="radio" name="inout" id="inout" 
        [(ngModel)]="callRecord.callRecordItems[0].incomingOutgoing" value="both">Both

    <br><label class="lbl w125">Summary of discussion</label>
    <textarea class="stdd" name="disc" id="disc" cols="80" rows="2" [(ngModel)]="callRecord.callRecordItems[0].gistOfDiscussions" ></textarea>

    <br><label class="lbl w125" title="sends an email or sms to the party, confirming this conversation, by mail or sms" 
        >Send Advisory By</label>
    <input class="stdd w35" style="vertical-align: middle !important;" type="radio" name="advisoryBy" id="advisoryBy" 
        [(ngModel)]="callRecord.callRecordItems[0].advisoryBy" value="email">Email
    <input class="stdd w35" style="vertical-align: middle !important;" type="radio" name="advisoryBy" id="advisoryBy" 
        [(ngModel)]="callRecord.callRecordItems[0].advisoryBy"  value="sms">SMS
    <input class="stdd w35" style="vertical-align: middle !important;" type="radio" name="advisoryBy" id="advisoryBy" 
        [(ngModel)]="callRecord.callRecordItems[0].advisoryBy"  value="both">Both
   
    
    
</div>