.lbl {
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    vertical-align: middle;
    word-wrap: normal;
    margin-top: 5px;
    margin-bottom: 5px;
}

.stdd {
    display: inline-block;
    font-size: smaller;
    vertical-align: top;
    word-wrap: normal;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mL2mR2 {margin-left: 2px; margin-right:2px;}
.mL10mR2 {margin-left: 10px; margin-right:2px;}

.w35 {width: 35px;}
.w100 {width: 100px;}
.w125 {width: 125px;}
.w150 {width: 150px;}
.w175 {width: 175px;}
.w200 {width: 200px;}

.b {font-weight: bold;}