<div class="container d-flex justify-contents-between align-items-center mt-5">
    <!--<div style="display: inline-block; font-size: bold;">Logged in user: {{user?.knownAs}}</div>
    <div style="display: inline-block; font-size: bold;">
        {{user?.roles?.flat()}} 
    </div> -->
    <br>
    <!--<li *appHasRole="['HR Manager', 'HR Supervisor', 'Admin', 'Admin Manager', 'Document Controller-Admin']" class="nav-item">
        <a routerLink="/administration/pendingSelections" 
            routerLinkActive="active" class="nav-link">Pending Selections</a>
    </li> -->
    <div title="selections awaiting from customers" class="nav-item menuStdd">
        <a routerLink="/administration/pendingSelections" class="nav-item menuStdd"
            routerLinkActive="active" >Pending Selections</a>
    </div>

    <div class="nav-item menuStdd"  
        title="listing of Orders - provides for: editing, contract review, order assessment, Forward To Agents, Forward to HR Dept Acnowledge to customer">
        <a routerLink="/administration/orders" 
        routerLinkActive="active" class="nav-link">Orders Listing</a>
    </div>

    <div  class="nav-item menuStdd">
        <a routerLink="/administration/ordersforwarded" title="orders already forwarded to Associates" 
            routerLinkActive="active" >Orders ForwardED</a>
    </div>

    <div class="nav-item menuStdd" 
        title="displays CVs that are assessed and available to submit to customers; CVs can be selected to send to customers" >
        <a routerLink="/candidates/availableToRef" routerLinkActive="active" >Refer CVs to clients</a>
</div>

    <!-- <li *appHasRole="['HR Manager', 'HR Supervisor', 'Admin', 'Admin Manager', 'Document Controller-Admin']" class="nav-item">
        <a routerLink="/administration/selections" title="displays CVs that are assessed and available to submit to customers; CVs can be selected to send to customers" 
            routerLinkActive="active" class="nav-link">Selections made</a>
    </li> -->

    <div 
        class="nav-item menuStdd" 
        title="displays CVs that are assessed and available to submit to customers; CVs can be selected to send to customers">
        <a routerLink="/administration/selections"  routerLinkActive="active" >Selections made</a>
    </div>

    <!-- <li *appHasRole="['HR Manager', 'HR Supervisor', 'Document Controller-Admin']" class="nav-item">
        <a routerLink="/administration/selections" 
            routerLinkActive="active" class="nav-link">Selections</a>
    </li> -->

    <!-- <li *appHasRole="['HR Manager', 'HR Supervisor', 'Document Controller-Admin']" class="nav-item"
        title="employment details of selected candidates" >
        <a routerLink="/administration/selections" routerLinkActive="active" class="nav-link">Employments</a>
    </li> -->

    <div class="nav-item  menuStdd" title="messages concerning the logged-in User" 
        routerLink="/administration/messages" routerLinkActive="active" >
        Messages
    </div>

    <!-- <li class="nav-item" *appHasRole="['Document Controller-Admin', 'Document Controller-Processing', 'Candidate', 'Client']" class="nav-item"
        title="Feedbacks from customers/candidates" >
        <a routerLink="/administration/feedback" routerLinkActive="active" class="nav-link">Feedback</a>
    </li> -->
    
    <div title="Feedback from customers, vendors and candidates" class="nav-item  menuStdd"
        routerLink="/administration/feedback" routerLinkActive="active" >
        Feedback
    </div>
    <!--<li class="nav-item" class="nav-item" title="Feedbacks from customers/candidates" >
        <a routerLink="/administration/feedback" routerLinkActive="active" class="nav-link">Feedback</a>
    </li> -->
    <!-- <li class="nav-item" *appHasRole="['Admin']" class="nav-item"
        title="Authorities and Roles">
        <a routerLink="/userroles" routerLinkActive="active" class="nav-link">authorities & roles</a>
    </li> -->
    <div class="nav-item menuStdd" title="Authorities and Roles">
        <a routerLink="/userroles" routerLinkActive="active" >authorities & roles</a>
    </div>
 
    <!-- *appHasRole="['HR Manager','HR Supervisor', 'HR Executive', 'Admin', 'Admin Manager']" -->
    <li  class="nav-item" title="import data from Excel Sheets - for Candidate, customer or Employees" >
        <a  routerLinkActive="active" (click)="uploadExcel = !uploadExcel" class="nav-link">Import from Excel Sheet</a>
    </li> 
    <!-- <li class="nav-item" class="nav-item" title="import data from Excel Sheets - for Candidate, customer or Employees" >
        <a  routerLinkActive="active" class="nav-link">Import from Excel Sheet</a>
    </li> -->
    <!-- <li class="nav-item" *appHasRole="['Admin']" class="nav-item" 
        title="import data from Excel Sheets - for Candidate, customer or Employees" >
        <a routerLink="/administration/customers" routerLinkActive="active" class="nav-link">Customers<br>Associates<br>Vendors</a>
    </li> -->
    <div  class="nav-link menuStdd" title="Customers, Vendors and Associates" >
        <a routerLink="/administration/customers" routerLinkActive="active" 
       >Customers<br>Associates<br>Vendors</a>
    </div>
    
    <div class="nav-item nav-link menuStdd"  title="Categories" >
        <a routerLink="/administration/categories" routerLinkActive="active" >Categories</a>
    </div>
    
    <div title="Qualifications" class="nav-item nav-link menuStdd" >
        <a routerLink="/administration/qualifications" routerLinkActive="active">Quallifications</a>
    </div>
    
    <div class="nav-item nav-link menuStdd" title="industry Types" >
        <a routerLink="/administration/industries" routerLinkActive="active" >Industry Types</a>
    </div>
    
    <button class="stdd fa fa-undo" title="go back to home" (click)="close()"></button>

</div>


<div *ngIf="uploadExcel" class="my-10" >
    
    <div style="word-wrap: normal; width: 800px;">
        <li>This option will upload your Customer Excel File, read the data and insert into the database.</li>
        <li>This option needs following requirements to be met:</li>
        <li>The Worksheet name must be named 'Sheet1'</li>
        <li>The file must be an Excel Workbook, with XLSX extension.  Column Titles should be in row 2</li>
        <li>Data should begin from row 3rd row.</li>
        
    </div>
    
    <br><br>
    <input class="stdd d-flex align-items-center" type="file" id="file" 
        (change)="onFileInputChange($event)" >

    <button class="stdd btn fa fa-window-close" style="margin-left: 100px;" (click)="importCustomerExcel()" ></button>
</div>


<div class="lblB my-5">
    Functions and Roles requirement for this menu functions
    <ul>
        <label class="lblB w150">Function</label>
        <label class="lblB w450">Roles Required</label>

        <!--
        opt.AddPolicy("AdminPolicy", policy => policy.RequireRole("Admin"));
                opt.AddPolicy("HRMPolicy", policy => policy.RequireRole("HR Manager", "HR Supervisor", "HR Executive", "Admin", "Admin Manager"));
                opt.AddPolicy("CVRefPolicy", policy => policy.RequireRole("HR Manager", "HR Supervisor", "Admin", "Admin Manager", "Document Controller-Admin"));
                opt.AddPolicy("CustomePolicy", policy => policy.RequireRole("HR Manager", "HR Supervisor", "Admin", "Admin Manager", "Document Controller-Admin"));
                opt.AddPolicy("HRSupPolicy", policy => policy.RequireRole("HR Supervisor", "HR Executive", "Asst HR Executive"));
                opt.AddPolicy("HRExecPolicy", policy => policy.RequireRole("HR Executive", "Asst HR Executive"));
                opt.AddPolicy("AsstHRExecPolicy", policy => policy.RequireRole("Asst HR Executive"));
                opt.AddPolicy("AdminManagerPolicy", policy => policy.RequireRole("Admin Manager"));
                opt.AddPolicy("MarketingManagerPolicy", policy => policy.RequireRole("Marketing Manager"));
                opt.AddPolicy("ContractReviewPolicy", policy => policy.RequireRole("Contract Review"));
                opt.AddPolicy("CVRefPolicy", policy => policy.RequireRole("Admin Manager", "Document Controller-Admin"));
                opt.AddPolicy("AccountsPolicy", policy => policy.RequireRole("Accountant", "Accounts Manager", "Finance Manager"));
                opt.AddPolicy("CashierPolicy", policy => policy.RequireRole("Cashier"));
                opt.AddPolicy("ProcessPolicy", policy => policy.RequireRole("Document Controller-Processing", "Processing Manager"));
                opt.AddPolicy("OrderForwardPolicy", policy => policy.RequireRole("Order Forward"));
                opt.AddPolicy("CustomerReviewPolicy", policy => policy.RequireRole("Customer Review"));
                opt.AddPolicy("SelectionPolicy", policy => policy.RequireRole("HR Manager", "HR Supervisor", "Document Controller-Admin"));
                opt.AddPolicy("FeedbackPolicy", policy => policy.RequireRole("Candidate", "Official", "Document Controller-Processing", "Document Controller-Admin"));
        -->
        <li>
            <label class="lblB w150" title="CVs awaiting selections from client">Pending Selections</label>
            <label class="lbl w450">HR Manager, HR Supervisor, Admin, Admin Manager, Document Controller-Admin</label>
        </li>
        <li>
            <label title="selections already made" class="lblB w150">Selection</label>
            <label class="lbl w450">Admin, Admin Manager, Document Controller-Admin, HR Manager, HR Supervisor</label>
        </li>
        
        <li>
            <label class="lblB w150" title="Orders Listing">Orders Listing</label>
            <label class="lbl w450">Admin</label>
        </li>
        <li>
            <label class="lblB w150" title="Requirements Forwarded to Associates">Requirements forwarded</label>
            <label class="lbl w450">Requirements forwarded</label>
        </li>
        
        <li>
            <label class="lblB w150" title="CVs awaiting selections from client">Pending Selections</label>
            <label class="lbl w450">HR Manager, HR Supervisor, Admin, Admin Manager, Document Controller-Admin</label>
        </li>
        <li>
            <label class="lblB w150" title="CVs awaiting selections from client">Selections</label>
            <label class="lbl w450">HR Manager, HR Supervisor, Document Controller-Admin</label>
        </li>
        <li>
            <label class="lblB w150" title="forward requirements to Associates">Refer CVs to customers</label>
            <label class="lbl w450">Order Forward</label>
        </li>
        <li>
            <label class="lblB w150" title="employment details of selected candidates">Employments</label>
            <label class="lbl w450">HR Manager, HR Supervisor, Admin, Admin Manager, Document Controller-Admin</label>
        </li>
        <li>
            <label class="lblB w150" title="employment details of selected candidates">Messages</label>
            <label class="lbl w450">All roles - only log-in required</label>
        </li>
        <li>
            <label class="lblB w150" title="Feedbacks from customers, vendors and candidates">Feedbacks</label>
            <label class="lbl w450">Document Controller-Admin, Document Controller-Processing, Candidate, Client</label>
        </li>
        <li>
            <label class="lblB w150" title="import customer, candidate, employees data from excel sheet">Import from Excel</label>
            <label class="lbl w450">Document Controller-Admin, Document Controller-Processing, Candidate, Client</label>
        </li>
    </ul>
</div>
