<div class="container d-flex justify-contents-between align-items-center mt-5">
    
    <button class="stdd" routerLink="/administration/selections" title="Orders Index">Selections</button>
    <button class="stdd" routerLink="/administration/pendingSelections" title="Orders Index">Pending Selections</button>
    <button class="stdd" routerLink="/administration/orders" title="Orders Index">Orders Listing</button>
    <button class="stdd" routerLink="/administration/ordersforwarded" title="Orders Forwarded Listing">Orders Forwarded Listing</button>
    <button class="stdd" routerLink="/administration/cvforward" title="forward shortlited CVs to customers">Submit CVs to clients</button>
    <button class="stdd" routerLink="/administration/selections" title="register selections or rejections by clients">Selections</button>
    <button class="stdd" routerLink="/administration/employment" title="edit employment details of selected candidates">Employments</button>
    <button class="stdd" title="Categories" routerLink="/administration/categories">Categories</button>
    <button class="stdd" title="Qualifications" routerLink="/administration/qualifications">Qualifications</button>
    <button class="stdd" title="Industry Types" routerLink="/administration/industries">Industry Types</button>
    <button class="stdd" title="Customers, Associates and Vendors" routerLink="/administration/customers">Clients, Associates, Vendors</button>
    <button class="stdd fa fa-undo" title="go back to home" (click)="close()"></button>

</div>