
<div class="stdd col-4 my-0" style="vertical-align: top;">
    <div class="mb-4 d-flex">
        <br><div class="btn-group" name="container">
            <button class="btn btn-primary"  title="Unread messages"
                btnRadio="Unread" [(ngModel)]="msgParams.container" 
                (click)="loadMessages()" >
                <i class="fa fa-envelope"></i>
            </button>
            <button class="btn btn-primary" 
                btnRadio="Inbox" title="Inbox messages"
                [(ngModel)]="msgParams.container" (click)="loadMessages()">
                <i class="fa fa-envelope-open"></i> 
            </button>
            <button class="btn btn-primary" title="sent messages"
                btnRadio="Outbox"
                [(ngModel)]="msgParams.container" (click)="loadMessages()">
                <i class="fa fa-paper-plane"></i>
            </button>
        </div>
    
        <pagination *ngIf="!loading && pagination && messages && messages.length > 0"
            [boundaryLinks]="true"
            [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)"
            [maxSize]="10"
            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&laquo;"
            lastText="&raquo;">
        </pagination>
    
    </div>
    
    <div class="row" *ngIf="!messages || messages?.length === 0">
        <h3>No messages</h3>
    </div>
    
    <div class="stdd row" *ngIf="messages && messages?.length !== 0" style="vertical-align: top;">
        <div *ngIf="container==='Inbox'">
            <label class="lbl w80" >Date</label>
            <label class="lbl w100" >From</label>
            <label class="lbl w250" >Subject</label>
            <div *ngFor="let msg of messages">
                <div class="stdd cursorPointer col-2" (click)="msgClicked(msg.id, msg.content, msg.messageSent)">{{msg.messageComposedOn | date: 'dd-MMM-yy'}}</div>
                <div class="stdd cursorPointer col-3" (click)="msgClicked(msg.id, msg.content, msg.messageSent)" >{{msg.senderUsername}} [{{msg.senderEmail}}]</div>
                <div class="stdd cursorPointer col-4" (click)="msgClicked(msg.id, msg.content, msg.messageSent)" >{{msg.subject}}</div>
                <button class="stdd btn col-1 fa fa-trash red " (click)="removeMessage(msg.id)"  ></button>
            </div>
        </div>
    
        <div class="stdd" *ngIf="container==='Outbox'">
            <label class="lbl w80" >Date</label>
            <label class="lbl w100" >To</label>
            <label class="lbl w300" >Subject</label>
            <div *ngFor="let msg of messages">
                <div class="stdd cursorPointer w80" (click)="msgClicked(msg.id, msg.content, msg.messageSent)">{{msg.messageComposedOn | date: 'ddMMMyy'}}</div>
                <div class="stdd cursorPointer w100" (click)="msgClicked(msg.id,msg.content, msg.messageSent)" >{{msg.recipientEmail}}</div>
                <div class="stdd cursorPointer w300" (click)="msgClicked(msg.id,msg.content, msg.messageSent)" >{{msg.subject}}</div>
                <button class="stdd btn w35 fa fa-trash red " (click)="removeMessage(msg.id)"  ></button>
            </div>
        </div>
    </div>
</div>


<div class="stdd col-7 my-0" style="vertical-align: top;">
    <input (keyup.enter)="onSearchInUsernames()" [disabled]="messages?.length === 0" type="text" 
        class="stdd fa-solid fa-find fa-2x w200" #search placeholder="Search in Username">

    <button (click)="onSearchInUsernames()" style="color: yellow; background-color: white;" 
        class="btn fa fa-find fa-2x mx-2" [disabled]="messages?.length === 0" 
        title="search the text in message Usernames" ></button>
 
    <input (keyup.enter)="onSearchInContents()" [disabled]="messages?.length === 0" type="text" style="color: aliceblue;"
        class="stdd fa-solid fa-find fa-2x w200" #searchInContents placeholder="Search in message contnts">

    <button (click)="onSearchInContents()" [disabled]="messages?.length === 0" 
        style="color: aliceblue; background-color: grey;"
        title="search in Message Contents" class="btn fa fa-find fa-2x mx-2"></button>

    <div *ngIf="messageSentOn.getFullYear() < 2000" (click)="sendMessage()">Draft message</div>
    <angular-editor
        [(ngModel)]="msgToDisplay"
    ></angular-editor>
</div>
<button class="btn fa fa-window-close fa-2x" type="button" style="color: aliceblue;" 
    title="close this window" routerLink="/" ></button>
