
<div class="stdd col-4 my-0" style="vertical-align: top;">
    <div class="mb-4 d-flex">
        <br><div class="btn-group" name="container">
            <button class="btn btn-primary"  title="Unread messages"
                btnRadio="Unread" [(ngModel)]="msgParams.container" 
                (click)="loadMessages()" value="unread">
                <i class="fa fa-envelope"></i>
            </button>
            <button class="btn btn-primary" 
                btnRadio="Inbox" title="Inbox messages" value="Inbox"
                [(ngModel)]="msgParams.container" (click)="loadMessages()">
                <i class="fa fa-envelope-open"></i> 
            </button>
            <button class="btn btn-primary" title="sent messages"
                btnRadio="Outbox" value="Outbox"
                [(ngModel)]="msgParams.container" (click)="loadMessages()">
                <i class="fa fa-paper-plane"></i>
            </button>
        </div>
        <ng-select class="mx-3 w150"
            [items]="msgTypes"
            bindLabel="MessageType"
            bindValue="MessageType"
            labelForId="MessageType"
            clearAllText="Clear"
            [(ngModel)]="msgParams.messageType"
        ></ng-select>
        
        <pagination *ngIf="!loading && pagination && messages && messages.length > 0"
            [boundaryLinks]="true"
            [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)"
            [maxSize]="10"
            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&laquo;"
            lastText="&raquo;">
        </pagination>
    
    </div>
    
    <div class="row" *ngIf="!messages || messages?.length === 0">
        <h3>No messages</h3>
    </div>
    
    <div class="stdd row" *ngIf="messages && messages?.length !== 0" style="vertical-align: top;">
        <div *ngIf="container==='Inbox'">
            <label class="lbl w80" >Date</label>
            <label class="lbl w100" >From</label>
            <label class="lbl w250" >Subject</label>
            <div *ngFor="let msg of messages">
                <div class="stdd cursorPointer col-2" (click)="msgClicked(msg)">{{msg.messageComposedOn | date: 'dd-MMM-yy'}}</div>
                <div class="stdd cursorPointer col-3" (click)="msgClicked(msg)" >{{msg.senderUsername}} [{{msg.senderEmail}}]</div>
                <div class="stdd cursorPointer col-4" (click)="msgClicked(msg)" >{{msg.subject}}</div>
                <button class="stdd btn col-1 fa fa-trash red " (click)="removeMessage(msg.id)"  ></button>
            </div>
        </div>
    
        <div class="stdd" *ngIf="container==='Outbox'">
            <label class="lbl w80" >Date</label>
            <label class="lbl w100" >To</label>
            <label class="lbl w300" >Subject</label>
            <div *ngFor="let msg of messages">
                <div class="stdd cursorPointer w80" (click)="msgClicked(msg)">{{msg.messageComposedOn | date: 'ddMMMyy'}}</div>
                <div class="stdd cursorPointer w100" (click)="msgClicked(msg)" >{{msg.recipientEmail}}</div>
                <div class="stdd cursorPointer w300" (click)="msgClicked(msg)" >{{msg.subject}} - {{msg.id}}</div>
                <button class="stdd btn w35 fa fa-trash red " (click)="removeMessage(msg.id)"  ></button>
            </div>
        </div>
    </div>
</div>


<div class="stdd col-7 my-0" style="vertical-align: top;">
  
    <button class="btn" title="retrieves Email Id from database" (click)="updateToEmailId()" 
        [disabled]="toEmailId !== null || toEmailId !== ''"></button>
    <button (click)="sendMessage()" [disabled]="dtMsgSentMoreThan2000 || toEmailId=== ''" 
        style="color: aliceblue; background-color: grey;" class="stdd pull-right btn fa fa-paper-plane mx-1"
        title="send the message to the addressee" ></button>
    
    <br><br><span class="stdd w25">To:</span><app-text-input [(ngModel)]="toEmailId" [label]="'To Email'" class="stdd w150"  ></app-text-input>
    <span class="stdd w25 mx-2">CC:</span><app-text-input [(ngModel)]="ccEmailId" [label]="'CC'" class="stdd w150"  ></app-text-input>
    <span class="stdd w50">Subject</span><app-text-input [(ngModel)]="subject" [label]="'Subject'" class="stdd w250"  ></app-text-input>
    <span class="stdd w40">Sent On</span><div class="stdd w80">{{messageSentOn|date: 'ddMMMyy'}}</div>
    
    <angular-editor
        [(ngModel)]="msgToDisplay"
    ></angular-editor>
</div>
<button class="btn fa fa-window-close fa-2x" type="button" style="color: aliceblue;" 
    title="close this window" routerLink="/" ></button>
