.stdd {
    display: inline-block;
    margin: 0 2px 0 2px;
    font-size: x-small;
    vertical-align: top;
    word-wrap: normal;
    word-break: break-all;
}

.lbl {
    display: inline-block;
    margin: 0 2px 0 2px;
    font-size: x-small;
    font-weight: bold;
    vertical-align: top;
    word-break: normal;
    word-wrap: break-word;
}

.cursorPointer {
    cursor: pointer;
    color: yellow;
}

.red {color: red;}

.w35 {width: 35px;}
.w80 {width: 80px;}
.w100 {width: 100px;}
.w300 {width: 300px;}
.w250 {width: 250px;}
