.stdd {
    display: inline-block;
    font-size: medium;
    margin: 4px 2px 4px 2px;
}

.b {font-weight: bold;}

.btn {color:aliceblue}

.w100 {width: 100px;}
.w150 {width: 150px;}
.w200 {width: 200px;}
.w250 {width: 250px;}


.inputCheck {
    margin: 2px 5px 2px 10px;
    width: 40px;
    border: 2px;
    border-color: #000000;
}

input[type="radio"] {
	appearance: none;
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin-right: 5px;
	background-color: rgb(195, 177, 177);
	position: relative;
    vertical-align: middle;

}

input[type="radio"]:checked::before {
	content: "";
	display: block;
	width: 9px;
	height: 9px;
	background-color: #4a0fec;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: appear 0.8s;
}