<div class="row" *ngIf="member">
    <div class="col-4">
        <h1>Your Profile</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info pb-0" *ngIf="editForm.dirty">
            <p>Changes made!!</p>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
            class="card-img-top img-thumbnail">
            
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}} {{member.country}}</p>
                </div>
                <div>
                    <strong>age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last active:</strong>
                    <p>{{member.lastActive + 'Z'| timeago}}</p>
                </div>
                <div>
                    <strong>member since:</strong>
                    <p>{{member.created | date: 'dd-MMM-yy'}}</p>
                </div>
                
            </div>

            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button
                    [disabled]="!editForm.dirty"
                    type="submit" 
                    form="editForm" 
                    class="btn btn-success col-12">Save Changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="About {{member.knownAs}}">
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
                    <h4 class="mt-2">Introduction</h4>
                    <textarea name="introduction" id="" cols="30" rows="6"
                        class="form-control" [(ngModel)]="member.introduction"
                    ></textarea>
                    <h4 class="mt-2">Looking For</h4>
                    <textarea name="lookingFor" id="" cols="30" rows="6"
                        class="form-control" [(ngModel)]="member.lookingFor"
                    ></textarea>
                    <h4 class="mt-2">Interests</h4>
                    <textarea name="interests" id="" cols="30" rows="6"
                        class="form-control" [(ngModel)]="member.interests"
                    ></textarea>
                    <h4 class="mt-2">City</h4>
                    <input type="text" name="city" class="form-control mx-2" [(ngModel)]="member.city">
                    <h4 class="mt-2">country</h4>
                    <input type="text" name="country" class="form-control mx-2" [(ngModel)]="member.country">
                </form>
            </tab>
    
            <tab heading="Photos" #photoTab="tab">
                photo edits will go here
            </tab>
        </tabset>
    </div>
</div>
