<div class="container">
    <div *ngIf="!assessments">
        No custom assessment questions on record
    </div>
    <h4>Category Assessment Listing</h4>
    <div style="display: inline-block; margin-left: 15px; vertical-align: top;">
        <pagination class="stdd" *ngIf="pagination"
             [totalItems]="pagination.totalItems"
             [itemsPerPage]="pagination.itemsPerPage"
             (pageChanged)="onPageChanged($event)"
             [maxSize]="10"
             previousText="&lsaquo;"
             nextText="&rsaquo;"
             firstText="&laquo;"
             lastText="&raquo;">
        ></pagination>
    </div>
    
    <div *ngIf="assessments">
        
        <div *ngFor="let item of assessments">
            <input type="text" [(ngModel)]="item.professionName">
            <div>{{item.professionName}}</div>
        </div>
        
    </div>
</div>
