<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <hr>
    <div class="mb-3">
        <input type="text" name="username" class="form-control" [(ngModel)]="model.userName" placeholder="User Name">
        <input type="password" name="password" class="form-control" [(ngModel)]="model.Password" placeholder="Password">
    </div>

    <div class="text-center">
        <button class="btn btn-success me-2" type="submit" >Register</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>
