.menuStdd {
    display: inline-block;
    width: 100px;
    margin: 3px;
    word-wrap: break-word;
    text-align: center;
    vertical-align: middle;
    border:2px;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
    border-style: ridge;
    height: 5em;
}

.btn {color:aliceblue;}

