.title {
	text-align: center;
	width: 600px;
	font-size: larger;
	font-weight: bold;
	display: inline-block ;
}

.stdd {
	display:inline-block;
	margin: 0 2px 0px 2px;
	vertical-align: top;
	
}

.stdd2 {
	display: inline-block;
	margin: 0 2px 0 2px;
	font-size: x-small;
	
	vertical-align: top;
}

.lbl {
	font-weight: bold;
	padding-bottom: 0px;
	vertical-align: top;
	margin: 0 2px 0 2px;
	text-align: right;
}

.tAlignRight {text-align: right;}

.b {font-weight: bold;}

.red {color: red;}
.green {color: darkgreen;}

.w50 {width: 50px;}
.w60 {width: 60px;}

.w75 {width: 75px;}
.w90 {width: 90px;}
.w100 {width: 100px;}
.w125 {width: 125px;}
.w150 {width: 150px;}
.w175 {width: 175px;}
.w200 {width: 200px;}
.w250 {width: 250px;}
.w290 {width: 290px;}
.w300 {width: 300px;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.footer{
	position:relative;
	vertical-align: bottom;
}

.displaynone {
	display: none;
 }

 .fontSmall {font-size: small;}
 .height10px {height: 10px;}
 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.geeen {color: green;}
.red {color: red;}


.inputCheck {
    margin-right: 5px;
    width: 40px;
    margin-left: 10px;
    border: 2px;
    border-color: #000000;
}

input[type="radio"] {
	appearance: none;
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin-right: 5px;
	background-color: rgb(195, 177, 177);
	position: relative;
    vertical-align: middle;
}

input[type="radio"]:checked::before {
	content: "";
	display: block;
	width: 9px;
	height: 9px;
	background-color: #4a0fec;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: appear 0.8s;
}
