<h6 class="stdd">Edit Employee</h6>
<button class="btn green" [disabled]="!form.valid && form.dirty" 
    (click)="update()" style="margin-left: 200px;"  ><mat-icon>save</mat-icon></button>
<button class="btn" routerLink="/masters/employees"><mat-icon>cancel</mat-icon></button>

<!-- <div *ngIf="employee !== undefined"> -->
    <form [formGroup]="form">
        <label class="lbl w100">First Name:</label> 
        <app-text-input [label]="'First Name'" formControlName="firstName" class="stdd w150"></app-text-input>
        <label class="lbl w100 hAlignR">Second Name:</label> 
        <app-text-input [label]="'second Name'" formControlName="secondName" class="stdd w150"></app-text-input>
        <label class="lbl w100 hAlignR">Family Name:</label> 
        <app-text-input [label]="'Family Name'" formControlName="familyName" class="stdd w150"></app-text-input>
    
        <br><label class="lbl w100 fSmall">Known As:</label> 
        <app-text-input [label]="'Known As'" formControlName="knownAs" class="stdd w150"></app-text-input>
        <!-- <br><label class="lbl w100 fSmall">Employer:</label> 
        <app-text-input [label]="'Employer'" formControlName="Employer" class="stdd w150"></app-text-input> -->
        
        <label class="lbl w100 hAlignR">Joined On:</label> 
        <input class="stdd w100" type="text" placeholder="Joined On" formControlName="dateOfJoining"
            bsDatepicker [bsValue]="bsValueDate" [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }">
        <br><label class="lbl w100">Department:</label> 
        <app-text-input [label]="'Dept'" formControlName="department" class="stdd w100"></app-text-input>
        <label class="lbl w100 hAlignR">Position:</label> 
        <app-text-input [label]="'Position'" formControlName="position" class="stdd w200"></app-text-input>

        <br><label class="lbl w100">Address:</label> 
        <app-text-input [label]="'Address'" formControlName="address" class="stdd w250" ></app-text-input>
        <app-text-input [label]="'Address2'" formControlName="address2" class="stdd w250 ml-5" ></app-text-input>

        <label class="lbl w50 hAlignR">City:</label> 
        <app-text-input [label]="'City'" formControlName="city" class="stdd w100 fSmall"></app-text-input>
        
        <br><label class="lbl w100 fSmall">email:</label> 
        <app-text-input [label]="'Email'" formControlName="email" class="stdd w250" ></app-text-input>
           
        <label class="lbl w100" style="text-align: right; padding-right: 2px;">Phone:</label> 
        <app-text-input [label]="'Phone'" formControlName="phoneNo" class="stdd w125" ></app-text-input>
        <label class="lbl w50 fSmall">Phone2:</label> 
        <app-text-input [label]="'Phone 2'" formControlName="phone2" class="stdd w125"></app-text-input>
        
        <br><label class="lbl w100">Aadhar No:</label> 
        <app-text-input [label]="'Aadhar No'" formControlName="aadharNo" class="stdd w125" ></app-text-input>
        <label class="lbl w100">Qualification:</label> 
        <app-text-input [label]="'Address'" formControlName="qualification" class="stdd w150" ></app-text-input>
        <label class="lbl w50">Status:</label> 
        <app-text-input [label]="'Status'" formControlName="status" class="stdd w100" ></app-text-input>
        
        <br><div class="col-5" style="display: inline-block; vertical-align: top; border: blanchedalmond;" >
            <label style="display: inline-block; vertical-align: top; width: 100px">Introduction:</label> 
            <textarea name="intro" id="intro" rows="2" cols="60" style="display: inline-block; margin-left: 10px;" formControlName="introduction"></textarea>
        </div>
        <div class="col-5" style="display: inline-block; vertical-align: top;">
            <label class="lbl w100">App User Id</label> 
            <div class="stdd w50" >{{employee?.appUserId}}</div> 
            <label class="lbl w75">Username</label> 
            <div class="stdd w150" >{{employee?.userName}}</div> 
            <button class="btn fa fa-user stdd" (click)="generateAppUser()" title="click to generate new App User"
                [disabled]="employee?.appUserId !== 0 || employee?.id ===0"></button>
        </div>
        <hr style="border-style: solid;">
        <div class="col-xs-6" style="display: inline-block; vertical-align: top;">
            <div class="main-container my-0">
                <div class="container my-0">
                    <div class="b my-0" >HR Skills</div>            
                    <br><label class="fSmaller w300" style="margin-left: 50px;">Profession</label>
                    <label class="fSmaller w100">Skill Level</label>
                    <button class="btn fa fa-plus" (click)="addHRSkill()" ></button>
                    
                    <div formArrayName="hrSkills" style="margin-left: 50px;">
                        <div *ngFor="let sk of hrSkills.controls; let i=index">
                            <div [formGroupName]="i">
                                <ng-select   
                                    style="display: inline-block; font-size: smaller;width: 300px;" 
                                    [items]="professions" 
                                    [searchable]=true 
                                    bindLabel = "professionName"
                                    bindValue = "id"
                                    formControlName="professionId"
                                    (change)="professionChanged($event,i)"
                                    >
                                </ng-select>
                                <!-- <ng-select   
                                    style="display: inline-block; font-size: smaller;width: 300px;" 
                                    [items]="industries" 
                                    [searchable]=true 
                                    bindLabel = "industryName"
                                    bindValue = "id"
                                    formControlName="industryId"
                                    >
                                    </ng-select>
                                -->
                                <ng-select   
                                    style="display: inline-block; font-size: smaller;width: 150px;" 
                                    [items]="skillLevels" 
                                    [searchable]=true 
                                    bindLabel = "skillLevel"
                                    bindValue = "skillLevel"
                                    formControlName="skillLevelName"
                                    >
                                </ng-select>    
                            
                                <button class="btn fa fa-trash red" (click)="removeHRSkill(i)" ></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-6" style="display: inline-block; vertical-align: top;">
            <div class="main-container mt-2">
                <div class="container my-0">
                    <div class="b my-0" >Other Skills</div>            
                    <br><label class="fSmaller w300" style="margin-left: 50px;">Skill</label>
                    <label class="fSmaller w100">Skill Level</label>
                    <button class="btn fa fa-plus" (click)="addEmployeeOtherSkill()" ></button>
            
                    <div formArrayName="employeeOtherSkills" style="margin-left: 50px;">
                        <div *ngFor="let sk of employeeOtherSkills.controls; let j=index">
                            <div [formGroupName]="j">
                                <ng-select   
                                    style="display: inline-block; font-size: smaller;width: 300px;" 
                                    [items]="skillDatas" 
                                    [searchable]=true 
                                    bindLabel = "skillName"
                                    bindValue = "id"
                                    formControlName="skillDataId"
                                    (change)="professionChanged($event, j)"
                                    >
                                </ng-select>
                                <!-- <ng-select   
                                    style="display: inline-block; font-size: smaller;width: 300px;" 
                                    [items]="industries" 
                                    [searchable]=true 
                                    bindLabel = "industryName"
                                    bindValue = "id"
                                    formControlName="industryId"
                                    >
                                    </ng-select>
                                -->
                                <ng-select   
                                    style="display: inline-block; font-size: smaller;width: 150px;" 
                                    [items]="skillLevels" 
                                    [searchable]=true 
                                    bindLabel = "skillLevel"
                                    bindValue = "skillLevel"
                                    formControlName="skillLevelName"
                                    (change)="otherSkillChanged()"
                                    >
                                </ng-select>    
                            
                                <button class="btn red" (click)="removeHRSkill(j)" ><mat-icon>delete</mat-icon></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
<!-- </div> -->
<!-- <div>{{form.value | json}}</div> -->