.stdd {
    display: inline-block;
    font-size: smaller;
    margin: 0px 2px 0px 2px;
}

.b {font-weight: bold;}

.btn {color:aliceblue; font-size: small;}

.w15 {width: 15px;}
.w50 {width: 25px;}
.w150 {width: 150px;}
.w200 {width: 200px;}