
<ngx-spinner
    type="line-scale-party"
>
    <h3>Loading..</h3>
</ngx-spinner>

<!--mat-toolbar is the horizontal bar at the top.  For side navigation, see below sidenav-->

    <mat-toolbar>  <!--color="primary" removed-->
        
        <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
            <mat-icon>menu</mat-icon>
        </button>
        <span style="font-size: small;">Ideal Solutions - Welcome 
            <strong>{{user?.employer | uppercase}} </strong> (user:{{user?.knownAs}})</span>
        <span class="toolbar-item-spacer"></span>
    
        <form *ngIf="!(accountService.currentUser$|async)" #loginForm = "ngForm" (ngSubmit)="login()" 
            class="d-flex" autocomplete="off" role="search">
            <input type="text"
                name = "username" 
                style="width: 125px;"
                type="text"
                [(ngModel)]="model.username"
                class = "form-control me-2"
                placeholder="UserName"
            >
            <input type="text"
                style="width: 125px;"
                name = "password"
                [(ngModel)]="model.password"
                class = "form-control me-2"
                placeholder="Password"
                type="password"
            >
            <button class="btn btn-success" type="submit">Login</button>
        </form>
        
        <button mat-icon-button matTooltip="Notifications">
            <mat-icon>notifications</mat-icon>
        </button>
        <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
            <button mat-menu-item routerLink="#" matTooltip="Settings">
                <mat-icon>settings</mat-icon><span></span>
            </button>
            <button mat-menu-item routerLink="#" matTooltip="Help" style="display: inline-block;">
                <mat-icon>help</mat-icon><span></span>
            </button>
            <div *ngIf="(accountService.currentUser$|async)" style="display: inline-block;">
                <button mat-menu-item (click)="editLoggedinMember()" matTooltip="My Account">
                    <mat-icon>person</mat-icon><span></span>
                </button>
                 
                <button mat-menu-item (click)="logout()" matTooltip="Logout">
                    <mat-icon>exit_to_app</mat-icon>
                </button>
            </div>
            
        </mat-menu>
    </mat-toolbar>

<!--the side navigation bar menu-->

<mat-sidenav-container [hasBackdrop]="false" class="app-container" >
    <mat-sidenav #sidenav mode="side" [class.mat-elevation-z4]="true" class="app-sidenav">
        <div class="sidenav">
            <mat-nav-list>
                <mat-list-item routerLink="#">
                    <mat-icon>dashboard</mat-icon><span>Dashboard</span>
                </mat-list-item>
                
                <div *ngIf="accountService.currentUser$|async" >
                    <div class="sidenav">
                        <mat-expansion-panel [class.mat-elevation-z0]="true">
                            <mat-expansion-panel-header>H.R.<mat-icon>people</mat-icon></mat-expansion-panel-header>
                            <mat-nav-list>
                                <a mat-list-item routerLink="/candidates/register/edit/0">
                                    <span class="sidenav">New Candidate</span>
                                </a>

                                <a mat-list-item routerLink="/candidates/listing">
                                    <span class="sidenav">Candidate List</span>
                                </a>
                                <a mat-list-item routerLink="/candidates/availableToRef" 
                                    matTooltip="CVs assessed and ready to refer to clients" >
                                    <span class="sidenav">CVs ready to refer</span>
                                </a>
                                <a mat-list-item routerLink="/candidates/cvsreferred" 
                                    matTooltip="CVs referred" >
                                    <span class="sidenav">CVs Referred</span>
                                </a>
                                <a mat-list-item routerLink="/candidates/cvsreferred" 
                                    matTooltip="CVs referred and awaiting client decision" >
                                    <span class="sidenav">CVs awaiting selections</span>
                                </a>
                                <a mat-list-item routerLink="/prospectives/prospective"
                                    matTooltip="prospective candidates - downloaded from portals.  These are contacted to ascertain their interest in the recruitment" >
                                    <span class="sidenav">Calling Lists</span>
                                </a>
                                <a mat-list-item routerLink="/interviews"
                                    matTooltip="interview list, create new interview schedule" >
                                    <span class="sidenav">Interviews</span>
                                </a>
                                <a mat-list-item routerLink="/masters/customAssessments"
                                    matTooltip="Custom Assessment Questions" >
                                    <span class="sidenav">Custom Assessment Qs</span>
                                </a>
                            </mat-nav-list>
                        </mat-expansion-panel>
                        
                    </div>
                  
                    <mat-expansion-panel [class.mat-elevation-z0]="true" >
                        <mat-expansion-panel-header>Orders <mat-icon>view_list</mat-icon></mat-expansion-panel-header>
                        
                        <mat-nav-list>
                            <a mat-list-item routerLink="/orders/edit/0" matTooltip="create a new Demand Letter">
                                <span class="sidenav">New Demand Letter</span>
                            </a>

                            <a mat-list-item routerLink="/orders/orders" matTooltip="listing of orders">
                                <span class="sidenav">Orders Listing</span>
                            </a>
                            <a mat-list-item routerLink="/orders/DLForwarded" matTooltip="Orders already forwarded to Associates" >
                                <span class="sidenav">Orders Forwarded</span>
                            </a>
                            <a mat-list-item routerLink="/masters/categories" 
                                matTooltip="Category Assessment Questions" >
                                <span class="sidenav">Category Assessment Questions</span>
                            </a>
                           
                        </mat-nav-list>
                    </mat-expansion-panel>

        
                    <mat-expansion-panel [class.mat-elevation-z0]="true">
                        <mat-expansion-panel-header>Administration <mat-icon>dehaze</mat-icon></mat-expansion-panel-header>
                        <mat-nav-list>
                     
                            <a mat-list-item routerLink="/administration/customers" matTooltip="Customers, Vendors, Associates" >
                                <span class="sidenav">Customers</span>
                            </a>
                            <a mat-list-item routerLink="/administration/feedbacklist" matTooltip="Listing of feedbacks from Customers, Candidates or Vendors" >
                                <span class="sidenav">Feedbacks</span>
                            </a>
                            <a mat-list-item routerLink="/masters/employees" matTooltip="Employees" >
                                <span class="sidenav">Employees</span>
                            </a>
                            <a mat-list-item routerLink="/masters/categories" matTooltip="Categories" >
                                <span class="sidenav">Categories</span>
                            </a>
                            <a mat-list-item routerLink="/masters/qualifications" matTooltip="Qualifications" >
                                <span class="sidenav">Qualifications</span>
                            </a>
                            <a mat-list-item routerLink="/masters/industries" matTooltip="Industries" >
                                <span class="sidenav">Industries</span>
                            </a>
                            <a mat-list-item routerLink="/messages/messages" matTooltip="Messages concerning the logged-in User" >
                                <span class="sidenav" >Messages</span>
                            </a>
                       
                            <a mat-list-item (click)="exportExcelProspectives()" matTooltip="reads from PROSPECTIVE CANDIDATES downloaded from TimesJob.Com and copies the data to database" >
                                <span class="sidenav">Excel Conversion</span>
                            </a>
                            <a mat-list-item routerLink="/prospectives/autodial" matTooltip="audio Messages for candidates" >
                                <span class="sidenav">Audio Messages</span>
                            </a>
                        </mat-nav-list>
                    </mat-expansion-panel>

                    <mat-expansion-panel [class.mat-elevation-z0]="true">
                        <mat-expansion-panel-header>Selections <mat-icon>playlist_add_check</mat-icon></mat-expansion-panel-header>
                        <mat-nav-list>
                            <a mat-list-item routerLink="/selections/pendingSelections"
                                matTooltip="presents all pending selections to conclude"
                            >
                                <span>Selections Pending</span>
                            </a>
                            <a mat-list-item routerLink="/selections/selections" 
                                matTooltip="selections as well as Rejections finalized">
                                <span>Selections finalized</span>
                            </a>
                        </mat-nav-list>
                    </mat-expansion-panel>

                    <mat-expansion-panel [class.mat-elevation-z0]="true">
                        <mat-expansion-panel-header>Deployments <mat-icon>airplanemode_active</mat-icon></mat-expansion-panel-header>
                        <mat-nav-list>
                            <a mat-list-item routerLink="/deployment"
                                matTooltip="presents all pending deployment transactions for updates"
                            >
                                <!--<mat-icon>airplanemode_active</mat-icon> -->
                                <span>Active Deployments</span>
                            </a>
                            <a mat-list-item routerLink="/deployment/candidateflights"
                                matTooltip="presents candidate flights"
                            >
                                <!--<mat-icon>airplanemode_active</mat-icon> -->
                                <span>Candidate Flights</span>
                            </a>
                            <a mat-list-item routerLink="/deployment/deployStatus" 
                                matTooltip="deployment statuses">
                                <!--<mat-icon>subject</mat-icon> -->
                                <span>Deployment Status</span>
                            </a>
                        </mat-nav-list>
                    </mat-expansion-panel>
                    
                    <mat-expansion-panel [class.mat-elevation-z0]="true">
                        <mat-expansion-panel-header>Interviews <mat-icon>swap_horizontal_circle</mat-icon></mat-expansion-panel-header>
                        <mat-nav-list>
                            <a mat-list-item routerLink="/interviews"
                                matTooltip="Presents list of interviews, latest at the top">
                                <span>Interviews List</span>
                            </a>
                        </mat-nav-list>
                        <mat-nav-list>
                            <a mat-list-item routerLink="/interviews/editSchedule"
                                matTooltip="Edit an interview schedule">
                                <span>Edit Interview</span>
                            ></a>
                        </mat-nav-list>
                    </mat-expansion-panel>
                    <mat-expansion-panel [class.mat-elevation-z0]="true">
                        <mat-expansion-panel-header class="fa fa-inr">Finance</mat-expansion-panel-header>
                        <mat-nav-list>
                            <a mat-list-item routerLink="/finance/coalist" 
                                matTooltip="Chart of accounts" >
                                <span>Chart Of Accounts</span>
                            </a>
                            <a mat-list-item routerLink="/finance/voucherlist" 
                                matTooltip="list of vouchers" >
                                <span>Voucher List</span>
                            </a>
                            <a mat-list-item routerLink="/finance/voucherEdit/0"
                                matTooltip="Add a new Voucher">
                                <span>Add a new Voucher</span>
                            </a>
                            <a mat-list-item routerLink="/finance/receiptspendingconfirmation" 
                                matTooltip="presents cash and bank transactions pending realization" >
                                <span>confirm funds realization</span>
                            </a>
                        </mat-nav-list>
                    </mat-expansion-panel>
                    
                    <mat-expansion-panel [class.mat-elevation-z0]="true">
                        <mat-expansion-panel-header>Identity</mat-expansion-panel-header>
                        <mat-nav-list>
                            <a mat-list-item routerLink="/members" matTooltip="List of members" >
                                <span class="sidenav">Identity List Members</span>
                            </a>
                     
                            <a mat-list-item routerLink="/userroles" matTooltip="Authorities and roles of all Users" >
                                <span class="sidenav">Authorities & Roles</span>
                            </a>
                     
                        </mat-nav-list>
                    </mat-expansion-panel>
                    
                    <mat-expansion-panel [class.mat-elevation-z0]="true">
                        <mat-expansion-panel-header>Tasks</mat-expansion-panel-header>
                        <mat-nav-list>
                            <a mat-list-item routerLink="/tasks/loggedInUserTasks" 
                                matTooltip="Tasks pending for logged-in user" >
                                <span class="sidenav">Pending Tasks - {{user?.knownAs}}</span>
                            </a>
                     
                            <!-- <a mat-list-item routerLink="/tasks/tasksforadmin" 
                                matTooltip="all tasks pending - only for administrators" >
                                <span class="sidenav">Pending Tasks of all users</span>
                            </a> 
                            <a mat-list-item routerLink="/tasks/tasksforadmin" 
                                matTooltip="result of Call Lists" >
                                <span class="sidenav">Call List Status</span>
                            </a> -->
                            <a mat-list-item routerLink="/callRecords/callRecordList" 
                                matTooltip="callling list" >
                                <span class="sidenav">Call Record History</span>
                            </a>
                   
                        </mat-nav-list>
                    </mat-expansion-panel>

                    <mat-expansion-panel [class.mat-elevation-z0]="true">
                        <mat-expansion-panel-header>Quality Obectives</mat-expansion-panel-header>
                        <mat-nav-list>
                            <a mat-list-item routerLink="/quality/medobjective" 
                                matTooltip="Medical Tests Objectives analyses" >
                                <span class="sidenav">Medical Objective Analyses</span>
                            </a>

                            <a mat-list-item routerLink="/quality/hrobjective/analyses" 
                                matTooltip="HR Executive Objective analyses" >
                                <span class="sidenav">HR Objective Analyses</span>
                            </a>

                            <a mat-list-item routerLink="/quality/hrobjective/pending" 
                                matTooltip="HR Executive Pending Tasks" >
                                <span class="sidenav">HR Exec Pending Tasks</span>
                            </a>

                        </mat-nav-list>
                    </mat-expansion-panel>
                  </div>
            </mat-nav-list>
        </div>
       
    </mat-sidenav>
    
    <mat-sidenav-content>
        <router-outlet></router-outlet> 
        <div class="app-sidenav-content">
                <!--Components open here-->
                
        </div>
    
        </mat-sidenav-content>
        </mat-sidenav-container> 


<!-- <app-nav></app-nav> -->


<!--<div style="margin-top: 80px;">
    <router-outlet></router-outlet> 
</div> -->