.stdd {
    display: inline-block;
    font-size: small;
    vertical-align: top;
    margin: 0 2px 0 2px;
    word-wrap: break-word;
}

.stddLeft50 {
    display: inline-block;
    font-size: small;
    vertical-align: top;
    margin: 0 2px 0 50px;
}

.off {
    display: inline-block;
    font-size: smaller;
    font-stretch: semi-condensed;
    color:rgb(245, 236, 236);
}

.mL320 {margin-left: 326x;}
.ml170 {margin-left: 174px;}

.b {font-weight: bold;}
.red {color: red;}
.mL50 {margin-left: 50px;}

.w50 {width: 50px;}
.w70 {width: 70px;}
.w100 {width: 100px;}
.w150 {width: 150px;}
.w300 {width: 300px;}
.w200 {width: 200px;}
.w250 {width: 250px;}

.btn {color:aliceblue}