<div *ngIf="pagination !== undefined" class="stdd">

    <pagination
         class="stdd"
         [totalItems]="pagination!.totalItems"
         [itemsPerPage]="pagination!.itemsPerPage"
         (pageChanged)="onPageChanged($event)"
         [maxSize]="10"
         previousText="&lsaquo;"
         nextText="&rsaquo;"
         firstText="&laquo;"
         lastText="&raquo;">
    ></pagination>

    <div class="stdd" *ngIf="!cvs">
            No CVs available to refer to clients
    </div>
    
    <div class="stdd" *ngIf="cvs">
         <input (keyup.enter)="onSearch()" type="text" title="enter name or app nos, separated by commma" 
              class="stdd form-control w300" style="margin-left: 20px;" #search placeholder="Search">
         <button type="button" (click)="onSearch()" class="stdd btn btn-outline-primary mx-3">Search</button>
         <button type="button" (click)="onReset()" class="stdd btn btn-outline-success mx-3" 
              style="font-size: small;">Reset</button>
         <button type="button" class="stdd btn btn-outline-success fa fa-plus"  
              title="Add a new candidate" routerLink="/candidates/register/edit/0">+</button>
          <button class="stdd w40 mx-5 fa fa-aeroplane" (click)="referCVs()" >Refer</button>
    </div>

     <div style="margin-left: 70px;">
          <div class="lbl w30 mx-1">Select</div>
          <!-- <div class="stdd fSmall w10 mx-1"></div> -->
          <div class="lbl w25 mx-1">Gndr</div>
          <div class="lbl w50 mx-1">App No</div>
          
          <div class="lbl w130 mx-1">Candidate Name</div>
          <div class="lbl w100 mx-1">City</div>
          <div class="lbl w300 mx-1">Category Ref</div>
          <div class="lbl w100 mx-1">Assessed On</div>
          <div class="lbl w50 mx-1">Grade</div>
          <div class="lbl w200 mx-1">Professions</div>
     </div>
     <div *ngIf="!cvs">
          No candidates available to refer
     </div>
       <!--(msgEvent)="showDocumentViewerEvent($event)" -->    
     <div *ngIf="cvs.length">
          <div class="row" *ngFor="let cv of cvs" >
                
               <app-available-item
                    (downloadEvent)="downloadFileEvent($event)" 
                    (cvCheckedEvent)="cvCheckedEvent($event)"
                    (cvAssessEvent)="displayAssessmentModalBySwitchMap($event)"
                    [cv]="cv" 
               ></app-available-item>
          </div>
     </div>
</div>


   