

    <pagination *ngIf="pagination !== undefined"
         class="stdd"
         [totalItems]="pagination!.totalItems"
         [itemsPerPage]="pagination!.itemsPerPage"
         (pageChanged)="onPageChanged($event)"
         [maxSize]="10"
         previousText="&lsaquo;"
         nextText="&rsaquo;"
         firstText="&laquo;"
         lastText="&raquo;">
    ></pagination>
    
    <div class="stdd" *ngIf="cvs">
         <input (keyup.enter)="onSearch()" type="text" title="enter name or app nos, separated by commma" 
              class="stdd form-control w300" style="margin-left: 20px;" #search placeholder="Search">
         <button type="button" (click)="onSearch()" class="stdd btn btn-outline-primary mx-1">Search</button>
         <button type="button" (click)="onReset()" class="stdd mx-1 fa-arrows-rotate fa-2x" 
              style="font-size: small;">Reset</button>
         <button class="stdd w40 mx-1 fa fa-arrow-right fa-2x" title="refers selected CVs to client"
               (click)="referCVs()" ></button>
          <button class="stdd w40 mx-1 fa fa-window-close fa-2x" title="close this page"
               (click)="close()" ></button>

        <button printSectionId="print-section" 
            printTitle="printTitle"
            [previewOnly]="false"
            [useExistingCss]="true"
            ngxPrint
            title="shows the report in pdf format and enables printing" 
            style="display:inline-block; margin-left: 50px;"
            title="print pdf for current category Ref"
            (click)="generatePDF()"
            >
            <mat-icon>print</mat-icon>
        </button>

    </div>

    <div id="print-section">
          <div style="margin-left: 70px;">
               <div *ngIf="!isPrintPDF" class="lbl w30 mx-1">Select</div>
               <div class="lbl w25 mx-1">Gndr</div>
               <div class="lbl w50 mx-1">App No</div>
          
               <div class="lbl w130 mx-1">Candidate Name</div>
               <div class="lbl w100 mx-1">City</div>
               <div class="lbl w300 mx-1">Category Ref</div>
               <div class="lbl w100 mx-1">Assessed On</div>
               <div class="lbl w50 mx-1">Grade</div>
               <div class="lbl w200 mx-1">Professions</div>
          </div>
          <div *ngIf="cvs.length === 0" style="margin-left: 100px; margin-top: 5px; font-weight: bold; color: pink; ">
               No candidates available to refer
          </div>
          <!--(msgEvent)="showDocumentViewerEvent($event)" -->    
          <div *ngIf="isPrintPDF">
               <div class="row" *ngFor="let cv of printCVs" >
                    <app-available-item
                         [isPrintPDF]="true"
                         [cv]="cv" 
                    ></app-available-item>
               </div>
          </div>
          <div *ngIf="cvs.length && !isPrintPDF">
               <div class="row" *ngFor="let cv of cvs" >
                    <app-available-item
                         [isPrintPDF]="false"
                         (downloadEvent)="downloadcv($event)" 
                         (cvCheckedEvent)="cvCheckedEvent($event)"
                         (cvAssessEvent)="displayAssessmentModalBySwitchMap($event)"
                         [cv]="cv" 
                    ></app-available-item>
               </div>
          </div>

    </div>
     


   