.stdd {
	display: inline-block;
	margin: 2px 0 2px 0;
	vertical-align: top;
	font-size: small;
	word-wrap:break-word;
 }

 .fSmall {font-size: small;}
 .fSmaller {font-size: smaller;}

 .w20 {width: 20px;}
 .w50 {width: 50px;}
 .w75{width: 75px; font-size: smaller !important;}
 .w100 {width: 100px;}
 .w110 {width: 110px;}
 .w125 {width: 125px;}
 .w150 {width: 150px;}
 .w175{width: 175px;}
.w200 {width: 200px;}

.mL25 {width: 25px;}


input[type="checkbox"] {
    outline: 1px solid #1e5180;
}

.red {color: red;}

::ng-deep .ng-select-container {
	height: 5px !important;
	font-size: 0.8em!important;
    }

.cursorPointer{cursor:pointer; }
