<div style="margin-left: 15px; display: inline-block; font-size: large; font-weight: bold;">Tasks assigned by/to <strong>{{user?.knownAs}}</strong></div>

<div *ngIf="tasks && pagination" style="display: inline-block;" class="mx-5">
    <label class="lbl w100 mx-2" style="text-align: right;">Choose Task Type</label>
    <ng-select 
        class="stdd w150" 
        [items]="taskTypes"
        bindLabel="type"
        bindValue="value"
        labelForId="type"
        clearAllText="Clear"
        [(ngModel)]="sParams.taskType"
    ></ng-select>

    <label class="lbl w100 mx-2" style="display: inline-block; text-align: right;">Choose Status</label>
    <ng-select 
        class="stdd w100" 
        [items]="taskStatuses"
        bindLabel="status"
        bindValue="value"
        labelForId="status"
        clearAllText="Clear"
        [(ngModel)]="sParams.taskStatus"
    ></ng-select>

    <button class="btn" style="display: inline-block;" 
        title="recalculate data based on task status selected" (click)="applyStatus()" >
        <mat-icon>check</mat-icon>
    </button>
    <button (click)="onReset()" class="btn"><mat-icon>refresh</mat-icon></button>
    <button class="btn pull-right" routerLink="/" ><mat-icon>cancel</mat-icon></button>
  
</div>
<pagination
        style="margin: 0 5px 0 5px; display: inline-block;"
        [totalItems]="pagination!.totalItems"
        [itemsPerPage]="pagination!.itemsPerPage"
        (pageChanged)="onPageChanged($event)"
        [maxSize]="15"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">
    ></pagination>
    <label style="width: 50px;display: inline-block; font-size: medium; word-wrap: break-word; vertical-align: middle;">
        of {{pagination!.totalItems}}</label>
    <!-- <div class="stdd w300 mx-5">{{parameterCriteria}}</div> -->
    <div class="stdd form-inline" >
        <input (keyup.enter)="onSearch()" type="text" 
            class="stdd form-control w200" #search placeholder="Search">
        <button (click)="onSearch()" class="btn"><mat-icon>search</mat-icon></button>
    </div>


<div class="container">
    <label class="lbl w100">Date</label>
    <label class="lbl w75">Assigned By</label>
    <label class="lbl w75">Assigned To</label>
    <label class="lbl w90">Task Type</label>
    <div class="stdd w75">Order Item<br>Id</div>
    <label class="lbl w350">Task Description</label>
    <label class="lbl w100">Complete By</label>
    <label class="lbl w100">Status</label>
    <button class="btn fa fa-check" (click)="medicalObjectives()"></button>
    <div *ngIf="!tasks">No tasks on record matching the criteria</div>

    <div *ngIf="tasks" >
        <div *ngFor="let t of tasks">
            <app-task-line
                [task]="t"
                (completedEvent)="markAsCompleted($event)"
                (deleteEvent)="removeTask($event)"
                (editEvent)="editDeploymentModal($event)"
            ></app-task-line>
        </div>
    </div>
    
</div>
