<h4 style="display: inline-block;">Tasks assigned by/to <strong>{{user?.knownAs}}</strong></h4>

<div *ngIf="tasks && pagination" style="display: inline-block;" class="mx-5">

    <pagination
        style="margin: 0 5px 0 5px; display: inline-block;"
        [totalItems]="pagination!.totalItems"
        [itemsPerPage]="pagination!.itemsPerPage"
        (pageChanged)="onPageChanged($event)"
        [maxSize]="10"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">
    ></pagination>

    <div class="stdd w300 mx-5">{{parameterCriteria}}</div>

    <label class="lbl w100 mx-2">Choose Status</label>
    <input type="radio" class="stdd mx-2" [(ngModel)]="sParams.taskStatus" >all Status
    <input type="radio" class="stdd mx-2" [(ngModel)]="sParams.taskStatus" >Pending
    <input type="radio" class="stdd mx-2" [(ngModel)]="sParams.taskStatus" >Canceled
    <div class="stdd form-inline" style="margin-left: 50px !important;" >
        <input (keyup.enter)="onSearch()" type="text" 
            class="stdd form-control w200" #search placeholder="Search">
        <button (click)="onSearch()" class="btn btn-outline-primary fa fa-search mx-1"></button>
        <button (click)="onReset()" class="btn btn-outline-success fa fa-refresh mx-1"></button>
        <button class="btn fa fa-window-close fa-2x mx-2" style="display: inline-block;" routerLink="/tasks" ></button>
    </div>
    
</div>

<div class="container">
    <label class="lbl w100">Date</label>
    <label class="lbl w125">Assigned By</label>
    <label class="lbl w125">Assigned To</label>
    <label class="lbl w300">Task Description</label>
    <label class="lbl w125">Complete By</label>
    <label class="lbl w125">Status</label>
    
    <div *ngIf="!tasks">No tasks on record matching the criteria</div>

    <div *ngIf="tasks" >
        <div *ngFor="let t of tasks">
            <app-task-line
                [task]="t"
                (completedEvent)="markAsCompleted($event)"
                (deleteEvent)="removeTask($event)"
                (editEvent)="editDeploymentModal($event)"
            ></app-task-line>
        </div>
    </div>
    
</div>
