.stdd {
    display: inline-block;
    font-size: small;
    margin: 2px;
}


.w110 {width: 110px;}
.w150 {width: 150px;}
.w175 {width: 175px;}
.w400 {width: 400px;}

.b {font-weight: bold;}

.red {color: red;}
.green {color: darkgreen;}
