.stdd {
    display: inline-block;
    font-size: small;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.w110 {width: 110px;}
.w150 {width: 150px;}

.b {font-weight: bold;}

