<div class="modal-header">
    <div class="stdd" style="font-weight: bold">{{title}}</div>
    <div class="pull-right">
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
        <button type="button" class="btn btn-success" (click)="updateAgentsSelected()">Submit</button>
   
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
</div>

<div *ngIf="agents !== undefined" class="modal-body">
    <div class="stdd headerTitle w120" style="margin-left: 3px;">Official Name</div>
    <div class="stdd headerTitle mx-1 w200">Customer Name</div>
    <div class="stdd headerTitle mx-1 w75">City</div>
    <div class="stdd headerTitle w170">Email</div>
    <div class="stdd headerTitle mx-1 w100">SMS</div>

    <hr  >
    <form #agentsForm="ngForm" id="agentsForm">
        <div class="form-check stdd" *ngFor="let agent of agents">
            <div class="stdd w100" style="padding-left:0px;">{{agent.officialName}}</div>
            <div class="stdd  mx-1 w200">{{agent.customerName}}</div>
            <div class="stdd form-check-label w75">{{agent.city}}</div>
            <span class="form-check stdd " >
                <input type="checkbox" 
                    class="form-check-input"
                    [checked]="agent.checked"
                    (change)="agent.checked = !agent.checked" 
                    [disabled]="agent.customerIsBlacklisted || agent.officialEmailId === undefined"
                >
            </span>

            <span class="stdd form-check-label mx-1 w150" >{{agent.officialEmailId}}</span>
            
            <span class="form-check stdd w35" >
                <input type="checkbox" 
                  class="form-check-input"
                  [checked]="agent.checkedMobile"
                  (change)="agent.checkedMobile = !agent.checkedMobile" 
                  [disabled]="agent.customerIsBlacklisted && agent.mobileNo === undefined"
                >    
            </span>
            <span class="stdd w100 mx-1 ">{{agent.mobileNo}}</span>
        </div> 
    </form>
   </div>
   
   <div class="modal-footer">   
    
   </div>