
.stdd {
    display: inline-block;
    font-size: smaller;
    margin: 0 2px 0 2px;
    vertical-align: top;
    word-wrap: break-word;
}

.w100 {width: 100px;}
.w125 {width: 125px;}
.w300 {width: 300px;}

.cursorpointer {cursor: pointer;}

.red {color: red;}
.green  {color: green;}