
<div *ngIf="task">
    <div class="stdd w100">{{task.taskDate | date: 'dd-MMM-yy'}}</div>
    <div class="stdd w75">{{task.assignedByUsername}}</div>
    <div class="stdd w75" style="text-align: center;">{{task.assignedToUsername}}</div>
    <div class="stdd w90">{{task.taskType}}</div>
    <div class="stdd w75">{{task.orderItemId}}</div>
    <div class="stdd w350" >{{task.taskDescription}}</div>
    <div class="stdd w100">{{task.completeBy | date: 'dd-MMM-yy'}}</div>
    <div class="stdd w100">{{task.taskStatus}}</div>
    <button class="btn fa fa-pencil" 
        (click)="editClicked()" title="edit this task item"></button>
    <button class="btn fa fa-check green" 
        (click)="completedClicked()" title="mark as completed" [disabled]="task.taskStatus==='Completed'"></button>
    <button class="btn fa fa-trash red" 
        (click)="deleteClicked()" title="Delete this task"></button>
</div>
