<h6 style="display: inline-block;">Edit Customer Review</h6>
<button class="btn btn-success fa fa-save" [disabled]="!form.dirty" style="margin-left: 200px;" (click)="updateReview()" ></button>
<button class="btn fa fa-window-close fa-2x" style="margin-left: 200px;" (click)="goback()" ></button>

<div class="my-2">
    <div *ngIf="review">
        <form [formGroup]="form">
            <div class="stdd w150 b">Customer</div>
            <div class="stdd w250">{{review.customerName}}, {{review.city}} </div>
            <br><div class="stdd w150 b">Current Status</div>
            <div class="stdd w100">{{review.currentStatus}}</div>
            <hr>
            <label class="stdd w80">Date</label>
            <label class="stdd w150">Status</label>
            <label class="stdd w250">Description</label>
            <label class="stdd w80">ApprovedBy</label>
            <label class="stdd w80">On</label>
            
            <button class="btn fa fa-plus" (click)="addReviewItem()" ></button>
            
            <div formArrayName="customerReviewItems">
                <div *ngFor="let rvw of customerReviewItems.controls; let i=index">
                    <div [formGroupName]="i">
                        <input class="stdd w80" type="text" placeholder="date" 
                            formControlName="transactionDate" bsDatepicker 
                            [bsValue]="bsValueDate" 
                            [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }">

                        <div class="stdd w150">
                            <ng-select 
                                    style="border: color(from color srgb r g b);"
                                    [items]="reviewStatus"
                                    bindLabel="status"
                                    bindValue="status"
                                    labelForId="status"
                                    clearAllText="Clear"
                                    formControlName="customerReviewStatus"
                            ></ng-select>
                        </div>

                        <div class="stdd w250">
                            <app-text-input [label]="'Remarks'" formControlName="remarks"></app-text-input>
                        </div>
                        <div class="stdd w80">
                            <app-text-input [label]="'Approved By'" formControlName="approvedByUsername"></app-text-input>
                        </div>
                        <input class="stdd w80" type="text" placeholder="approved on" 
                            formControlName="approvedOn" bsDatepicker 
                            [bsValue]="bsValueDate" 
                            [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }">
                        
                        <button class="btn fa fa-trash red" (click)="removeItem(i)" ></button>
                        <button class="btn fa fa-check green" (click)="approveItem(i)" ></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>