

<pagination 
    style="display: inline-block;" 
    *ngIf="pagination !== undefined"
    [totalItems]="pagination!.totalItems"
    [itemsPerPage]="pagination!.itemsPerPage"
    (pageChanged)="pageChanged($event)"
    [maxSize]="15"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;">
></pagination>

<button class="btn fa fa-window-close fa-2x" style="margin-left: 100px;" routerLink="/" ></button>

<br>
<label class="stdd w150" style="margin-left: 15px;">User name</label>
<label class="stdd w100">Known As</label>
<label class="stdd w50">Gender</label>
<label class="stdd w75">Age</label>
<label class="stdd w75">city</label>
<label class="stdd w100">Phone No</label>
<label class="stdd w150">Email</label>
<label class="stdd w150">Roles</label>

<div *ngIf="members.length===0" style="margin-left: 50px;">
    No members on record
</div>

<div class="row" *ngIf="members">
    <div *ngFor="let member of members">
        <app-member-item
            [member]=member
            (editEvent)="editMember($event)"
            (deleteEvent)="deleteMember($event)"
        >
        </app-member-item>
    </div>
</div>

