.stdd {
    display:inline-block;
    font-size: smaller;
}

.w250 {
    width: 250px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.w150 {
    width: 150px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.w75{
    width: 75px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.w100{
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}
.w400{
    width: 400px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}
