<div class="container d-flex justify-contents-between align-items-center mt-5">
   
    <div title="a list of all account names" class="nav-item menuStdd">
        <a routerLink="/finance/coalist" class="nav-item menuStdd"
            routerLinkActive="active" >Chart Of Accounts</a>
    </div>

    <div class="nav-item menuStdd"  title="listing of Vouchers" (click)="displayVoucherList()">
        <a routerLinkActive="active" class="nav-link">List of Vouchers</a>
    </div>
    <div  class="nav-item menuStdd" (click)="fundsConfirmation()">
        <a title="Receipt of funds through cash/bank - confirm their receipts" 
            routerLinkActive="active" >Receipt of Funds pending approval</a>
    </div>

    <button class="stdd fa fa-undo" title="go back to home" (click)="close()"></button>

</div>

