.lbl {
    display: inline-block;
    font-size: small;
    font-weight: bold;
    vertical-align: middle;
    margin: 0 2px 0 2px;
}

.stdd {
    display: inline-block;
    font-size: small;
    vertical-align: middle;
    margin: 0 2px 0 2px;
}
.w125 {width: 125px;}
.w75 {width: 75px;}
.w50 {width: 50px;}
.w100 {width: 100px;}

.p15 {padding-left: 15px;}

.btn {color:aliceblue}