.stdd {
	display: inline-block;
}

.w20 {width: 20px;}
.w35 {width: 35px;}
.w50 {width: 50px;}
.w75 {width: 75px;}
.w100 {width: 100px;}
.w125 {width: 125px;}
.w150 {width: 150px;}
.w250 {width: 250px;}


.b {font-weight: bold;}
.green {color: darkgreen;}

.rAlign {text-align: right;}

.fontSmall {font-size: small;}