<div class="modal-header my-0" *ngIf="chklst" >
    <h4 class="b">Candidate Checklist</h4>
    <br><div class="stdd w70 b">Candidate:</div> 
    <div class="stdd w200 blue mx-1">{{chklst.applicationNo}} - {{chklst.candidateName}}</div>

    <button type="button" class="stdd btn btn-success fa fa-save" (click)="Update()"></button>
    <button type="button" class="stdd btn btn-close close mx-10" aria-label="Close" (click)="closeModal()"></button>
    <button class="btn btn-danger pull-right fa fa-trash fa-sm" (click)="deleteChecklist()" title="Delete this checklist"></button>
</div>    

<div class="modal-body my-0">
    <form [formGroup]="form" >
        <div class="mx-2 mt-2" *ngIf="chklst">
        
            <div class="stdd w75 b">Category:</div> 
            <div class="stdd w400 blue mx-1">{{chklst.categoryRef}} </div>
            
            <br><div class="stdd w150 b">HR Exec assigned to:</div>
            <div class="stdd w100 blue">{{chklst.hrExecUsername}}</div>
            <div class="stdd w100 b">Logged-In User:</div>
            <div class="stdd w100 blue">{{chklst.userLoggedName}}</div>
            <br><div class="stdd w75 b my-0 mx-1">Fees:</div> 
                
            <div *ngIf="chklst?.charges===undefined || chklst.charges===undefined" 
                class="stdd mx-1 w100 text-danger" >Not Defined</div>
            <div *ngIf="chklst.charges !==null" style="border: blue;" class="stdd blue w70" >{{chklst.charges}}</div>
            <div class="stdd b mx-1">Agreed:</div> 
                
            <input class="form-text-input blue stdd w70 mx-1" [name]="'chargesAgreed'" 
                (dblclick)="ChargesDoubleClicked()"    
                    title="this is charges agreed box"
                    formControlName="chargesAgreed"
                >
            
            <label class="stdd w20" style="margin-left: 10px;">Charges Exception approved</label>
            <input type="checkbox" style="margin-left: 80px; border: aliceblue; border:inset"
                class="form-check-input stdd mx-1"
                [checked]="chklst.exceptionApproved"
                (change)="chklst.exceptionApproved !== chklst.exceptionApproved"
                formControlName="exceptionApproved"
            >
            
            <div *ngIf="chklst.charges != chklst.chargesAgreed && chklst.charges > 0" 
                class="stdd w150 b ml-5 mx-1" style="padding-right: 5px;">Fees Diff Approved:
                <div class="stdd" *ngIf="chklst.exceptionApproved">
                    <div class="stdd w50">On: </div>
                    <div class="stdd w100 blue">{{chklst!.exceptionApprovedOn | date:'d-MMM-yy'}}</div>
                    <div class="stdd w75 ml-20 b">By:</div> 
                    <div class="stdd w75 blue">{{chklst!.exceptionApprovedBy}}</div>    
                </div>
            </div>
            <br>
            <label class="stdd w100 b">Salary Offered</label>
            <div class="stdd w150 blue" title="double-click to display the remuneration modal.  Once this form is displayed and closed, please click any where out of this modal form to close it." (dblclick)="displayRemunerationModal()">{{chklst.salaryOffered}}</div>
            <label class="stdd w70 b" style="margin-left: 10px;">Expected:</label>
            <app-text-input title="Minimum Salary Expectation of the candidate" [label]="'Salary Expectation'" formControlName="salaryExpectation" class="stdd w70">  </app-text-input>
            
            <br>
            <div class="stdd b">checklisted on:</div> 
            <div class="stdd blue">{{chklst.checkedOn | date: 'd-MMM-yy'}}</div>
            <div class="stdd ml-5 b">
                <span class="b">Checklist Completed:</span>
                <span class="b mx-2 blue"> {{chklst.checklistedOk ? 'Yes' : 'No'}}</span>
            </div>
            
                <hr class="mt-0 mb-0 b">
                <label class="lbl w40">Sr#</label>
                <label class="lbl w250">Parameter</label>
                <label class="lbl w50">Must<br>accept</label>
                <label class="lbl mx-2 fontSmall" style="width: 50px;">Candidt<br>accepts</label>
                <label class="lbl w100" >Candidt<br>Response</label>
                <label class="lbl w125">Exception</label>

                <button class="stdd btn fa fa-plus blue mx-1" title="Add an assessment item for the candidate" 
                    (click)="addChecklistItem()" ></button>
                
                <hr class="mt-0 mb-0">
                <div formArrayName="checklistHRItems" class="my-1">
                    <div *ngFor="let item of checklistHRItems.controls; let i=index">
                        <div [formGroupName]="i" class="my-1">

                            <input type="number" class="stddT w40" style="text-align: right;" title="Sr. No." formControlName="srNo">  
                            <input type="text" class="stddT w250" title="Parameter" formControlName="parameter">
                            <input type="checkbox" class="stddT ML5 w50" formControlName="mandatoryTrue">  
                            <input type="checkbox" class="stddT ML5 w50" formControlName="accepts">  
                            
                            <input type="text" class="stddT w100" style="margin-left: 10px;" title="Parameter" formControlName="response">
                            <input type="text" class="stddT w125" formControlName="exceptions" >
                            
                            <button class="btn fa fa-trash red mx-2" (click)="removeChecklistItem(i)" ></button>
                        </div>
                    </div>
                </div>
        </div>    
    </form>
        

</div>  

   <div class="modal-footer">
     
   </div>

<div style="font-size: smaller;">
    {{this.form.value | json}}
</div>