.stdd {
    display: inline-block;
    font-size: small;
    margin: 0 2px 0 2px;
    vertical-align: top;
}

.btn {vertical-align: top; margin: 0; font-size:medium ;}

.fSmaller {font-size: smaller !important;}

.lbl {
    display: inline-block;
    font-size: small;
    font-weight: bold;
    margin: 0 2px 0 2px;
}

.w50 {width: 50px;}
.w75 {width: 75px;}
.w150 {width: 150px;}
.w250 {width: 250px;}
.w400 {width: 400px;}


.b {font-weight: bold;}
.blue{color: blue;}
.red {color: red;}

.hAlignR {text-align: right;}