.stdd {
	display: inline-block;
	margin: 0 2px 0 2px;
	vertical-align: top;
	color: aliceblue;
}

.cursorPointer {cursor: pointer; color: white;}
.red {color:pink;}

.rAlign{text-align: right;}

.w30 {width: 30px;}
.w75 {width: 75px;}
.w100 {width: 100px;}
.w300 {width: 300px;}