.stdd {
	display: inline-block;
	margin: 0 2px 0 2px;
	vertical-align: top;
	color: aliceblue;
	font-size: small;
}

.cursorPointer {cursor: pointer; color: yellow;}
.red {color:pink;}

.rAlign{text-align: right;}


.w30 {width: 30px;}
.w40 {width: 40px;}
.w50 {width: 50px;}
.w75 {width: 75px;}
.w100 {width: 100px;}
.w125 {width: 125px;}
.w250 {width: 250px;}

.btn {color:aliceblue; margin: 0 2px 0 2px; vertical-align: top; width: 20px;}