<div class="modal-header">
	<div class="b">{{title}}</div>

	<button type="button" title="submit" class="stdd btn btn-default green fa fa-2x fa-check" (click)="returnInputValue()"></button>
	<button class="stdd close pull-right fa fa-2x fa-close" type="button" aria-label="Close" (click)="bsModalRef.hide()"></button>
 </div>
 
 <div class="modal-body">
	<label class="stdd w75 b">Enter the value: </label>
	<input class="stdd w110"
		type="text"
		[(ngModel)] = "inputValue"
	>
 </div>
<div class="modal-footer">

</div>