<div style="display: inline-block; font-size:larger; font-weight: bold;">Customer Feedback Listing</div>
<div class="stdd" *ngIf="pagination !== undefined">
    <pagination
        class="my-2" style="display: inline-block; vertical-align: top;"
        [totalItems]="pagination!.totalItems"
        [itemsPerPage]="pagination!.itemsPerPage"
        (pageChanged)="onPageChanged($event)"
        [maxSize]="15"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">
    ></pagination>
    
    <label style="width: 50px;display: inline-block; padding-left: 5px; font-size: large; word-wrap: break-word; vertical-align: middle;">
        of {{pagination.totalItems}}</label>
</div>

<div class="stdd" *ngIf="feedbacks">
    <input (keyup.enter)="onSearch()" type="text" title="enter text to search" 
         class="stdd form-control w300" style="margin-left: 20px;" #search placeholder="Search">
    <button type="button" (click)="onSearch()" class="btn"><mat-icon>search</mat-icon></button>
     
    <button type="button" (click)="onReset()" class="btn mx-3" ><mat-icon>refresh</mat-icon></button>
    <button type="button" routerLink="/" class="btn red mx-3"><mat-icon>cancel</mat-icon></button>
   
    <h6 class="stdd w300">To add a new feedback, go to the customers listing, " + 
        "click a button to the right against a customer name in Customer Index</h6>
</div>

<hr class="my-0">
<div class="stdd w200">Customer</div>
<div class="stdd w75">City</div>
<div class="stdd w125">Official Name</div>
<div class="stdd w100">Issued On</div>
<div class="stdd w100">Received On</div>
<div class="stdd w75">Grade</div>
<hr class="my-0">
<div *ngIf="!feedbacks">
    No feedback data available as per your search conditions
</div>

<div *ngIf="feedbacks">
    <div *ngFor="let fdbk of feedbacks">
        <app-feedback-line
            [fdbk]="fdbk"
            (editEvent)="editClicked($event)"
            (deleteEvent)="deleteClicked($event)"
            (emailEvent)="emailClicked($event)"
        ></app-feedback-line>
    </div>
    
</div>

