<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">Overseas Recruitment</a>
    
        <ul class="navbar-nav me-auto mb-2 mb-md-0" >
          <ng-container *ngIf="accountService.currentUser$|async">

              <li class="nav-item">
                <a class="nav-link menu" routerLink="/candidates" routerLinkActive="active">Candidates</a>
              </li>
              <li class="nav-item">
                <a class="nav-link menu" routerLink="/administration" routerLinkActive="active">Administration</a>
              </li>
            

              <li class="nav-item">
                <a class="nav-link menu" routerLink="/deployment" routerLinkActive="active">Deployment</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link menu" routerLink="/finance" routerLinkActive="active">Finance</a>
              </li>
              
              <li class="nav-item" style="width: 150px;">
                <a class="nav-link menu" routerLinkActive="active" style="width: 150px;">Call Record</a>
              </li>

              <input type="text" style="height: 2em; width: 125px;"
                  name = "stPhoneNo" 
                  type="text"
                  [(ngModel)]="stPhoneNo"
                  class = "form-control me-2 menu"
                  placeholder="phone no"
              >
              <button class="btn btn-success fa fa-phone" (click)="editCallRecord()"  title="click to display call record details for the phone no" type="submit"></button>
              
             
          </ng-container>
          <!-- <li class="nav-item" >
            <a class="nav-link" routerLink="/errors" routerlinkActive="active">Errors</a>
          </li> -->
        </ul>


        <div class="dropdown" *ngIf="(accountService.currentUser$|async) as user" dropdown>
          <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Welcome {{user.knownAs | titlecase}}</a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item menu" routerLink="/member/edit">Edit Profile</a>
            <a class="dropdown-item menu" (click)="logout()">Log Out</a>
          </div>
        </div>

        <form *ngIf="!(accountService.currentUser$|async)" #loginForm = "ngForm" (ngSubmit)="login()" 
            class="d-flex menu" autocomplete="off" role="search">
              <input type="text"
                name = "username" 
                type="text"
                [(ngModel)]="model.username"
                class = "form-control me-2"
                placeholder="UserName"
              >
              <input type="text"
                name = "password"
                [(ngModel)]="model.password"
                class = "form-control me-2 menu"
                placeholder="Password"
                type="password"
              >
              
              <button class="btn btn-success menu" type="submit">Login</button>
        </form>
      </div>
  </nav>