<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">Overseas Recruitment</a>
    
        <ul class="navbar-nav me-auto mb-2 mb-md-0" >
          <ng-container *ngIf="accountService.currentUser$|async">
              <li class="nav-item">
                <a class="nav-link" routerLink="/members" routerLinkActive="active">Members</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/memberlikes" routerLinkActive="active">Member Likes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/orders" routerLinkActive="active">Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/process" routerLinkActive="active">Deployment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
              </li>
              <li class="nav-item" (click)="logout()">
                <a class="nav-link">Log Out</a>
              </li>
          </ng-container>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/errors" routerlinkActive="active">Errors</a>
          </li>
        </ul>

        <div class="dropdown" *ngIf="(accountService.currentUser$|async) as user" dropdown>
          <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Welcome {{user.knownAs | titlecase}}</a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
            <a class="dropdown-item" (click)="logout()">Log Out</a>
          </div>
        </div>

        <form *ngIf="!(accountService.currentUser$|async)" #loginForm = "ngForm" (ngSubmit)="login()" 
            class="d-flex" autocomplete="off" role="search">
              <input type="text"
                name = "username" 
                type="text"
                [(ngModel)]="model.username"
                class = "form-control me-2"
                placeholder="UserName"
              >
              <input type="text"
                name = "password"
                [(ngModel)]="model.password"
                class = "form-control me-2"
                placeholder="Password"
                type="password"
              >
              
              <button class="btn btn-success" type="submit">Login</button>
        </form>
      </div>
  </nav>