
<div class="stdd row" style="margin-left: 75px; margin-top: 0px; margin-bottom: 0px;" *ngIf="cv!==null && cv!==undefined">

     <input type="checkbox" *ngIf="isPrintPdf"
          class="stdd form-check-input"
          style="border-color: black ;"
          [checked]="cv!.checked"
          value="cv.id"
          (change)="CVChecked()"
     >
     <div class="stdd fSmall w70" title="click to edit" mouseover="style.cursor = 'pointer'" 
          style="margin-left: 10px;" >{{cv.applicationNo}}</div>
     
     <div class="stdd fSmall w130" routerLink = "/candidate/historyfromcvid/{{cv.candidateId}}" 
          title="contact history of the candidate" >{{cv.candidateName}}</div> 

     <div class="stdd fSmaller w200" >{{cv.categoryRefAndName}}</div>
     <div class="stdd fSmaller w150" >{{cv.customerName}}</div>
     <div class="stdd fSmall w100" >{{cv.referredOn | date: 'dd-MMM-yy'}}</div>
     <div class="stdd fSmaller w100" >{{cv.selectionStatus}}</div>
     <div class="stdd fSmall w100" >{{cv.selectionStatusDate | date: 'dd-MMM-yy'}}</div>
          
     <button (click)="deleteClicked(cv.id)" type="button" *ngIf="!isPrintPdf"
          class="btn fa fa-trash w20" type="button" 
          title="download the CV">
     </button>
     
     <button (click)="download(cv.candidateId)" type="button" *ngIf="!isPrintPdf"
          class="btn btn-outline-secondary fa fa-regular fa-download w20" type="button" 
          title="download the CV">
     </button>
     
</div>

