<div *ngIf="!selections">
    No selection records found matching your criteria
</div>

<h4 class="mx-5" style="display: inline-block; font-weight: bold;">Selections and Rejections</h4>

   <pagination *ngIf="selections && pagination"
        style = "display: inline-block;"
        [totalItems]="pagination!.totalItems"
        [itemsPerPage]="pagination!.itemsPerPage"
        (pageChanged)="onPageChanged($event)"
        [maxSize]="20"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">
    ></pagination> 
    <label style="width: 50px;display: inline-block; padding-left: 5px; font-size: larger; word-wrap: break-word; vertical-align: middle;">
        of {{pagination?.totalItems}}</label>
      
    <input (keyup.enter)="onSearch()" type="text" 
        class="stdd mx-5 w150" #search placeholder="Search">

    <ng-select class="stdd w150"
        [items]="selectionStatuses"
        bindLabel="name"
        bindValue="name"
        labelForId="name"
        clearAllText="Clear"
        [(ngModel)]="sParams.selectionStatus"
    ></ng-select> 
    
    <button (click)="onSearch()" class="btn"><mat-icon>search</mat-icon></button>
    <button (click)="onReset()" class="btn"><mat-icon>refresh</mat-icon></button>
  
    <button class="btn" title="align values in CVRef with Selections" (click)="DoHousekeeping()"><mat-icon>settings_applications</mat-icon></button>
    <button class="btn" routerLink="/" ><mat-icon>home</mat-icon></button>
   
<div style="margin-left: 25px;">
    <label class="stdd w50">App No</label>
    <label class="stdd w150">Candidate Name</label>
    <label class="stdd w200">Customer Name</label>
    <label class="stdd w200">Category Ref</label>
    <label class="stdd w150">Selection Decision</label>
    <label class="stdd w100">Sel/Rej<br>Date</label>
    <label class="stdd w100">Referred On</label>
    <label class="stdd w50">Employmt<br>available</label>
    
    <div class="row" *ngFor="let item of selections">
        <app-selection-line
            [selection]="item"
            (editEmploymentEvent)="displayEmploymentModal($event, item)"
            (deleteSelectionEvent)="deleteSelection($event)"
            (editSelectionEvent)="displaySelectionModal($event, item)"
        ></app-selection-line>
    </div>
    
</div>
