<div *ngIf="cv===null">
    No candidate detail available
</div>

<div class="stdd" style="width: max-content;" *ngIf="cv">

     <div class="stdd" *ngIf="!isPrintPDF">
          <input type="checkbox" style="margin-left: 50px;"
               class="checkbox form-check-input"
               [checked]="cv.checked"
              (change)="CVChecked(cv!)" >
     </div>

     <div class="stdd w40" style="text-align: center;">{{cv.gender}}</div>

     <div class="stdd w50" title="click to edit" mouseover="style.cursor = 'pointer'" 
          style="margin-left: 10px;" routerLink="/candidates/edit/{{cv.candidateId}}">{{cv.applicationNo}}</div>
     
     <div class="stdd w130" routerLink = "/candidate/historyfromcvid/{{cv.candidateId}}" 
          title="contact history of the candidate" >{{cv.fullName}}</div> 

     <div class="stdd w100">{{cv.city}}</div>
     <div class="stdd w300" >{{cv.orderCategoryRef}}</div>
     <div class="stdd w100" >{{cv.assessedOn | date: 'dd-MMM-yy'}}</div>
     <div class="stdd w50 cursorpointer" style="text-align: center;" title="click to show the assessment sheet"
          (click)="displayAssessment()" >{{cv.gradeAssessed}}</div>
     
     <div class="prof" *ngFor="let item of cv.userProfessions">
          {{item.professionName}} - 
          <!-- <div style="display: inline-block" *ngIf="cv.userProfessions.length>1"></div>  -->
    </div> 
    <div class="prof" *ngIf="cv.userProfessions.length > 0">
     <pre></pre>
          <!-- <div style="display: inline-block" *ngIf="cv.userProfessions.length>1"></div>  -->
     </div> 

     <button (click)="download(cv)" type="button" *ngIf="!isPrintPDF"
          class="btn fa fa-download w20" type="button" 
          title="download the CV">
     </button>
     
</div>

