.lbl {
    display: inline-block;
    font-size: small;
    font-weight: bold;
    margin: 0 2px 0 2px;
    vertical-align: top;
}

.stdd {
    display: inline-block;
    font-size: small;
    margin: 0 2px 0 2px;
    vertical-align: top;
}

.dropdown {
    display: inline-block;
    font-size: smaller;
    margin: 0 2px 0 2px;
    vertical-align: top;
    width: 200px;
    word-wrap: break-word;
}

.dt {
    display: inline-block;
    font-size: smaller;
    margin: 0 1px 0 1px;
    vertical-align: top;
    width: 160px;
}

.w15 {width: 15px;}
.w35 {width: 35px;}
.w75 {width: 75px;}
.w100 {width: 100px;}
.w125 {width:125px;}
.w150 {width:150px;}

.w200 {width:200px;}

.red {color: red}
.green {color: darkgreen}