.lbl {
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
    margin: 0 2px 0 2px;
    vertical-align: top;
}

.stdd {
    display: inline-block;
    font-size: smaller;
    margin: 0 2px 0 2px;
    vertical-align: top;
    font-weight: normal;
}

.nilMargin {margin: 0 0 0 0;
    padding: 0 0 0 0;}
    
.dropdown {
    display: inline-block;
    font-size: smaller;
    margin: 0 2px 0 2px;
    vertical-align: top;
    width: 200px;
    word-wrap: break-word;
}

.dt {
    display: inline-block;
    font-size: smaller;
    margin: 0 1px 0 1px;
    vertical-align: top;
    width: 160px;
}

.w15 {width: 15px;}
.w35 {width: 35px;}
.w50 {width: 50px;}
.w75 {width: 75px;}
.w100 {width: 100px;}
.w125 {width:125px;}
.w150 {width:150px;}
.w200 {width:200px;}
.w300 {width: 300px;}

.red {color: red}
.green {color: darkgreen}

.btn {color:aliceblue}

.cursor {
    cursor:pointer; 
    color:yellow; 
    font-size: x-small;
    display: inline-block;
    margin: 0 2px 0 2px;
    vertical-align: top;
    font-weight: bold;
}