
<div *ngIf="interviewItem" style="margin-left: 5px;">
    <form [formGroup]="form" (change)="formChanged()">

        <h4 class="stdd">Interview Category details</h4>
        <hr style="margin: 0; border-width: 2px; border-color: aqua;">
        <label class="lbl w75">Category:</label> <div class="stdd w250 mx-3">{{interviewItem.professionName}}</div>
        <label class="lbl w100">Intervw Mode:</label> <div class="stdd w75 mx-3">{{interviewItem.interviewMode}} </div>
        <label class="lbl w75 mx-2">Venue: </label>
        <app-text-input [label]="'Interview Venue'" formControlName="interviewVenue" 
            class="stdd w100" ></app-text-input>
        <label class="lbl w75 mx-2">Address: </label>
        <app-text-input [label]="'Venue Address'" formControlName="venueAddress" 
            class="stdd w300" ></app-text-input>
        <button class="btn fa fa-save green" style="margin-left:250px !important" (click)="savewithattachments()" 
            title="saves the interview item with assignments, along with attachments" style="color: aliceblue; vertical-align: top;" ></button>
        <button class="btn fa fa-users w15" style="color: aliceblue;"  (click)="getMatchingCVs(interviewItem)"
            title="gets candidates available and matching this profession.  Sources from candidates as well as prospetive candidates"></button>
      
        <br><label class="lbl w75 mx-2">Address2: </label>
        <app-text-input [label]="'Address2'" formControlName="venueAddress2" 
            class="stdd w200" ></app-text-input>
        <label class="lbl w50 mx-2">City: </label>
        <app-text-input [label]="'City and PIN'" formControlName="venueCityAndPIN" 
            class="stdd w150" ></app-text-input>
        <label class="lbl w125 mx-2">Site Rep Name: </label>
        <app-text-input [label]="'Site Rep Name'" formControlName="siteRepName" 
                class="stdd w100" ></app-text-input>
        <label class="lbl w100 mx-2">Site Phone No: </label>
        <app-text-input [label]="'Site Phone No'" formControlName="siteRepName" 
                class="stdd w75" ></app-text-input>
        <label class="lbl w125 mx-2">Interviewer Name:</label>
        <app-text-input [label]="'Interviewer Name'" formControlName="interviewerName" class="stdd w150" ></app-text-input>
        
        
        <hr style="margin: 0;">
        <br><label class="lbl w75" style="margin-left: 25px;">App No</label>
        <label class="lbl w150">Candidate Name</label>
        <label class="dt">Scheduled From</label>
        <label class="dt">Reported At</label>
        <label class="dt">Interviewed At</label>
        <label class="lbl w200">Interview Result</label>
        <label class="lbl w150">Interviewer Remarks</label>
          
        <div formArrayName="interviewItemCandidates" class="my-2" style="margin-left: 25px;">
            <div *ngIf="upload" style="font-size: x-small;">
                <input class="stdd" type="file" id="file" (change)="onFileInputChange($event)" >
                <button class="btn fa fa-window-close" (click)="upload = !upload" ></button>
            </div>
        
            <div *ngFor="let item of interviewItemCandidates.controls; let i=index; ">
            
                <div [formGroupName]="i">

                    <app-text-input [label]="'application No'" formControlName="applicationNo" (click)="addInterviewItemCandidate(i)" class="stdd w75" ></app-text-input>
                    <app-text-input [label]="'Candidate Name'" formControlName="candidateName" class="stdd w150" ></app-text-input>
                    <app-text-input [type]="'datetime-local'" class="dt" formControlName="scheduledFrom" [label]="'Scheduled time'"></app-text-input>
                    <!-- <app-text-input [type]="'datetime-local'" class="dt" formControlName="reportedAt"  
                        [label]="'Reported At'" (dblclick)="registerReportedAt(i)"></app-text-input> -->
                    <input type="datetime-local" class="dt" formControlName="reportedAt" (dblclick)="registerReportedAt(i)">
                    <app-text-input [type]="'datetime-local'" class="dt" formControlName="interviewedAt" [label]="'Interviewed At'"></app-text-input>
                    
                    <ng-select 
                        class="dropdown"
                        [items]="interviewResults"
                        bindLabel="result"
                        bindValue="result"
                        labelForId="result"
                        clearAllText="Clear"
                        formControlName="interviewStatus"
                    ></ng-select>
                    <app-text-input class="stdd w150" formControlName="interviewerRemarks" 
                        (dblclick)="displayInterviewerRemarks(i)" title="double click to edit in a larger window"
                        [label]="'Interviewer Remarks'"></app-text-input>
           
                    <!--<app-text-input class="stdd w75" formControlName="attachmentFileNameWithPath"  
                        [label]="'Attachment Full File Name'"></app-text-input> -->

                    <button type="button" class="btn w15 fa fa-download" style="color: aliceblue;" title="download interviewer comments" 
                        (click)="downloadattachment(i)" 
                        ></button>
                              
                    <button type="button" class="btn w15 fa fa-upload" style="color: aliceblue;" 
                        title="upload a new interviewer comment.  Any existing attachment will be REPLACED" 
                        (click)="uploadattachment(i)" ></button>
                   
                    <button class="btn w15 fa fa-trash red" (click)="removeInterviewItem(i)" ></button>

                </div>
                    
            </div>
        </div>
    </form>
</div>

<div style="font-size: smaller;">
    {{form.value | json}}
</div>