.lbl {
    display: inline-block;
    font-size: small;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: middle;
    font-weight: bold;
}

.stdd {
    display: inline-block;
    font-size: small;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: middle;
}

.w25 {width: 25px;}
.w50 {width:50px;}
.w75 {width: 75px;}
.w100 {width: 100px;}
.w120 {width: 120px;}
.w150 {width: 150px;}

.mL25 {margin-left: 25px;}

.btn {color:aliceblue; vertical-align: top; margin: 0 2px 0 2px;}