<h4 style="display: inline-block;" class="mx-4">Candidate Flight details</h4>

<pagination style="display: inline-block;" class="mx-3" *ngIf="pagination !== undefined"
    [totalItems]="pagination!.totalItems"
    [itemsPerPage]="pagination!.itemsPerPage"
    (pageChanged)="onPageChanged($event)"
    [maxSize]="15"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;">
></pagination>

<span class="lbl w150">Search Parameters</span>
<span class="lbl w75">Order No</span>
    <input id="orderNo" name="orderNo" class="stdd w75" [(ngModel)]="fParams.orderNo" >
<span class="lbl w100 mL25">Category Ref</span>
    <input id="orderNo" name="orderNo" class="stdd w75" [(ngModel)]="fParams.orderItemId" >

<button class="btn mL25" (click)="applyParams()"
    title="retrieves records from database based upon value selected"><mat-icon>search</mat-icon></button>

<button (click)="onReset()" title="resets search parameters" 
    class="btn"><mat-icon>refresh</mat-icon></button>

<button (click)="close()" title="close this page" 
class="btn"><mat-icon>cancel</mat-icon></button>

<hr class="my-0">
<label style="display: inline-block; width: 120px; margin-left: 45px; font-size: small; font-weight: bold;">Airline</label>
<label class="lbl w100">Airport of<br>Boarding</label>
<label class="lbl w100" style="margin-left: 10px !important;">Flight Date</label>
<label class="lbl w50">ETD</label>
<label class="lbl w100">Airport of Destination</label>
<label class="lbl w50">ETA</label>
<label class="lbl w75">Ct of Pax</label>
<label class="lbl w100">Actions</label>
<hr>

<div *ngIf="!cFlights">
    No matching Candidate Flights on record
</div>

<div *ngFor="let dto of cFlights">
    <app-candidate-flight-item
        [dto]="dto"
        (deleteEvent)="deleteClicked($event)"
        (editEvent)="editClicked($event)"
        (travelAdviseEvent)="travelAdviseClicked($event)"
    ></app-candidate-flight-item>
</div>