<h4 style="display: inline-block;" class="mx-4">Candidate Flight details</h4>

<pagination class="stdd mx-3" *ngIf="pagination !== undefined"
    [totalItems]="pagination!.totalItems"
    [itemsPerPage]="pagination!.itemsPerPage"
    (pageChanged)="onPageChanged($event)"
    [maxSize]="10"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;">
></pagination>

<span class="lbl w150">Search Parameters</span>
<span class="lbl w75">Order No</span>
    <input id="orderNo" name="orderNo" class="stdd w75" [(ngModel)]="fParams.orderNo" >
<span class="lbl w100 mL25">Category Ref</span>
    <input id="orderNo" name="orderNo" class="stdd w75" [(ngModel)]="fParams.orderItemId" >

<button class="btn fa fa-check mL25" (click)="applyParams()"
    title="retrieves records from database based upon value selected"></button>

<button (click)="onReset()" title="resets search parameters" 
    class="btn btn-outline-success fa fa-refresh mx-1"></button>

<button (click)="close()" title="close this page" 
class="btn btn-outline-success mx-2 fa fa-window-close fa-2x"></button>

<hr class="my-0">
<label class="lbl w120" style="margin-left: 25px !important;">Flight Date</label>
<label class="lbl w150">Airport of Boarding</label>
<label class="lbl w150">Airport of Destination</label>
<label class="lbl w120">Airline</label>
<label class="lbl w120">ETD</label>
<label class="lbl w120">ETA</label>
<label class="lbl w75">Ct of Pax</label>
<hr>

<div *ngIf="!cFlights">
    No matching Candidate Flights on record
</div>

<div *ngFor="let dto of cFlights">
    <app-candidate-flight-item
        [dto]="dto"
        (deleteEvent)="deleteClicked($event)"
        (editEvent)="editClicked($event)"
        (travelAdviseEvent)="travelAdviseClicked($event)"
    ></app-candidate-flight-item>
</div>