<div *ngIf="order">
    <form [formGroup]="form" (change)="formChanged()" >
        <label class="lbl w110 mx-2">Order No</label>
        <label class="lbl w300 mx-2">Customer</label>
        <label class="lbl w110 mx-2">Dated</label>
        <label class="lbl w110 mx-2">Complete By</label>
        <label class="lbl w110 mx-2">City</label>
        <label class="lbl w150 mx-2">Country</label>
        <label class="lbl w110 mx-2">Order Ref</label>
        <br>
        <app-text-input class="stdd w110 mx-2" [label]="'Order No'" formControlName="orderNo" ></app-text-input>
        
        <div class="stdd w300 mx-2">
            <ng-select 
                [items]="customers"
                bindLabel="customerName"
                bindValue="id"
                labelForId="id"
                clearAllText="Clear"
                formControlName="customerId"
            ></ng-select>
        </div>
        
        <input class="stdd w110 mx-2" type="text" placeholder="Order Date" formControlName="orderDate"
            bsDatepicker [bsValue]="bsValueDate" [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }">
            
        <input class="stdd w110 mx-2" type="text" placeholder="Order Date" formControlName="completeBy"
            bsDatepicker [bsValue]="bsValueDate" [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }">

        <app-text-input class="stdd w110 mx-1" [label]="'City'" formControlName="cityOfWorking" ></app-text-input>
        <app-text-input class="stdd w100 mx-1" [label]="'Country'" formControlName="country" ></app-text-input>
        <app-text-input class="stdd w200" [label]="'Order Ref'" formControlName="orderRef" ></app-text-input>
        
        <br><label class="lbl w150 mx-2">Project Head</label>
        <div class="stdd w150 mx-2">
            <ng-select  
                 [items]="employees"
                 bindLabel="knownAs"
                 bindValue="id"
                 labelForId="id"
                 clearAllText="Clear"
                 formControlName="projectManagerId">
            </ng-select>
       </div>

        <div *ngIf="!isAddMode" class="stdd" >
                <label class="lbl w150">Contract Review Status</label>
                <div class="stdd w100 cursorpointer yellow" style="border:btn-primary;" 
                    [ngClass]="order.contractReviewStatus==='Accepted'
                    ?'green'
                    :order.contractReviewStatus==='Accepted with regrets'
                        ?'blue'
                    :'red'" 
                    (click)="updateContractReviewStatus()"
            >
                    {{order.contractReviewStatus}}
            </div>  
            <label class="lbl w150 mx-3">Forwarded to HR On</label>
            <div *ngIf="order.forwardedToHRDeptOn !==null && order.forwardedToHRDeptOn !== undefined "  
                    id="forwardedToHRDeptOn" class="stdd w110 yellow mx-2">
                    {{order.forwardedToHRDeptOn | date}}
            </div>
            <div *ngIf="order.forwardedToHRDeptOn ===undefined" class="stdd w110 cursorpointer mx-2 yellow"
                    (click)="forwardOrderToHRDept()">
                    Not Forwarded
            </div>
        </div>
         <label class="lbl w100">Status</label>
        <div class="stdd fontSmaller w110 yellow">{{order.status}}</div>

        <button type="submit" [disabled]="!form.dirty" style="margin-left: 25px!important;" 
            class="fa fa-save fa-2x" (click)="onSubmit()" title="Save the requirement" >
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        </button> 
       
        <div *ngIf="!isAddMode" style="display: inline-block;" >
            <button [disabled]="order.contractReviewStatus !== 'Accepted'" 
                class="btn mx-2 fa fa-users fa-2x" (click)="assignTasksToHRExecs()" 
                title="assign selected categories once Contract Review is done"
            > </button>
            <!--<button [disabled]="order.contractReviewStatus !== 'Accepted'" 
                class="btn mx-2 fa fa-question fa-2x" (click)="OpenOrderAssessment()" 
                title="assign selected categories once Contract Review is done"
            ></button> -->
            <button class="btn mx-2 fa fa-question" (click)="OrderForwardedTo()"
                title="displays list of Associates to whom this order has been forwarded"></button>
        </div>
           
        <button class="btn fa fa-2x fa-window-close" (click)="close()" style="margin-left: 25px;"
            title="Return to calling procedure" ></button>

        <hr style="margin: 0px; padding: 0px;">

        <div formArrayName="orderItems" class="my-2">
            <div style="font-weight: bold; margin-left: 0px; font-size: smaller;">
                <label class="lbl w30">Sel</label>
                <label class="lbl w30" >Sr#</label>
                <label class="lbl w225">Category</label>
                <label class="w30 mx-2" style="display: inline-block;">ECNR</label>
                <label class="lbl w100">Source<br>From</label>
                <label class="lbl w50">Qnty</label>
                <label class="lbl w50" >Min<br>CVs</label>
                <label class="lbl w50" >Max<br>CVs</label>
                <!-- <label class="lbl w75" >Require<br>Assess</label> -->
                <label class="lbl w110" 
                    title="Date by which the shortlisting of candidates is to be completed by the HR Executive"
                    >Complete by
                </label>
                <label class="lbl w50">Review<br>Status</label>

                <button  type="button" (click)="addItem()" class="stdd w30 fa fa-plus fa-2x blue" style="margin-left: 20px;"></button>
            </div>

            <div *ngFor="let item of orderItems.controls; let i=index">
                <div [formGroupName]="i">
                    <input type="checkbox" formControlName="selected" 
                        style="display: inline-block; width: 15px; margin-left: 8px; margin-right: 8px;">

                    <!-- <app-text-input class="w40" style="display: inline-block;font-size: small;" formControlName="srNo"></app-text-input> -->
                    <input type="text" class="w40" style="margin: 0 1px 0 1px; text-align: right;" formControlName="srNo">
                    <ng-select  class="stdd w240" *ngIf="categories" 
                        [items]="categories"
                        bindLabel="professionName"
                        bindValue="id"
                        labelForId="id"
                        clearAllText="Clear"
                        formControlName="professionId">
                    </ng-select>

                    <input type="checkbox" formControlName="ecnr" class="chk w30" >
                    <app-text-input class="stdd w100" [label]="'Source From'" formControlName="sourceFrom"></app-text-input>
                    <app-text-input class="stdd w50" [label]="'quantity'" formControlName="quantity" (change)="qntyChanged(i)" ></app-text-input>
                    <app-text-input class="stdd w50" [label]="'Min CVs'" formControlName="minCVs" ></app-text-input>
                    <app-text-input class="stdd w50" [label]="'max CVs'" formControlName="maxCVs" ></app-text-input>
                    <!-- <input type="radio" class="inputcheck form-check-input " value=1 formControlName="requireAssessment" >Y
                    <input type="radio" class="inputcheck form-check-input " value=0 formControlName="requireAssessment" >N -->

                    <input type="text"
                        class="stdd w110"
                        placeholder="Complete By"
                        formControlName="completeBefore"
                        bsDatepicker
                        [bsValue]="bsValueDate"
                        [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }"
                    >
                    <input type="text" class="stdd w150 cursorpointer" title="contract review of this category"
                        formControlName="reviewItemStatus" >

                    <div *ngIf="!isAddMode" class="stdd">       
                        <button class="btn w10 fa fa-expand" (click)="openContractReviewItemModal(i)" 
                            title="click to edit/prepare Contract Review for this category"></button>
                        <button class="w10 btn fa fa-question" 
                            title="design Assessment Questions for this category" 
                            (click)="displayOrderAssessmentItem(i)" 
                        ></button>

                        <button class="btn fa fa-list" title="Open Job Description"
                            (click)="openJDModal(i)" ></button>
                        <button class="btn fa fa-dollar" title="Open Remuneration"
                            (click)="openRemunerationModal(i)" ></button>
                    </div>
                    <button (click)="removeItem(i)" class="btn fa fa-trash red" 
                        title="remove this item"
                    ></button>
                </div>
            </div>
        </div>
    </form>
    <ul class="text-danger list-unstyled" *ngIf="errors">
        <li *ngFor="let error of errors">
             {{error}}
        </li>
   </ul>
</div>

<!-- <div style="font-size: small;">
    {{form.value |json}}
</div> -->