.stdd {
    display: inline-block;
    vertical-align: top;
    color:hsl(from color h s l)
}

.lbl {
    display: inline-block;
    font-weight: bold;
    font-size: small;
    vertical-align: middle;
}

 .radio {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px 0 2px;
    border-color: black;
    width: 20px;
    height: 1em;
    font-size: medium;
}
.fMedium {font-size: medium;}
.fSmall {
    font-size: small;
    margin: 0 3px 0 1px;
}

.btn {color:aliceblue; margin: 0 2px 0 2px;}

.b {font-weight: bold;}
.w50 {width: 50px;}
.w75 {width: 75px;}
.w100 {width: 100px;}
.w130 {width: 130px;}
.w150 {width: 150px;}
.w200 {width: 200px;}
.w400 {width: 400px;}

.btn {color: aliceblue; margin: 0 2px 0 2px; size: 20px; vertical-align: middle;}