<div *ngIf="fdbk">
    <div class="stdd w200">{{fdbk.customerName}}</div>
    <div class="stdd w75">{{fdbk.city}}</div>
    <div class="stdd w125">{{fdbk.officialName}}</div>
    <div class="stdd w100">{{fdbk.dateIssued | date: 'dd-MMM-yy'}}</div>
    <div class="stdd w100">{{fdbk.dateReceived | date: 'dd-MMM-yy'}}</div>
    <div class="stdd w75">{{fdbk.gradeAssessedByClient}}</div>
    <button class="btn" title="Edit this Feedback.  It is not editable if the Feedback has already been forwarded to client" 
        (click)="editClicked(fdbk.id)" ><mat-icon>edit</mat-icon></button>
    <button class="btn" title="send to the client a link to this feedback"
        (click)="generateEmail(fdbk.id)" ><mat-icon>mail</mat-icon></button>
    <button class="btn red" title="delete this feedback.  It cannot be deleted if it is already sent to the client" 
        (click)="deleteClicked(fdbk.id)" ><mat-icon>delete</mat-icon></button>
</div>

<!-- disable delete when fdbk.dateSent !== null-->