
<form [formGroup]="form" style="margin-left: 20px;">
     <div *ngIf="reviewItem !== undefined" class="my-2 mx-2">
          <h4 class="my-2 b">Contract Review - Order Category</h4>
          <br><div class="title"><span style="font-weight: bold;">Customer: </span>{{reviewItem.customerName}}</div>
          <div class="title mx-4"><span style="font-weight: bold;">Order No.: </span>{{reviewItem.orderNo}} dtd: {{reviewItem.orderDate | date: 'dd-MMM-yy'}}</div>
          
          <button type="button" style="display: inline-block;" class="mL15 btn btn-success fa fa-save" (click)="confirmUpdate()"></button>
          <button type="button" style="display: inline-block;" class="btn fa fa-window-close fa-2x" (click)="decline()"></button>

          <br><div class="title b"><span>Category to review: </span></div>
          <div class="title w350" >{{reviewItem.professionName}}</div>
          <div class="title mx-2 hAlignR">Charges: </div>
          <app-text-input [label]="'Charges'" class="stdd w75" formControlName="charges"></app-text-input>
          <!-- <app-text-input [label]="'Rvw Id'" class="stdd w35" formControlName="contractReviewId"></app-text-input> -->
          
          <br><div class="title w100">Assigned to: </div>
          <ng-select *ngIf="empIdAndNames" 
               class="stdd w150"
               [items]="empIdAndNames"
               bindLabel="knownAs"
               bindValue="username"
               labelForId="username"
               clearAllText="Clear"
               formControlName="hrExecUsername"
               (change)="employeeChanged($event)"
               >
          </ng-select>
          <label class="stdd my-0" style="font-size: x-small;">HR Skills:</label>               
          <div *ngIf="!skills" class="stdd my-0 cursorpointer" title="click the HR Exec Username to display his skill set"></div>
          <div *ngIf="skills" class="stdd my-0" style="width: 450px; font-size: x-small">{{skills.flat()}}</div>
          
          <br><div class="title w150">Review Item Status</div>
          <ng-select *ngIf="reviewStatus" 
               class="stdd w150"
               [items]="reviewStatus"
               bindLabel="name"
               bindValue="name"
               labelForId="reviewItemStatus"
               clearAllText="Clear"
               formControlName="reviewItemStatus"
               >
          </ng-select>

          <label class="lbl w150 b my-2 hAlignR">Assessment Reqd: </label>
          <input type="radio" class="inputcheck form-check-input mx-2" value= 1 formControlName="requireAssess" >Yes
          <input type="radio" class="inputcheck form-check-input mx-2" value= 0 formControlName="requireAssess" >No
     </div>
 
     <br>
     <div style="font-size: small; vertical-align: middle;">
          <label class="lbl w35">Sr#</label>
          <label class="lbl w35">Manda-<br>tory</label>
          <label class="lbl mL10 w350">Parameter</label>
          <!-- <label class="lbl w50">Response</label> -->
          <label class="lbl w75">Response<br>YES</label>
          <!-- <label class="lbl w50">Response<br>Yes/No</label> -->
          <label class="lbl w150">Remarks</label>
          <button class="btn fa fa-plus" (click)="addQ()" title="add a new Review Question"></button>
          <div formArrayName="contractReviewItemQs" class="mt-2 my-1 px-0">
               <div *ngFor="let q of contractReviewItemQs.controls; let i=index">
                    <div [formGroupName]="i">
                         <input type="text" class="std w35" formControlName="srNo">
                         <!-- <app-text-input [label]="'Sr#'" class="std w35" formControlName="srNo" ></app-text-input> -->
                         <input type="checkbox" class="stdd w35" formControlName="isMandatoryTrue" >
                         <app-text-input [label]="'Parameter'" class="stdd w350" formControlName="reviewParameter" style="font-size: small;"></app-text-input>
                         <input type="checkbox" class="stdd w75" formControlName="response">
                         <app-text-input [label]="'Remarks'" class="stdd w150" style="font-size: small;" formControlName="remarks"></app-text-input>
                         <button class="btn mL10 fa fa-trash fa-sm red" (click)="removeQ(i)" ></button>
                         <!-- <app-text-input [label]="'rvwItemId'" class="stdd w35" formControlName="contractReviewItemId" ></app-text-input> -->
                    </div>
               </div>      
          </div>   
     </div>
</form>

<!-- <div style="font-size: x-small;">{{form.value | json}}</div> -->
