<div *ngIf="orderItemSelected !== undefined">
    <div class="stdd vAlignTop">
         <div class="col-6 stdd">
              <span class="stdd w200">Candidate Name: </span> <span class="blue">{{cvBrief?.fullName}}</span> 
         </div>
         <div class="col-6 stdd">
              <span class="stdd w200" >Application No.: </span> <span class="blue ">{{cvBrief?.applicationNo}}</span>
         </div>
    
         <div *ngIf="qDesigned || !requireInternalReview" >
              <div class="col-6 stdd">
                   <span class="stdd w200">Customer: </span> <span class="stdd blue mx-2">{{orderItemSelected.customerName}}</span>
              </div>
              <div class="col-6 stdd">
                   <span class="stdd w200">Category: </span> <span class="blue">{{orderItemSelected.categoryRefAndName}}</span>
              </div>
              <div class="col-6 stdd">
                   <span class="stdd w200">Order dated: </span> <span class="stdd blue mx-2">{{orderItemSelected.orderDate | date}}</span>
              </div>
              <div class="col-6 stdd">
                   <span class="stdd w200">Checklisted: </span> <span class="stdd blue mx-2">{{!checklist ? 'Yes': 'No'}}</span>
              </div>
              <div class="col-6 stdd">
                   <span class="stdd w200">Requires Internal Review: </span> <span class="stdd blue mx-2">{{requireInternalReview ? 'Yes':'No'}}</span>
              </div>
              <div class="col-6 stdd">
                   <span class="stdd w200">Assessment Q designed: </span> <span class="stdd blue mx-2">{{qDesigned ? 'Yes':'No'}}</span>
                   <!-- <span class="stdd">{{cvAssessment?.candidateAssessmentItems===null}}</span> -->
              </div>
              <div *ngIf="cvAssessment">
                   <div class="col-6 stdd">
                        <div *ngIf="requireInternalReview" class="stdd">Assessed by: 
                             <span class="stdd blue mx-2">{{cvAssessment.assessedByName}}</span>
                        </div>
                        <div *ngIf="!requireInternalReview" class="stdd">Shortlisted by: 
                             <span class="stdd blue mx-2">{{cvAssessment.assessedByName}}</span>
                        </div>
                    </div>
                   
                    <div class="col-6 stdd">
                        <span class="stdd">On: </span> <span class="stdd blue mx-2">{{cvAssessment.assessedOn | date}}</span>
                   </div>
                   <div class="col-6 stdd">
                        <span class="stdd">Assessment Result: </span> <span class="stdd blue mx-2">{{cvAssessment.assessResult}}</span>
                   </div>
                   <div class="col-6 stdd">
                        <button type="button" [disabled]="!form.dirty" title="save assessment of the candidate" class="stdd btn btn-success fa fa-save" (click)="update()" ></button>
                        <button type="button" class="stdd mx-2 btn fa fa-trash text-danger" title="delete complete Assessment Object" (click)="deleteAssessment()" ></button>
                        <!-- <button class="stdd btn btn-default fa fa-window-close" title="Close this form and return to CV Index"  (click)="closeAssessment()" ></button> -->
                   </div>
              </div>
         </div>
    
    </div>
    <hr class="mt-0 mb-0 b"> 
    <div *ngIf="!requireInternalReview" class="b blue">
         No internal review required
    </div>
    <div *ngIf="cvAssessment">
         <div *ngIf="requireInternalReview">
              <form [formGroup]="form" >
                   <div class="stdd w50 vAlignCenter hAlignCenter mx-1 mt-3">Q No.</div>
                   <div class="stdd w50 vAlignCenter hAlignCenter mx-1">Asses-<br>sed</div>
                   <div class="stdd w75 vAlignCenter hAlignCenter mx-1">Is Man-<br>datory</div>
                   <div class="stdd w400 vAlignCenter">Question</div>
                   <div class="stdd w50 vAlignCenter hAlignCenter">Max<br>Points</div>
                   <div class="stdd w50 vAlignCenter mx-1 hAlignCenter">Points</div>
                   <div class="stdd w200 vAlignCenter mx-1 ">Remarks</div>
                   <button class="stdd btn fa fa-plus blue mx-1" title="Add an assessment item for the candidate" (click)="addCandidateAssessmentItem()" ></button>
                   
                   <hr class="mt-0 mb-0">
                   
                        <div formArrayName="candidateAssessmentItems" class="my-1">
                             <div *ngFor="let item of candidateAssessmentItems.controls; let i=index">
                                  <div [formGroupName]="i" class="my-1">
                                       <input type="text" class="stdd vAlignTop mx-1 w50" formControlName="questionNo" >
                                       <input type="checkbox" class="stdd vAlignTop" style="margin-left: 20px;" formControlName="assessed" >
                                       <input type="checkbox" class="stdd vAlignTop" style="margin-left: 55px;" formControlName="isMandatory" >
                                       <input type="text" class="stdd vAlignTop w400" style="margin-left: 45px;" formControlName="question" >
                                       <input type="number" class="stdd vAlignTop mx-1 w50" formControlName="maxPoints" (change)="maxMarksTotal()" >
                                       <input type="number" class="stdd vAlignTop mx-1 w50" formControlName="points" (change)="pointsGainedTotal(i)" >
                                       <input type="text" class="stdd vAlignTop mx-1 w250" formControlName="remarks" >
                                       <button class="stdd red fa fa-trash mx-2" (click)="removeCandidateAssessmentItem(i)" ></button>
                                  </div>
                             </div>
                        </div>
                        <div class="stdd b w50 mb-5 mt-2" style="margin-left: 550px;">totals: </div>
                        <div class="stdd b w50 mx-2 hAlignRight" >{{totalPoints}}</div>
                        <div class="stdd b w50 mx-2 hAlignRight">{{totalGained}}</div>
                        <div class="stdd b w50 mx-2 hAlignRight">={{percentage}} %</div>
              </form>
         </div>
         <div class="row" *ngIf="validationErrors.length > 0">
              <ul class="text-danger">
                   <li *ngFor="let error of validationErrors">
                        {{error}}
                   </li>
              </ul>
         </div>
   
</div>

<!--
    <div>
         {{form.value | json}}
    </div>
</div>
-->