.stdd {
    display: inline-block;
    font-size: small;
    margin: 0 2px 0 2px;
    word-wrap: break-word;
    vertical-align: top;
}

.lbl {
    display: inline-block;
    font-size: small;
    font-weight: bold;
    margin: 0 2px 0 2px;
}

.hAlignCenter {text-align: center;}

.w15 {width: 15px;}
.w20 {width: 20px;}
.w55 {width: 55px;}
.w75 {width: 75px;}
.w100 {width: 100px;}
.w125 {width: 125px;}
.w150{width: 150px;}