
<div class="caption">Transactions Pending approval</div>
<div class="lbl w200 mx-5">Logged in User: {{user?.knownAs}}</div>

<br>
<pagination style="display: inline-block; margin-left: 15px" *ngIf="pagination !== undefined"
    [totalItems]="pagination!.totalItems"
    [itemsPerPage]="pagination!.itemsPerPage"
    (pageChanged)="onPageChanged($event)"
    [maxSize]="15"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;">
</pagination>

<label style="width: 50px;display: inline-block; font-size: large; word-wrap: break-word; vertical-align: middle;">
    of {{pagination?.totalItems}}</label>

<button class="btn" title="Confirm receipt of funds pending for acceptance" 
    [disabled]="pendingSelected.length===0" (click)="update()" >
    <mat-icon>save</mat-icon>
</button>

<button style="margin-left: 25px !important;" class="btn" title="Exit this page" routerLink="/finance" ><mat-icon>cancel</mat-icon></button>

<div class="container my-2">
    <label class="lbl w100">Approved</label>
    <label class="lbl w75">Voucher No</label>
    <label class="lbl w100 hAlignCenter">Dated</label>
    <label class="lbl w200">Account Name</label>
    <label class="lbl w75">Amount</label>
    
    <div class="my-2" *ngIf="!pending.length">No Voucher Entries pending for Debit Entry Approvals</div>
    <div *ngIf="pending">
        <div *ngFor="let item of pending">
            <input type="checkbox" 
                style="margin: 0 40px 0 40px; border-color: black; "
                class="form-check-input w20 hAlignCenter"
                [(ngModel)]="item.drEntryApproved"
                (click)="selectedClicked(item)" >
            
            <div class="stdd w75 hAlignCenter cursorPointer"(click)="displayVoucher(item.id)" 
                title="display the Voucher">{{item!.voucherNo}}</div>
            <div class="stdd w100 hAlignCenter">{{item!.voucherDated|date:'dd-MMM-yy'}}</div>
            <div class="stdd w200">{{item!.drAccountName}}</div>
            <div class="stdd w75 hAlignRight">{{item!.drAmount.toLocaleString()}}</div>
        </div>
    </div>
</div>
