<div class="modal-header my-0">
    <h6>Edit a {{title}}</h6>
</div>
<div class="modal-body my-0">
    <button class="w35 btn btn-success fa fa-save " style="margin-left: 200px;"
        title="update the " + {{title}} (click)="updateClicked()" ></button>
    <button class="btn fa fa-close pull-right" title="Close" (click)="bsModalRef.hide()" ></button>

    <label style="display: inline-block; width: 150px;">{{title}} Name</label>
    <!-- <input type="text" style="display: inline-block; width: 250px;" [(ngModel)]="category!.professionName"> -->
</div>