
<div *ngIf="!candidate">
     No valid Candidate object
</div>

<form [formGroup]="registerForm" 
     (ngSubmit)="registerForm.valid && savewithattachments()" 
     autocomplete="off"
     *ngIf="candidate">

     <div class="my-0" *ngIf="candidate" style="font-weight: bold; display: inline-block;">
          {{strAddMode}}
     </div>
     <div class="my-0" style="margin-left: 225px; display: inline-block; vertical-align: top;">
          <button class="btn btn-default fa fa-window-close" style="color: aliceblue;" type="button" (click)="cancel()"></button>
          <button [disabled]="!registerForm.valid" title="Update" 
               class="btn btn-success me-2 fa fa-save " type="submit"></button>
     </div>
  
     <br>
     <div class="stdd col-5 mt-1" style="border-style: groove; margin-left: 5px;">
          <!-- <qrcode [qrdata]="qrDataPPNo" [size]="256" [level]="'M'"></qrcode> -->
          <label class="lbl">Gender: </label>
          <input type="radio" class="inputcheck form-check-input " value="m" formControlName="gender" >Male
          <input type="radio" class="inputcheck form-check-input " value="f" formControlName="gender" >Female
          
          <br>
          <label for="firstName" class="lbl">First Name</label>
          <app-text-input class="stdd w150" [label]="'First Name'" formControlName="firstName" ></app-text-input>
           
          <label for="secondName" class="lbl">Second Name</label>
          <app-text-input class="stdd w150" [label]="'Second Name'" formControlName="secondName"></app-text-input>
          
          <br><label for="familyName" class="lbl">Family Name</label>
          <app-text-input class="stdd w150" [label]="'Family Name'" formControlName="familyName"></app-text-input>
          <label for="knownAs" class="lbl">Known As</label>
          <app-text-input class="stdd w150" [label]="'Known As'" formControlName="knownAs"></app-text-input>
          
          <br><label for="aadharNo" class="lbl">Aadhar No</label>
          <app-text-input class="stdd w150" [label]="'Aadhar No'" formControlName="aadharNo" ></app-text-input>

          <label for="ppNo" class="lbl" style="margin-left: 5px;">Passport No</label>
          <app-text-input class="stdd w150" [label]="'Passport No'" formControlName="ppNo" ></app-text-input>
          <br><label class="lbl">ECR/ECNR: </label>
          <input type="radio" formControlName="ecnr" value="true"  class="form-check-input inputcheck"> ECNR
          <input type="radio" formControlName="ecnr" value="false" class="form-check-input inputcheck"> ECR
          
          <br><label for="dOB" class="lbl">Date of Birth</label>
          <app-date-picker  class="stdd w150" [maxDate]="maxDate" formControlName="dOB" [label]="'Date of birth'"></app-date-picker>
          
          <label for="placeOfBirth" class="lbl">Place of Birth</label>
          <app-text-input class="stdd w150" [label]="'Place of birth'" formControlName="placeOfBirth" ></app-text-input>
          
          <br><label for="address" class="lbl">Address</label>
          <app-text-input class="stdd w450" [label]="'address'" formControlName="address" ></app-text-input>
          
          <br><label for="city" class="lbl">City</label>
          <app-text-input class="stdd w150" [label]="'city'" formControlName="city"></app-text-input>
          <label for="pin" class="lbl" >PIN</label>
          <app-text-input class="stdd w150" [label]="'pin'" formControlName="pin" ></app-text-input>
          
          <br><label for="district" class="lbl" >District</label>
          <app-text-input class="stdd w150" [label]="'district'" formControlName="district" ></app-text-input>
          
          <label for="email" style="display: inline-block; width: 50px; font-size: small;" >Email</label>
          <app-text-input class="stdd w250" [label]="'email'" formControlName="email" ></app-text-input>
          
          <div class="stdd w500" *ngIf="candidate.id === 0" >
               <br><label for="password" class="lbl">Password</label>
               <app-text-input [label]="'Password'" [type]="'password'" formControlName="password" ></app-text-input>
               <app-text-input [label]="'Confirm Password'" [type]="'password'" ></app-text-input>
          </div>

          <div *ngIf="agents">
               <label for="referredBy" class="lbl">Referred By</label>
               <ng-select   
                    style="display: inline-block; font-size: smaller;width: 300px;" 
                    [items]="agents" 
                    [searchable]=true 
                    bindLabel = "customerName"
                    bindValue = "id"
                    formControlName="customerId"
                    (change)="getAgentValue($event)"
                    >
               </ng-select>
          </div>
          <br>
          
          
     </div>
     <div class="stdd col-6 mt-1" style="margin-left: 5px;">
           <tabset style="background-color:black; color: whitesmoke;" class="member-tabset" #memberTabs>
               <tab heading='Phones, Prof & Qualification' (selectTab)="onTabActivated($event)">
                    <h4 style="background-color: auto !important;">Phones</h4>
                    <div formArrayName="userPhones" style="font-size: small;" class="col-12 my-1 px-0">
                         <div class="stdd col-1">Sr No</div>
                         <div class="stdd col-4">Phone</div>
                         <div class="stdd col-2">Is Main</div>
                         <button type="button" (click)="addPhone()" class="stdd my-1 fa fa-plus" style="color: blue;"></button>
                         
                         <div *ngFor="let p of userPhones?.controls; let i=index">
                              <div [formGroupName]="i"> 
                                   <div class="stdd col-1">{{i+1}}</div>
                                   <div class="stdd col-4">
                                        <app-text-input [label]="'Mobile No'" formControlName="mobileNo" ></app-text-input>
                                   </div>
                                   <div class="stdd col-2">
                                        <input type="checkbox" formControlName="isMain" style="width: 50px; margin-left: 30; display: inline-block;" >
                                   </div>
                                   <!-- <input class="stdd w15" type="text" formControlName="candidateId"> -->

                                   <button (click)="removeUserPhone(i)" style="margin-left: 20px;" 
                                        class="btn w25 fa fa-trash" style="color:red; display: inline-block;"></button>
                              </div>
                         </div>
                    </div>
                    <br>
                    <label class="lbl">Professions</label>
                    <div formArrayName="userProfessions" style="font-size: small;" class="col-12 my-1 px-0">
                         <div class="stdd col-1" >Sr No</div>
                         <div class="stdd col-4" >Category</div>
                         <div class="stdd col-2" >Is Main</div>
                         <button type="button" (click)="addUserProfession()" class="my-1 fa fa-plus" style="color: blue;"></button>
                         <div *ngFor="let p of userProfessions?.controls; let i=index">
                              <div [formGroupName]="i"> 
                                   <div class="stdd col-1">{{i+1}}</div>
                                   <ng-select   
                                        class="stdd col-4"
                                        [items]="professions" 
                                        [searchable]=true 
                                        bindLabel = "professionName"
                                        bindValue = "id"
                                        formControlName="professionId"
                                        (change)="getProfessionValue($event)"
                                        >
                                   </ng-select>
                                   <input class="stdd col-2" type="checkbox" formControlName="isMain"  >
                                   <!-- <input class="stdd w15" type="text" readonly formControlName="candidateId"> -->
                                   <button (click)="removeUserProfession(i)" style="margin-left: 30px;" class="fa fa-trash" style="color:red; display: inline-block;"></button>
                              </div>
                         </div>
                    </div>
                    <br>
                    <label class="lbl">Qualifications</label>
                    <div formArrayName="userQualifications" style="font-size: small;" class="my-1 px-0">
                         <div style="width: 50px; display: inline-block;">Sr No</div>
                         <div style="width: 300px; display: inline-block;">Qualification</div>
                         <div style="width: 50px; margin-left: 10px; display: inline-block;">Is Main</div>
                         <button type="button" (click)="addQualification()" class="my-1 fa fa-plus" style="color: blue;"></button>
                         <div *ngFor="let p of userQualifications?.controls; let j=index">
                              <div [formGroupName]="j"> 
                                   <div style="width: 50px; display: inline-block;">{{j+1}}</div>
                                   <ng-select   
                                        class="stdd w300 py-0 my-0"
                                        [items]="qualifications" 
                                        [searchable]=true 
                                        bindLabel = "qualificationName"
                                        bindValue = "id"
                                        formControlName="qualificationId"
                                        (change)="getValues($event)"
                                        >
                                   </ng-select>
                                   <input type="checkbox" formControlName="isMain" style="width: 50px; margin-left: 30; display: inline-block;"  >
                                   <input class="stdd w15" type="text" formControlName="candidateId">
                                   <button (click)="removeUserQualification(j)" style="margin-left: 20px;" class="fa fa-trash" style="color:red; display: inline-block;"></button>
                              </div>
                         </div>
                    </div>
               </tab>
               <tab heading='Experience' (selectTab)="onTabActivated($event)"> 
                    <label class="lbl">Experiences</label>
                    <div formArrayName="userExperiences" style="height: 10px;font-size: small;" class="col-12 my-1 px-0">
                         <button type="button" (click)="addUserExp()" class="my-1 fa fa-plus" style="color: blue;"></button>
                         <div *ngFor="let p of userExperiences?.controls; let i=index">
                              <div [formGroupName]="i"> 
                                   <div class="stdd w100">
                                        <app-text-input [label]="'Sr No'" formControlName="srNo" ></app-text-input>
                                   </div>
                                   <div class="stdd w300">
                                        <app-text-input [label]="'Position'" formControlName="position" ></app-text-input>
                                   </div>
                                   <div class="stdd w400">
                                        <app-text-input [label]="'Company'" formControlName="company" ></app-text-input>
                                   </div>

                                   <div class="stdd w150">
                                        <app-date-picker
                                             [maxDate]="maxDate"
                                             [label]="'Worked From'"
                                             formControlName="workedFrom"
                                        ></app-date-picker>
                                   </div>
                                   
                                   
                                   <div class="stdd w150">
                                        <app-date-picker
                                             [maxDate]="maxDate"
                                             [label]="'Worked Upto'"
                                             formControlName = "workedUpto"
                                        ></app-date-picker>
                                   </div>
                                   <!-- <input class="stdd w15" type="text" formControlName="candidateId"> -->
                                   <button (click)="removeUserExp(i)" style="margin-left: 20px;" class="fa fa-trash" style="color:red; display: inline-block;"></button>
                                   </div>
                         </div>
                    </div>
               </tab>
               <tab heading='Attachments' (selectTab)="onTabActivated($event)">
                    <div class="stdd col-6" >File to upload</div>
                    <div class="stdd col-3">Type</div>
                    <!-- <button class="stdd pull-right fa fa-plus" type="button" (click)="addUserAttachment()" ></button> -->
                    <div formArrayName="userAttachments" style="height: 12px;" >

                         <div class="stdd" style="font-size: x-small;">
                              <input class="stdd" type="file" id="file" (change)="onFileInputChange($event)" >
                         </div>
                         <div *ngFor="let ph of userAttachments?.controls; let j=index"> 
                              <div [formGroupName]="j">
                                   
                                   <div class="stdd col-5">
                                        <app-text-input [label]="'File Name'" formControlName="name" ></app-text-input>
                                   </div>
                      
                                   <ng-select 
                                        class="stdd mx-10 w150 fSmaller"
                                        [items]="attachmentTypes" 
                                        [searchable]=true 
                                        bindLabel = "typeName"
                                        bindValue = "typeName"
                                        formControlName="attachmentType"
                                   >
                                   </ng-select>
                                   <button type="button" (click)="downloadattachment(j)" class="w25 mx-1 fa fa-download"></button>
                                   <button type="button" (click)="removeUserAttachment(j)" title="remove the attachment"
                                        style="margin-left: 20px;" class="w25 red fa fa-trash"></button>
                                   <!-- <input class="stdd w30 mx-5" type="text" readonly formControlName="candidateId"> -->
                                   <!-- <input type="number" formControlName="id" readonly class="stdd w15" >  -->
                              </div>
                         </div>
                    </div>
               </tab>
               <tab heading='QR Code' (selectTab)="onTabActivated($event)">
                    <label class="lbl">QR Code</label>
                    <div *ngIf="candidate.id">
                         <qr-code value="candidate.id" 
                         size="300" 
                         errorCorrectionLevel="M" />
                    </div>
               </tab>
          </tabset>


     </div>
   
      <div class="row" *ngIf="validationErrors">
         <ul class="text-danger">
             <li *ngFor="let error of validationErrors">
                 {{error}}
             </li>
         </ul>
     </div>

     
 
 </form>
 
 <!-- <div style="font-size: x-small;">{{registerForm.value | json }}</div> -->
 