
<div *ngIf="att">
    <div (click)= "getCandidateInterviewStatuses()" [ngClass]="showStepper ? 'fa fa-eye' : 'fa fa-eye-close'" ></div>
    
    <input type="checkbox" style="margin-left: 15px; margin-right: 15px;"
        class="form-check-input w15 hAlignCenter"
        [(ngModel)]="att.checked"
        (click)="selectedClicked()"
>
    <div class="stdd w50">{{att.orderNo}}</div>
    <div class="stdd w150">{{att.customerName}}</div>
    <app-text-input [label]="'Venue'" [(ngModel)]="att.interviewVenue" class="stdd w100" 
        title="Candidate Name - will be displayed in red if still not interviewed" id="interviewVenue" ></app-text-input>
    <div class="stdd w100">{{att.professionName}}</div>
    
    <div class="stdd w60" style="text-align: center;">{{att.applicationNo}}</div>
    <div style="width: 150px;" [ngClass]="att.interviewStatus==='Not Interviewed' ? 'stdd red' : 'stdd'">{{att.candidateName}}</div>
    
    <!-- pattern="\d{2}\/\d{2}\/\d{4}" -->
    <input type="text" id="scheduledFDrom"
        class="stddX"
        placeholder="Scheduled At"
        [(ngModel)]="att.scheduledFrom"
    >
    
    <input type="text" id="reportedAt"
        class="stddX"
        placeholder="Reported at"
        [(ngModel)]="att.reportedAt"
    >
    
    <input type="text" id="interviewedAt"
        class="stddX"
        placeholder="Interviewed At"
        [(ngModel)]="att.interviewedAt"
    >
    
    <button class="btn w15 fa fa-pencil" style="margin-left: 100px;" title="edit this assignment" (click)="editClicked()" ></button>
    <button class="btn w15 fa fa-bars" title="mark the candidate as reported for interview" (click)="reportedClicked()" ></button>
    <button class="btn w15 fa fa-trash" (click)="deleteClicked()" ></button>

    <br><label style="margin: 0 15px 0 575px; padding-top: 0px; font-size: smaller;">Interview Status</label>
    <ng-select class="stdd w200" 
        [items]="selectionStatuses"
        bindLabel="name"
        bindValue="name"
        labelForId="id"
        clearAllText="Clear"
        [(ngModel)]="att.interviewStatus"
        (change)="statusChangeClicked()"
    ></ng-select>
    <textarea name="remarks" [(ngModel)]="att.interviewerRemarks" id="remarks" class="stdd" rows="1" cols="70" 
        title="remarks by interviewer" placeholder="Remarks by interviewer"></textarea>
    <!-- <app-text-input [label]="'interviewer Remarks'" [(ngModel)]="att.interviewerRemarks" class="stdd w200" ></app-text-input> -->
    <button type="button" class="btn w15 fa fa-download" style="color: aliceblue;" title="download interviewer comments" 
        (click)="downloadattachment()" 
        ></button>
          
    <button type="button" class="btn w15 fa fa-upload" style="color: aliceblue;" 
        title="upload a new interviewer comment.  Any existing attachment will be REPLACED" 
        (click)="uploadattachment()" ></button>
    
    <div *ngIf="upload" style="font-size: x-small;">
        <input class="stdd" type="file" id="file" (change)="onFileInputChange($event)" >
        <button class="btn fa fa-window-close" (click)="upload = !upload" ></button>
    </div>

    <hr class="my-0">
    <div *ngIf="showStepper">
        <mat-horizontal-stepper labelPosition="bottom" linear>
            <mat-step label="Scheduled" 
                  completed="true">
            </mat-step>
            <mat-step label="Interviewed" 
                completed="candidateInterviewStatuses.interviewedAt !== null" >
            </mat-step>
            <mat-step label="Billing Address" 
                    completed="false" optional>
                <p>Billing Address Details</p>
                <div>
                    <button mat-button matStepperPrevious>
                        Back
                    </button>
                    <button mat-button matStepperNext>
                        Next
                    </button>
                </div>
            </mat-step>
            <mat-step label="Place Order" 
                    completed="false">
                <p>Order Details</p>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>
