.stdd {
    display: inline-block;
    font-size: smaller;
    vertical-align: top;
    margin: 0 2px 0 2px;
}

.margin2 {margin: 0 2px 0 2px;}

.b {font-weight: bold;}

.w15 {width: 15px;}
.w40 {width: 40px;}
.w50 {width: 50px;}
.w80 {width: 80px;}
.w100{width: 100px;}
.w125 {width: 125px;}
.w150 {width:150px;}
.w175 {width: 175px;}

.fontStretched {font-stretch: condensed}
.hAlignRight {text-align: right;}
.hAlignCentre {text-align: center;}

.btn {color:aliceblue; margin: 0 2px 0 2px; width: 20px; vertical-align: middle}

.icon {
    margin: 0 20px 0 20px;
    height: 12px;
    width: 12px;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
}
