<h4 class="w200">Industry Type Listing</h4>
<div style="display: inline-block; margin-left: 15px; vertical-align: top;">
    <pagination class="stdd"
         [totalItems]="pagination!.totalItems"
         [itemsPerPage]="pagination!.itemsPerPage"
         (pageChanged)="onPageChanged($event)"
         [maxSize]="10"
         previousText="&lsaquo;"
         nextText="&rsaquo;"
         firstText="&laquo;"
         lastText="&raquo;">
    ></pagination>
    
    <input (keyup.enter)="onSearch()" type="text" class="stdd fa-solid w200" #search placeholder="Search">
    <button (click)="onSearch()" title="searches the database based upon criteria entered in the search box" 
         class="stdd btn btn fa fa-search fa-2x"></button>
    <button (click)="onReset()" title="Resets the search criteria" 
         class="stdd btn fa fa-refresh fa-2x"></button>
    <button class="stdd btn fa fa-plus fa-2x" title="Add a new Category" (click)="addIndustry()" ></button>

    <button class="stdd btn fa fa-window-close fa-2x" routerLink="/administration" ></button>
</div>

<div class="container my-2">
    <div class="stdd w50 b" >Id</div>
    <div class="stdd w300 b" >Industry Type Name</div>

    <div *ngIf="!industries">No Industry Types on record</div>

    <div *ngFor="let cat of industries" class="row">
        <div class="stdd w50" style="text-align: right;">{{cat.id}}</div>
        <div class="stdd w300">{{cat.industryName}}</div>
        <button class="stdd btn w15 fa fa-pencil" style="margin-left: 15px;" (click)="editIndustry(cat.id, cat.industryName)" ></button>
        <button class="stdd btn w15 fa fa-trash red" style="margin-left: 5px;" (click)="deleteIndustry(cat.id)" ></button>
    </div>
</div>
    