<div class="modal-header my-0" *ngIf="sel" >
    <div class="stdd w100 b">Candidate:</div> 
    <div class="stdd w400 blue mx-1">{{candidateName}}</div>
    
    
</div>    

<div class="modal-body my-0">
    <form [formGroup]="form">
        <div class="mt-2" *ngIf="sel" >
           
            <div class="stdd w150 b">Customer</div>
            <div class="stdd w175">{{customerName}}</div>
            <div class="stdd pull-right">
                <button type="button" class="btn fa fa-save green " (click)="update()"></button>
                <button type="button" class="btn btn-close" aria-label="Close" (click)="bsModalRef.hide()"></button>
                <button class="btn red fa fa-trash fa-sm" (click)="deleteSel()" title="Delete this Selection"></button>
            </div>

            <br>
            <div class="stdd w150 b">Category Selected</div>
            <div class="stdd w175">{{categoryRefAndName}}</div>
        
            <br>
            <div class="stdd w150 b">Selected On</div>
            <!-- <div class="stdd w150">
                <app-date-picker [label]="'Selected On'" formControlName="selectedOn" ></app-date-picker>
            </div> -->
             <input class="stdd w150" type="text" placeholder="Selected On" 
                formControlName="selectedOn" bsDatepicker 
                [bsValue]="bsValueDate" [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }">
        
            <!-- <input type="date" formControlName="selectedOn" placeholder="Selected On" class="stdd w150"> -->
            <br>
            <label class="stdd w150 b" >Selection Status</label>
            <div class="stdd w175">
                <ng-select 
                     style="border: color(from color srgb r g b);"
                     [items]="statuses"
                     bindLabel="status"
                     bindValue="status"
                     labelForId="status"
                     clearAllText="Clear"
                     formControlName="selectionStatus"
                ></ng-select>
            </div>
       
        </div>
    </form>
</div>

<div class="modal-footer"></div>