<div class="modal-header">
    <h4 class="stdd b">Candidate Assessment</h4>
    
    <button type="button" class="pull-right fa fa-window-close" (click)="bsModalRef.hide()"></button>
    
</div>

<div class="modal-body">
    <div *ngIf="!assess">
        No assessment record available for the candidate against the given Order item
    </div>
    <form [formGroup]="form" (ngSubmit)="form.valid" autocomplete="off" *ngIf="assess" >
        <div class="stdd mt-2">
            <label class="stdd w100">Application No</label>
            <div class="stdd w50 b">{{assess.applicationNo}}</div>
            <label class="stdd w125">Candidate Name</label>
            <div class="stdd w250 b">{{assess.candidateName}}</div>
            
            <br>
            <label class="stdd w100">Customer</label>
            <div class="stdd w250 b"> {{assess.customerName}}</div>
            <label class="stdd w100">Category Name</label>
            <div class="stdd w250 b"> {{assess.professionName}}</div>
            <br>
            <label class="stdd w100">Assessed On</label>
            <div class="stdd w125 b">{{assess.assessedOn | date: 'dd-MMM-yy'}}</div>
            
            <label class="stdd w50">Grade:</label> 
            <div class="stdd w50 b">{{assess.assessResult}}</div> 

            <hr class="b my-0 py-0">
            <label class="stdd w50 vAlignM">Ass'd</label>
            <label class="stdd w50 vAlignM">Q No.</label>
            <label class="stdd w425 vAlignM">Question</label>
            <label class="stdd w50 vAlignM">Max<br>Points</label>
            <label class="stdd w50 vAlignM">Points</label>
            <hr class="b my-0 py-0">

            <div *ngFor="let item of assess.assessmentItemsDto">
                <div class="stdd w50 alignC">{{item.assessed ? "Y" : "N"}}</div>
                <div class="stdd w50 alignC">{{item.questionNo}}</div>
                <textarea class="stdd" rows="1" cols="60" name="question" id="question">{{item.question}}</textarea>
                <div class="stdd w50 alignR">{{item.maxPoints}}</div>
                <div class="stdd w50 alignR">{{item.points}}</div>
            </div>
            
            <label style="margin-left: 465px;" class="stdd w50 b">Total</label>
                <div class="stdd w50 alignR b">{{totalMaxPoints}}</div>
                <div class="stdd w50 alignR b">{{totalPoints}}</div>
            </div>
    </form>
</div>

<div class="modal-footer"></div>

