
.stdd {
    display: inline-block;
    font-size: small;
    margin: 0 2px 0 2px;
}

.alignR {text-align: right;}
.alignC {text-align: center;}
.vAlignM {vertical-align: middle;}

.w50 {width: 50px;}
.w250 {width: 250px;}
.w100 {width: 100px;}
.w125 {width: 125px;}
.w150 {width: 150px;}
.w425 {width: 420px;}

.b {font-weight: bold;}