<div class="modal-header">
    <div class="stdd" style="font-weight: bold">Candidate Assessment</div>
    
    <button type="button" class="stdd pull-right" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
    
</div>

<div class="modal-body">
    <div *ngIf="!assess">
        No assessment record available for the candidate against the given Order item
    </div>
    <form [formGroup]="form" (ngSubmit)="form.valid" autocomplete="off" *ngIf="assess" >
        <div class="stdd mt-2">
            <label class="lbl w100">Application No</label>
            <div class="stdd w50">{{assess.applicationNo}}</div>
            <label class="lbl w125 mx-5">Candidate Name</label>
            <div class="stdd w250">{{assess.candidateName}}</div>
            
            <br>
            <label class="lbl w100">Customer</label>
            <div class="stdd w250">
                <app-text-input [label]="'Customer'" formControlName="customerName"></app-text-input>
            </div>
            <label class="lbl w100 mx-2">Category Name</label>
            <div class="stdd w250">
                <app-text-input [label]="'Category'" formControlName="professionName" style="font-size: small;"></app-text-input>
            </div>
            <br>
            <label class="lbl w100 mx-2">Assessed On</label>
            <div class="stdd w125">{{assess.assessedOn | date: 'dd-MMM-yy'}}</div>
            
            <label class="lbl w50 mx-2">Result</label>
            <div class="stdd w50">
                <app-text-input 
                    [label]="'Assess Result'" formControlName="assessResult" style="font-size: small; font-weight: bold;"
                ></app-text-input>
            </div>
            <br>
            <label class="lbl w25 mx-2">Ass'd</label>
            <label class="lbl w50 mx-2">Q No.</label>
            <label class="lbl w400 mx-2">Question</label>
            
            <label class="lbl w50 mx-2">Max<br>Points</label>
            <label class="lbl w50 mx-2">Points</label>
            
    
            <div formArrayName="items" class="formArray">
                <div *ngFor="let item of items.controls; let qIndex=index">
                    <div [formGroupName]="qIndex">
                        <input class="stdd w25 mx-2" type="checkbox" formControlName="assessed" style="font-size: small;">
                        <div class="stdd w50 mx-2">
                            <app-text-input [label]="'Q No'" formControlName="questionNo" style="font-size: small;"></app-text-input>
                        </div>
                        <div class="stdd w400 mx-2">
                            <app-text-input [label]="'Question'" formControlName="question" style="font-size: small;" ></app-text-input>
                        </div>
                        <div class="stdd w50 mx-2 alignR">
                            <app-text-input [label]="'Max Points'" formControlName="maxPoints" style="font-size: small; text-align: right;" ></app-text-input>
                        </div>
                        <div class="stdd w50 mx-2 alignR">
                            <app-text-input [label]="'Points'" formControlName="points" style="font-size: small; text-align: right;" ></app-text-input>
                        </div>
                    </div>
                    
                </div>
                <label style="margin-left: 458px;" class="lbl w50 b">Total</label>
                    <div class="stdd w50 alignR mx-2 b">{{totalMaxPoints}}</div>
                    <div class="stdd w50 alignR mx-2 b">{{totalPoints}}</div>
            </div>
                   
        </div>
    </form>
</div>

<div class="modal-footer"></div>

