<div class="modal-header my-0" *ngIf="dep">
    <h6>Edit Deployment records</h6>
    <button class="btn fa fa-save fa-2x" style="margin-left: 200px;"
    title="edit emp data" (click)="updateDeployment()" ></button>
    <button class="btn fa fa-window-close pull-right" title="Close" (click)="close()" ></button>
</div>

<div class="modal-body my-0" *ngIf="dep" >
    <form [formGroup]="form">
        <label for="applicationNo" class="stdd w125 b">Candidate:</label> 
        <div class="stdd w150" >{{candidateName}}</div>
        
        <label for="customerName" class="stdd w125 b">Customer:</label> 
            <div class="stdd w150">{{companyName}}</div>
        <br><label for="customerName" class="stdd w125 b">Category Ref</label> 
            <div class="stdd w150">{{categoryRef}}</div>
        <label class="stdd w50 b">ECNR</label> 
        <div class="stdd w50">{{dep.ecnr ? 'Yes' : 'No'}}</div>
        
        <br><label class="stdd w125 b">Selected On</label>
        <div class="stdd w150">{{dep.selectedOn | date : 'dd-MMM-yy'}}</div>
        <label class="stdd w125 b">Current Status:</label>
        <div class="stdd w250">{{dep.currentStatus}}</div>

        <hr class="my-0">
        <label class="stdd w110 b vMiddle">Date</label> 
        <label class="stdd w200 b vMiddle">Process Name</label> 
        <label class="stdd w200 b vMiddle">Next Process</label> 
        <label class="stdd w110 b vMiddle">Next Process<br>Estimated Dt</label>
        <button class="btn fa fa-plus pull-right" (click)="addDepItem()" ></button>
        
        <div formArrayName="depItems">
            <div *ngFor="let item of depItems.controls; let i=index;">
                <div [formGroupName]="i">

                    <input class="stdd w100" type="text" placeholder="Selected On" 
                        formControlName="transactionDate" bsDatepicker 
                        [bsValue]="bsValueDate" 
                        [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }">

                    <ng-select
                        class="stdd w200"
                        style="height: fit-content; border-color: black;"
                        [items]="depStatusAndNames"
                        bindLabel="name"
                        bindValue="id"
                        labelForId="id"
                        formControlName="sequence"
                    ></ng-select>
      
                    <ng-select 
                        class="stdd w200"
                        style="border:rgb(from color r g b);"
                        [items]="depStatusAndNames"
                        bindLabel="name"
                        bindValue="id"
                        labelForId="id"
                        clearAllText="Clear"
                        formControlName="nextSequence"
                    ></ng-select>
                    
                        
                    <input class="stdd w110" type="text" placeholder="Selected On" 
                        formControlName="nextSequenceDate" bsDatepicker 
                        [bsValue]="bsValueDate" 
                        [bsConfig]="{dateInputFormat: 'YYYY-MM-DD' }">
                    
                    <button class="btn w25 fa fa-trash fa-sm red" (click)="removeDepItem(i)" ></button>
                </div>
            </div>

        </div>
    </form>


</div>

<div class="modal-footer">
    
</div>