.stdd {
    display: inline-block;
    font-size: small;
    margin: 0px 2px 0px 2px;
    padding: 0px;
    vertical-align: top;
}

.vMiddle {vertical-align: middle;}

.b {font-weight: bold;}

.red {color: red;}


.w50 {width: 50px;}
.w100 {width: 100px;}
.w110 {width: 110px;}
.w150 {width: 150px; word-wrap: normal;}
.w125 {width: 125px;}
.w200 {width: 200px;}
.w250 {width: 250px;}

