<h4>Listing of Customers/Vendors/Associates</h4>

<pagination *ngIf="pagination !== undefined" style="display: inline-block;"
        [totalItems]="pagination!.totalItems"
        [itemsPerPage]="pagination!.itemsPerPage"
        (pageChanged)="onPageChanged($event)"
        [maxSize]="10"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">
    ></pagination>

    <input (keyup.enter)="onSearch()" type="text" class="stdd fa-solid fa-magnifying-glass w200" #search placeholder="Search">
    <button (click)="onSearch()" title="search the text entered" class="btn"><mat-icon>find</mat-icon></button>

    <label class="lbl w100" style="text-align: right; margin-right:5px;">Type</label>
    <span >Customer</span><input type="radio" id="customerType" 
        name="customerType" [(ngModel)]="cParams.customerType" value="customer" class="btn inputcheck form-check-input">
    <span>Associate</span><input type="radio" id="customerType" 
        name="customerType" [(ngModel)]="cParams.customerType" value="associate" class="btn inputcheck form-check-input">
    <span>Vendor</span><input type="radio" id="customerType" 
        name="customerType" [(ngModel)]="cParams.customerType" value="vendor" class="btn inputcheck form-check-input">

    <button class="btn" (click)="applyCustomerType()" 
        title="retrieves records from database based upon customerType selected">
        <mat-icon>check</mat-icon>
    </button>

    <button (click)="onReset()" title="resets search parameters" 
        class="btn"><mat-icon>refresh</mat-icon></button>

    <button (click)="addClicked()" title="Add new "  
        class="btn"><mat-icon>add_box</mat-icon></button>

    <button printSectionId="print-section" class="btn"
        printTitle="printTitle"
        [previewOnly]="false"
        [useExistingCss]="true"
        ngxPrint
        title="shows the report in pdf format and enables printing" 
        style="display:inline-block; margin-left: 50px;"
        (click)="generatePDF()"
    >
        <mat-icon>print</mat-icon>
    </button>

    <button (click)="close()" title="close this page" 
        class="btn"><mat-icon>cancel</mat-icon></button>

    <hr class="my-0">
    <label class="lbl w35" style="margin-left: 25px !important;">Sel</label>
    <label class="lbl w50" style="margin-left: 10px;">Type</label>
    <label class="lbl w200">Customer Name</label>
    <label class="lbl w125">Known As</label>
    <label class="lbl w100">City</label>
    <label class="lbl w125">Country</label>
    <hr>
    
    <div *ngIf="!customerDtos">
        No matching customers on record
    </div>
    <!-- <div class="col-3" *ngIf="display">
        <div layout="column" flex style="overflow: scroll;">
            <div id="content" ng-view flex *ngFor="let hist of history">
                <div class="stdd w100 cursorPointer" (click)="displayFeedback(hist.feedbackId)">{{hist.feedbackIssueDate | date: 'ddMMMyy'}}</div>
                <div class="stdd w100 cursorPointer" (click)="displayFeedback(hist.feedbackId)">{{hist.feedbackRecdDate | date: 'ddMMMyy'}}</div>
            </div>
        </div>
    </div> -->
    
    <div *ngIf="customerDtos" class="col-9">
        <div *ngIf="!isPrintPDF">
            <div *ngFor="let dto of customerDtos" >
                <app-customer-line
                    [isPrintPDF]=false
                    [dto]="dto"
                    (editEvent)="editClicked($event)"
                    (deleteClicked)="deleteClicked($event)"
                    (feedbackEvent)="feedbackClicked($event)"
                    (EvaluationEvent)="evaluationClicked($event)"    
                    (displayHistoryEvent)="displayHistory($event)"
                ></app-customer-line>
            </div>
        </div>
        <div id="print-section" *ngIf="isPrintPDF">
            <label style="font-weight: bold; font-size: large;">{{printtitle}}</label>
            <br><label class="lbl w50" style="margin-left: 10px;">Type</label>
            <label class="lbl w200">Customer Name</label>
            <label class="lbl w125">Known As</label>
            <label class="lbl w100">City</label>
            <label class="lbl w125">Country</label>
            <hr>
            <div *ngFor="let dto of customersForPrint" >
                <app-customer-line
                    [isPrintPDF]=true
                    [dto]="dto"
                ></app-customer-line>
            </div>
        </div>
    </div>

   