<div *ngIf="flight" class="modal-header">
    
</div>

<div *ngIf="flight" modal-body style="margin-left: 25px;">
    <form>
        <div style="vertical-align: top;">
            <div class="form-group pull-right">
                <button class="btn stdd fa fa-window-close fa-2x" (click)="bsModalRef.hide()" ></button>
                <button class="stdd btn fa fa-trash fa-2x red" (click)="deleteCandidateFlight()" ></button>
                <button class="stdd btn fa fa-save fa-2x" (click)="saveCandidateFlight()" ></button>
            </div>
            <br>
            <label class="lbl w150">Airport of Boarding</label>
            <input type="text" class="form-control stdd w150" name="boardingairport"
                [(ngModel)]="flight.airportOfBoarding" >
            
            <label class="lbl w150">ETD at Boarding Port </label>
            <input class="form-control stdd w100" id="eTDBoarding" name="eTDBoarding" 
                    type="text" placeholder="ETD at Boarding Port" [(ngModel)]="flight.eTD_Boarding" 
                    bsDatepicker name="etdBoarding"
                    [bsValue]="bsValueDate" 
                    [bsConfig]="{dateInputFormat: 'YYYY-MMM-DD hh:nn' }">

            <div class="stdd" style="vertical-align: top;" *ngIf="flight.airportVia !=='' && flight.airportVia!==null ">
                <div class="form-group" *ngIf="flight.airportVia !== '' || flight.airportVia !== null" style="border:color(from color srgb r g b); border-width: 1px;">
                    <label class="lbl w150 gray">Airport Via</label>
                    <input type="text" class="form-control stdd w150" id="airportVia" name="airportVia" 
                        [(ngModel)]="flight.airportVia" >
                </div>
                
                <label class="lbl w150 gray">ETA</label>
                <input class="stdd w150" type="text" placeholder="ETA" 
                    [(ngModel)]="flight.eTA_Via" bsDatepicker 
                    [bsValue]="bsValueDate" id="etaVia" name="etaVia"
                    [bsConfig]="{dateInputFormat: 'YYYY-MMM-DD hh:nn' }">
    
                <input class="stdd w150" type="text" placeholder="ETA" 
                    [(ngModel)]="flight.eTD_Via" bsDatepicker 
                    [bsValue]="bsValueDate" id="etdVia" name="etdVia"
                    [bsConfig]="{dateInputFormat: 'YYYY-MMM-DD hh:nn' }">
            </div>
            
            <br>
            <label class="lbl w150">DestInation Airport</label>
            <input type="text" class="stdd w150" [(ngModel)]="flight.airportOfDestination" 
                id="destinationairport" name="destinationairport">
            
            <br>
            <label class="lbl w150">ETA at Destination</label>
            <input class="stdd w150" type="text" placeholder="ETA" 
                [(ngModel)]="flight.eTA_Destination" bsDatepicker 
                [bsValue]="bsValueDate" id="etaDestination" name="etaDestination"
                [bsConfig]="{dateInputFormat: 'YYYY-MMM-DD hh:nn' }">
        </div>    
        
    </form>

</div>

<div class="modal-footer"></div>