<h4 style="display: inline-block; font-weight: bold;">Prospective Candidates</h4>
<div style="display: inline-block; margin-left: 15px; vertical-align: top;">
     <pagination class="stdd mx-2" *ngIf="pagination !== undefined"
          [totalItems]="pagination!.totalItems"
          [itemsPerPage]="pagination!.itemsPerPage"
          (pageChanged)="onPageChanged($event)"
          [maxSize]="10"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;">
     ></pagination>

     
    <input (keyup.enter)="onSearch()" type="text" class="stdd fa-solid fa-magnifying-glass w200" #search placeholder="Search">
    <button (click)="onSearch()" title="search the text entered" class="btn fa-solid fa-find fa-2x mx-2"></button>

    <button (click)="onReset()" class="btn fa fa-refresh fa-2x mx-2"></button>
    
    <label class="lbl w100 mx-2" title="The paged list that will retreive records based upon the status you select" >Choose Status</label>
        <ng-select class="stdd"
            style="border-style: double; width: 100px; font-size: small;"
            [items]="paramsStatus"
            bindLabel="status"
            bindValue="status"
            labelForId="status"
            clearAllText="Clear"
            [(ngModel)]="pParams.statusClass"
    ></ng-select>
    <button class="btn fa fa-filter fa-2x" title="filters the records based upon the status selected" 
        (click)="setParameters()" ></button>
    <button class="btn fa fa-window-close fa-2x pull-right" title="go back" routerLink="/candidates" ></button>
</div>

<div class="form-inline">
    <label class="lbl w35">Sel</label>
    <label class="lbl w125" style="margin-left: 15px;">Candidate Name</label>
    <label class="lbl w150">Category Ref</label>
    <label class="lbl w100">Phone No</label>
    <label class="lbl w150">Email</label>
    <label class="lbl w100">Source</label>
    <label class="lbl w75">Person<br>Type</label>
    <label class="lbl w75">Person Id</label>
    <label class="lbl w75">Nationality</label>
    <label class="lbl w75">Date<br>Registered</label>
    <label class="lbl w100">Status</label>
    <label class="lbl w100">Duration</label>

</div>
<hr>

<div *ngIf="!prospectives" class="my-2">
    No prospective candidates found matching your criteria
</div>
<div *ngIf="prospectives">
    <div *ngFor="let pros of prospectives">
        <app-prospective-line
            [prospective]="pros"
            (deleteEvent)="deleteProspectiveClicked($event)"
            (editEvent)="editCallRecord($event, pros)"
            (selectedEvent)="selectedClicked($event)"
            (convertToCandidateEvent)="convertProspectiveToCandidate($event)"
        ></app-prospective-line>
    </div>
</div>